@import "../../main";

:local(.sponsorLogo) {
    width: 15vw;
    max-width: 185px;
    max-height: 100px;
    padding-bottom: 48px;

    @include media ('>768px') {
        margin-bottom: 36px
    }
}
