* {
    margin: 0;
}
@font-face {
  font-family: 'Elliot';
  src: url("../fonts/Elliot.otf"); }
@font-face {
  font-family: 'Elliot-Bold';
  src: url("../fonts/Elliot-Bold.otf"); }
@font-face {
  font-family: 'Elliot-Light';
  src: url("../fonts/Elliot-Light.otf"); }
@font-face {
  font-family: 'Elliot-Thin';
  src: url("../fonts/Elliot-Thin.otf"); }
body {
    /* Location of the image */
/*    background-image: url(../images/background.jpg);*/

    /* Background image is centered vertically and horizontally at all times */
    background-position:center top;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;

}
.close {
    position: absolute;
    left: 10.8vw;
    top: .7vw;
    width: 32px;
    height: 32px;
    opacity: 1 !important;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 13px;
    content: ' ';
    height: 32px;
    width: 2px;
    background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* All Device Style */
.exit {
    display: none;
}
/* font Styles */
.center-all {
    text-align: -webkit-center;
}
.elliot {
    font-family:"Elliot";
}
.elliot-thin {
    font-family: "Elliot-Thin";
}
.elliot-bold {
    font-family:"Elliot-Bold";
}
.dark {
    color: #333!important;
}
.enhance {
    font-size: 30px;
}
/* Footer Styles */
    footer {
        background-color: #FF2241;
        padding-top: 7vh !important;
    }
    .footer-text p {
        color: #E2E2E2 !important;
        font-family: "Elliot-Thin";
    }
    .footer-nav ul li {
        padding-left: 10vw;
        width: 14vw;
        max-width: 250px !important;
    }
    .footer-nav .nav {
        padding-top: .3vh;
        padding-bottom: 5.4vh;
    }
    .footer-nav a {
        font-size: 12.5px;
        font-family: "Elliot" !important;
        color: white !important;
        text-decoration: none;
    }
    .footer-text .special {
        padding-left: 10vw;
        padding-top: 8.3vh;
        max-width: 1000px;
    }
    .footer-text .copyright {
        padding-left: 10vw;
        padding-top: 4.4vh;
        padding-bottom: 8.0vh;
        max-width: 1000px;
    }
    .circle-footer {
        width: 10px;
        height: 10px;
        float: right;
        position: absolute;
        z-index: 100;
        background: white;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-top: 6px;
    }
    .line-footer {
        margin-top: 10px;
        width: 31vw;
        max-width: 235px;
        height: 2px;
        float: right;
        position: absolute;
        z-index: 100;
        background: white;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .contact-btn, .contact-btn a, .contact-btn a:hover{
        color: white;
        background-color: #FF2241;
        padding: 0.9vw 1.7vw !important;
        font-family: 'Elliot';
        font-size: calc(6px + .52vw) !important;;
        text-transform: uppercase;
        letter-spacing: 1.9px;
    }
    .btn {
         border-radius: 0 !important;
    }
    .label-elliot {
        font-size: calc(7px + .365vw) !important;
        font-family: "Elliot";
        color: #FF2241;
    }
    /*Contact Form Global Styles */
    .contact-splash-words {
        color: #ffffff;
        padding-top: 7.5vw;
        padding-left: 11.7vw !important;
        width: 100%;
        height: 19.8vw;
        background-image: url(../img/contact_splash.png);
        /*background-position: left bottom;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .contact-splash-words .title {
        font-size: 4.43vw;
        color: #ffffff !important;
    }

    .contact-heading{
        margin-top: -.245vw;
        margin-left: 2.7vw;
        font-size: calc(20px + 1.04vw) !important;
        font-family: "Elliot";
        text-transform: uppercase;
        line-height: 2.6vw;
    }

    .contact-subheader {
        font-size: calc(20px + 1.03vw);
        text-transform: uppercase;
        padding-left: 2.65vw !important;
        letter-spacing: .02em;
    }
    .contact-description {
        letter-spacing: .02em;
        font-size: calc(10px + .52vw);
        padding-left: 2.65vw !important;
        line-height: calc(16px + .835vw);
    }
    .contact-description p {
        width: 27.9vw;
        min-width: 280px;
    }
    .contact-top-buffer, .contact-body-buffer {
        margin-top:3.9vw;
    }
    input, textarea, select {
        font-family: "Elliot" !important;
        font-size: calc(10px + .52vw) !important;
    }
    .form-control {
        padding: 0 0 0.5vw 0 !important;
        border: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .form-group{
        margin-bottom: 4.1vw !important;
    }

    hr {
    margin-top: 0px !important;
    margin-bottom: 2px !important;
    color: #000 !important;
    border: 0 !important;
    border-top: 1px solid #000 !important;
    }

    .red-hr {
    margin-top: 0px !important;
    margin-bottom: 2px !important;
    color: #000 !important;
    border: 0 !important;
    border-top: 1px solid #FF2241 !important;
    }



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
    /*NAv Color Change*/
    .nav {

        top: 0 !important;
    }
    /*Nav Padding*/
    #nav-background-color {
        background: none;
    }
    .p-r-9 {
        padding-right: 9.5vw !important;
    }
    .p-l-12 {
        padding-left: 12.4vw !important;
    }
    /*Menu Styles*/
    .navbar-nav>li>a {
        font-family: "Elliot-Thin";
        color: white;
        padding-top: 2.1vw !important;
        font-size: calc(11px + .25vw);
        letter-spacing: 0px !important;

    }
    .navbar-nav>li>a:hover{
        color: black;
    }
    a.navbar-brand.title.p-l-12.mobile-hide:link, a.navbar-brand.title.p-l-12.mobile-hide:visited, a.navbar-brand.title.p-l-12.mobile-hide:hover, a.navbar-brand.title.p-l-12.mobile-hide:active{
        padding-top: 2.1vw !important;
        font-size: calc(11px + .40vw) !important;
/*        font-size: .98vw !important;*/
        font-family: "Elliot" !important;
        text-transform: uppercase;
        color: white !important;
        letter-spacing: 0;
    }
    ul.nav.navbar-nav.navbar-right.p-r-9>li:last-child {
        background-color: #FF2241;
        width: 6.9vw;
        height: 5.05vw !important;
        margin-right: 2.1vw;
    }
    .navbar-inner ul li {
        width: 7vw;
        max-width: 179px;
        text-align: center;
    }
    .title {
        font-family: "Elliot";
        text-transform: uppercase;
        color: white !important;
    }

    /*Footer Styler */
    .footer-nav a {
        font-size: .83vw;
        font-family: "Elliot" !important;
        color: white !important;
    }

    /* Container Styles */
    .tawis-padding {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    /*    Splash Section*/
    .splash-words {
        color: #ffffff;
        padding-top: 18vw;
        padding-left: 12.4vw !important;
        width: 100%;
        height: 37.9vw;
        background-image: url(../img/background.jpg);
        /*background-position: left bottom;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .splash-words h1 {
        font-size: 4.5vw;
        font-family: "Elliot-Bold";
        text-transform: uppercase;
        color: white !important;
    }
    .splash-date {
        font-size: 2.7vw !important;
        font-family: "Elliot-Thin" !important;
        padding-left: 7px;
    }
     .splash-location {
        font-size: calc(10px + .204vw) !important;
        font-family: "Elliot-Thin" !important;
    }
    .top-buffer {
        margin-top:5vw;
    }
    .small-top {
        margin-top:30px;
    }

    .recap {
        width:100%;
        height: 100%;
        margin: 0 auto 0 auto;
    }
    .recap-recap {
        background-color: #000000;
        float:left;
        height: 98.7vh;
        width: 50%;
        z-index: -1;
    }
    .recap-info {
        font-family: "Elliot-Light";
        color: #ffffff;
        width: 60%;
        margin: 32.15% auto 0 auto;
        margin-left: 20%;
        margin-bottom: 2vw;
    }
    .recap-info h3 {
        line-height: 140%;
        letter-spacing: .1em;
        font-size: 1.85vw;
        font-family: "Elliot-Light";
    }
    .recap-info p {
        line-height: 150%;
        letter-spacing: .1em;
        font-size: 1.4vw;
        font-family: "Elliot-Thin";
        margin-top: 2.25vh;
    }
    .recap-info p:last-child {
         line-height: 150%;
         letter-spacing: .1em;
         font-size: 1vw;
         margin-top: 2vw;
         font-family: "Elliot-Thin";
     }
    .recap-video {
        position: absolute;
        right: 0%;
    }
    .TAW-Video {
        width: 56vw;
        height: 31.5vw;
        z-index: 102 !important;
        padding-left: -4vw;
        margin-bottom: 0vh;
        margin-left: -6vw;
        margin-top: 20vh;

    }
    .circle-recap {
         width: 10px;
         height: 10px;
         float: right;
         z-index: 100;
         margin-top: 1.5vh;
         margin-right: 36.5vw;
         background: white;
         -moz-border-radius: 10px;
         -webkit-border-radius: 10px;
         border-radius: 10px;
     }
     .left-off{
        margin-right: 15px;
     }
    .line-recap1 {
        width: 2px;
        height: 27.8vw;
        float: right;
        z-index: 100;
        margin-top: 0vh;
        margin-right: 36.7vw;
        background: white;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .line-recap2 {
        width: 2px;
        height: 18vh;
        float: left;
        z-index: 999;
        margin-top: 0vh;
        margin-left: 11.6vw;
        background-color: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .mobile-ready-img {
        display: none;
        width: 100%;
        height: 4vh;
    }
    .come-hang {
        color: black;
        background-color: #ffffff;
        width: 100%;
    }
    .come-hang h2 {
        margin-top: 4.50vw;
        font-size: 2vw;
        width: 30vw;
        max-width: 1000px;
        font-family: "Elliot";
    }
    .offer {
        width: 30vw;
        margin-top: 4.1vw;
        margin-left: 20.3vw;
    }
    .offer h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Light";
    }
    .offer p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        margin-top: 1.8vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }
    .date {
        width: 21vw !important;
        height: 12.1vw;
        margin-left: 7.30vw;
        margin-top: 4.1vw;
        font-size: 1.25vw;
        font-family: "Elliot-Thin";
        line-height: .5;
    }
    .month {
        margin-top: 1vw;
        font-size: 6.15vw;
        margin-left: -.8vw;
    }
    .days {
        font-size: 6.15vw;
        margin-left: 3.6vw;
        width: 24vw;
        max-width: 750px;
        padding-top: 20px;
    }
    .come {
        width: 30vw;
        margin-left: 45.20vw;
        margin-top: 5.85vw;
    }
    .come h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Light";
        margin-left: -.15vw;
    }
    .come p {
        font-size: 1.04vw;
        font-family: "Elliot-Light";
        margin-top: 1.40vw;
        line-height: 1.67vw;
        width: 32vw;
        height: 8.30vw;
    }
    .circle-come-hang {
        width: 10px;
        height: 10px;
        float: right;
        z-index: 101;
        margin-right: 12.3vw;
        background: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .line-come-hang {
        width: 2px;
        height: 22.85vw;
        float: right;
        z-index: 100;
        margin-top: 0vh;
        margin-right: -0.4vw;
        background: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .speakers {
        width: 100%;
        height: 49.85vw;
    }
    .speakers-title h2{
        font-family: Elliot;
        margin-top: -3vw;
        margin-bottom: 4.70vw;
        margin-left: .8vw;
        font-size: 2.11vw !important;
        width: 20vw;
        max-width: 1000px;
        letter-spacing: -.0px;
    }
    .speaker-img-1 {
        font-family: "Elliot-Light";
        text-align: left;
        margin-left: 11.8vw;
        padding-left: 200px;
    }
    .speaker-img-1 h2 {
        margin-top: 2.5vw;
        margin-left: .01vw;
        letter-spacing: .01em;
        width: 400px;
    }
    .speaker-img {
        font-family: "Elliot-Light";
        text-align: left;
/*        margin-left: 9.55vw;*/
        margin-top: .05vw;
/*        padding-left: 200px;*/
    }
    .speaker-img img{
        width: 22.5vw;
        height: 29.3vw;
    }
    .speaker-img h2 {
        margin-top: 2.5vw;
        margin-left: -.22vw;
    }
    .speaker-img-1 p {
        margin-top: .85vw;
        font-size: 1.07vw !important;
        width: 25.5vw;
        max-width: 490px;
    }
   .speaker-img p {
        margin-top: .85vw;
        font-size: 1.07vw !important;
        width: 25.5vw;
        max-width: 490px;
        margin-left: -4px;
    }
    .speaker-p-3 {
        margin-left: -.4vw !important;
    }
    .row-spacer {
        height: 3.85vw;
        max-height: 80px;
    }
    .speaker-viewall{
        align-content: center;
        font-size: .87vw;
        letter-spacing: .6px;
        text-align: center;
        width: inherit;
    }
    .speaker-viewall a:link, a:visited, a:hover, a:active {
        font-size: .75vw;
        font-family: Elliot-Bold;
        letter-spacing: 1.5px;
    }
    .circle-speakers {
        width: 10px;
        height: 10px;
        float: left;
        z-index: 100;
        margin-left: 12.3vw;
        background: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .line-speakers {
        width: 2px;
        height: 14.18vw;
        float: left;
        z-index: 100;
        margin-left: -6px;
        margin-top: 2px;
        margin-right: -0.4vw;
        background: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .sponsors {
        background-color: #E6E6E6;
        width: 100%;
        z-index: 100;
        margin-top: 6.5vw !important;
        height: 29vw;
    }
    img.sponsor-img {
/*        min-width: 214px !important;*/
        width: 15vw;
        margin-left: 8vw;
        padding-right: -1.5vw;
    }
    .sponsor-top{
        padding-top: 8.68vw;
    }
    .sponsor-want{
        align-content: center;
        text-align: center;
        width: inherit;
        margin-top: 10px;
    }
    .sponsor-want a:link, .sponsor-want a:visited, .sponsor-want a:hover, .sponsor-want a:active {
        font-size: 1.04vw !important;
        font-family: "Elliot-Bold";
        letter-spacing: 1.5px;
    }
/*    ABOUT PAGE ABOUT PAGE ABOUT PAGEABOUT PAGE*/
    .about-also-checkout a, .about-also-checkout a:hover {
        color: white;
    }
    .about-splash-words {
        color: #ffffff;
        padding-top: 7.5vw;
        padding-left: 11.7vw !important;
        width: 100%;
        height: 19.8vw;
        background-image: url(../img/about_splash.jpg);
        /*background-position: left bottom;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .about-splash-words h1 {
        font-size: 4.5vw;
        font-family: "Elliot-Bold";
    }
    .about-history {
        margin-top: -.245vw;
        margin-left: 2.7vw;
        font-size: calc(20px + 1.04vw) !important;
        font-family: "Elliot";
        line-height: 2.6vw;
    }
    .about-history h2 {
        font-size: 6.67vw !important;
    }
    .about-historyMaking {
        margin-left: 1.56vw;
    }
    .about {
        color: black;
        background-color: #ffffff;
        width: 100%;
    }
    .about h2 {
        margin-top: 4.70vw;
        margin-left: 10.93vw;
        font-size: 2.10vw;
        width: 20vw;
        max-width: 1000px;
        font-family: "Elliot";
        letter-spacing: .5px;
        line-height: 2.7vw;
    }
    .about-desc {
        width: 30vw;
        margin-top: 3.75vw;
        margin-left: 17.8vw;
    }
    .about-desc p {
        font-size: calc(10px + .52vw);
        line-height: 1.65vw;
        margin-top: 1.8vw;
        /*width: calc(23vw + 134.4px);*/
        height: 9vw;
        line-height: calc(16px + .835vw);
    }
    .about-also {
        position: relative;
        right: 0%;
        width: 46.9vw !important;
        font-size: 1.25vw;
        font-family: "Elliot-Thin";
        background-color: #000000;
        margin-top: -1.10vw;
        margin-left: 3.1vw;
    }
    .about-also-desc {
        margin-top: 4.95vw;
        padding-left: 6.25vw;
        font-size: calc(9px + 1vw);
        margin-left: -.8vw;
        color: white;
        width: 41vw;
        letter-spacing: .02em;
        line-height: 2.1vw;
    }
    .about-also-checkout {
        margin-top: 1.6vw;
        padding-left: 6.2vw;
        padding-right: 5vw;
/*        font-size: 0.35vw !important;*/
        margin-left: -.8vw;
        color: white;
        font-family: "Elliot-Bold";
        letter-spacing: 1.5px;
        line-height: 2.1vw;
    }
    .about-also-checkout a, .about-also-checkout a:link, .about-also-checkout a:visited, .about-also-checkout a:hover, .about-also-checkout a:active {
        color: white;
        font-size: calc(7px + 0.35vw);
    }
    .about-also-roll {
        padding-left: 5.35vw;
        padding-right: 5vw;
        margin-top: 4.2vw;
        color: white;
        font-family: "Elliot-Thin";
        letter-spacing: 1px;
        font-size: calc(10px + .52vw);
    }
    .about-also-register {
        width: 7.4vw !important;
        height: 2.5vw;
        margin-left: 5.40vw;
        margin-top: 1.45vw;
        margin-bottom: 4.95vw !important;
        background-color: #FF2241;
    }
    .about-also-register a, .about-also-register a:hover {
        color: white;
        font-size: calc(7px + 0.35vw) !important;
        font-family: "Elliot";
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
        letter-spacing: 1.9px;
        padding-top: .2vw;
    }
    .about-also-register, .about-also-register a, .about-also-register a:hover{
        color: white;
        background-color: #FF2241;
        font-size:10px;
        letter-spacing: 1.9px;
    }
    .about-kids {
        width: 30vw;
        margin-top: 4.85vw;
        margin-left: 51px;
    }
    .about-kids h2 {
        margin-bottom: 4.5vw;
        font-size: calc(20px + 1.04vw);
        font-family: "Elliot";
    }
    .about-kids p {
        width: 27vw;
        min-width: 518.4px;
        font-size: calc(12px + .416vw);
        margin-bottom: .7vw;
        line-height: calc(16px + .835vw);
    }
       .about-text {
       font-size:calc(10px + .52vw) !important;
       color: black;
       font-style: "Elliot-Light" !important;
    }
    .about-circle {
        width: 10px;
        height: 10px;
        float: left;
        z-index: 100;
        margin-left: 10.9vw;
        background: black;
        margin-top: 2.85vw;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .about-line {
        width: 2px;
        height: 22.85vw;
        float: left;
        z-index: 100;
        margin-left: -6px;
        margin-top: 3.4vw;
        margin-right: -0.4vw;
        background: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .about-teampic {
        padding-bottom: 3.3vw;

    }
    .about-teampic img{
        width: 76.5vw;/*76.6vw*/
        height: 36.45vw;
        margin-left: 11.75vw;
        margin-right: 10vw;
    }
    .btn {
         border-radius: 0 !important;
    }
    /*------------getready-------------*/
    .clock {
        width:
    }
    .countdown{
        height: 11vw;
        margin-top: 2vw;
    }

    .countdown2{
        height: 11vw;
        margin-top: 4vw;
    }
    .countdown-date{
        font-family: "Elliot-Thin";
        font-size: 6vw;

    }
    .countdown-text{
        font-family: "Elliot-Thin";
        text-align: end;
    }

    .getready-h2{
        margin-left: 11.6vw;
    }

    .getready-sec {
        width: 30vw;
        margin-top: 6vw;
        margin-left: 12.5vw;
    }
    .getready-sec2 {
         width: 30vw;
         margin-top: 6vw;
     }
    .getready-sec h4 {
        font-size: 1.6vw;
        font-family: "Elliot";
    }
    .getready-sec p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        margin-top: 1.8vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }

    .getready-sec2 h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
    }
    .getready-sec2 p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        margin-top: 1.8vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }

    .whattoexpect-number-right {
        margin-top: 4vw;
        font-size: 6vw;
        margin-left: 3.2vw;
    }
    .whattoexpect-text-right {
        font-size: 1vw;
        margin-top: 2vw;
        margin-left: 7vw;
        width: 24vw;
        max-width: 750px;
    }
    .whattoexpect-number-left {
        margin-top: 4vw;
        font-size: 6vw;
        margin-left: 21.2vw;
    }
    .whattoexpect-text-left {
        font-size: 1.2vw;
        margin-top: 2vw;
        margin-left: 25vw;
        width: 24vw;
        max-width: 750px;
    }
    .wheretostay-sec-left {
        width: 30vw;
        margin-top: 4.1vw;
        margin-left: 11.8vw;
    }
    .wheretostay-sec-left h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
    }
    .wheretostay-sec-left p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        margin-top: 1.8vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }
    .nice-text-padding{
        padding: 3vw;
        margin-left: 3vw;
    }
    .wheretostay-sec-right {
        color: black;
        margin-top: 4.1vw;
        height: 100%;
    }
    .wheretostay-sec-right h4 {
        font-size: 1.6vw;
    }
    .wheretostay-sec-right p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 1vw;
        line-height: 1.67vw;
    }
    .whattobring-sec-left {
        width: 30vw;
        margin-top: 4.1vw;
        margin-left: 11.8vw;
    }
    .whattobring-sec-left h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
    }
    .whattobring-sec-left p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        margin-top: 1.8vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }
    .whattobring-sec-right{
        background-image: url(../img/teq1.jpg);
        background-position:center top;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: 13vw;
    }
    .gettinghere-sec-left {
        width: 30vw;
        margin-top: 4.1vw;
        margin-left: 2vw;
    }
    .gettinghere-sec-right {
        color: white;
        background-color: black;
        margin-top: 4.1vw;
        margin-left: -7.4vw;
        height: 100%;
    }
    .gettinghere-sec-left h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Light";
    }
    .gettinghere-sec-left p, li {
        font-size: 1.04vw;
        line-height: 1.65vw;
        font-family: "Elliot-Light";
        width: 28vw;
        list-style: none;
    }
    #map{
        width: 100%;
        height: 35vw;
        background-color: grey;
    }
    .gettinghere-checkin-sec-left{
        color: white;
        background-color: black;
        margin-top: 2.1vw;
        margin-left: -7.4vw;
        height: 17vw;
    }
    .gettinghere-checkin-sec-right{
        width: 30vw;
        margin-top: 4.1vw;
        margin-left: 9.6vw;
    }

    .gettinghere-checkin-sec-right h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
    }

    .gettinghere-checkin-sec-right p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        margin-top: 1.8vw;
        font-family: "Elliot-Thin";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }

    .food-sec-left{
        width: 30vw;
        margin-top: 4.1vw;
        margin-left: 12.5vw;
    }

    .food-sec-right{
        width: 30vw;
        margin-top: 4.1vw;
    }
    .food-sec-left,.food-sec-right h4 {
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
    }
    .food-sec-left,.food-sec-right p {
        font-size: 1.04vw;
        line-height: 1.65vw;
        font-family: "Elliot-Light";
        width: 28vw;
        height: 9vw;
        line-height: 1.67vw;
    }

    .food-menu{
        background-image: url("../img/food-menu.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 3vw;
        height: 32vw;
        width: 32vw;
    }

    .menu-load-text{
        color: white;
        font-family: "Elliot-Thin";
        margin-left: 3vw;
        margin-top: 2vw;
        font-size: 1vw;
    }

    .menu-load-text2{
        color: black;
        font-family: "Elliot";
        margin-left: 3vw;
        margin-top: 4.7vw;
        font-size: 1vw;

    }

    .food-menu-2{
        background-color: black;
        margin-top: 6vw;
        height: 33vw;
        width: 32vw;
        margin-left: -4vw;
        overflow-y: scroll;
    }

    .food-menu-list{
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
        color: white;
        margin-left: 11vw;
        padding-top: 6vw;
    }

    .food-menu-list-item{
        line-height: 7vw;
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
        color: white;
    }

    .food-menu-list2{
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
        color: white;
        margin-left: 1vw;
        padding-top: 3vw;
    }

    .food-menu-list2-item{
        line-height: 5vw;
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
        color: white;
    }

    .food-menu-list3{
        font-size: 1.6vw;
        font-family: "Elliot-Thin";
        margin-left: 1vw;
        padding-top: 3vw;
    }

    .food-menu-list3-item{
        font-size: 1.2vw;
        margin-bottom: 2vw;
        font-family: "Elliot-Light";
        color: black;
    }

    .food-menu-3{
        margin-top: 6vw;
        width: 27vw;
        overflow-y: scroll;
    }

    .food-menu-3 h2{
        line-height: 4vw;
        font-size: 1.6vw;
        font-family: "Elliot";
    }

    /* font stylers */
    .elliot-bold {
        font-family:"Elliot-Bold";
        color: #333 !important;
    }
    .mobile-learn-more {
      display: none;
    }

}

/* Mid Desktop Breakpoint */
@media only screen and (max-width: 1200px) {
    
    .get-ready-list ul {
        list-style-type: none;
        padding-left: 0px !important;
    }
    .clock-mobile-text {
        font-family: "Elliot";
    }
    .mobile-hide {
        display: none;
    }
    .about-splash-words {
        color: #ffffff;
        padding-top: 7.5vw;
        padding-left: 11.7vw !important;
        width: 100%;
        height: 19.8vw;
        background-image: url(../img/about_splash.jpg);
        background-attachment: fixed;
    }
    .about-splash-words h1 {
        font-size: 4.5vw;
        font-family: "Elliot-Bold";
    }
    
    .about-also-checkout {
        margin-top: 2.8vw;
        font-size: 0.7vw;
        margin-left: -.8vw;
        color: white;
        font-family: "Elliot-Bold";
        letter-spacing: 1.5px;
        line-height: 2.1vw;
    }
    .about-desc {
        width: 30vw;
        margin-top: 2vw;
        margin-left: 8.0vw;
    }
    .about-desc p {
        font-size: 2vw;
        width: 36vw;
    }
    .about-also-checkout a:link, .about-also-checkout a:visited, .about-also-checkouta:hover, .about-also-checkout a:active {
        color: white;
        font-size: calc(7px + .93vw) !important;
    }
    .about-also-roll {
        margin-top: .6vw;
        color: white;
        font-family: "Elliot-Thin";
        letter-spacing: 1px;
        font-size: calc(10px + 1.33vw);
        margin: 0;
    }
    .btn {
         border-radius: 0 !important;
    }
    .about-also-register a, .about-also-register a:hover {
        color: white;
        font-size: calc(7px + .93vw) !important;
        font-family: "Elliot";
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .1em;
        width: 15.5vw;
        height: 4.5vw;
    }
    .about-also-register {
        margin-bottom: 8.55vw !important;
        background-color: #FF2241;
    }
    .about-also {
        background-color: #000000;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .mobile-about-history h2{
        padding-bottom: 2.4vw !important;
        font-family: "Elliot";
        font-size: 4.4vw !important;
    }
    .about-historyMaking {
        margin-left: 1.56vw;
    }

    /*Contact Page <1200*/
    .contact-description, .contact-form{
        width: 45%;
        float: left;
    }
    .contact-form{
        /*padding-left: 2.65vw !important;*/
        margin-right: 8.33333333%;
    }
    .contact-heading{
        font-size: 4.4vw !important;
    }
    .contact-description{
        font-size: 2vw;
        line-height: inherit;
    }

    input, textarea, select {
        font-size: 1.7vw !important;
    }

    .form-control{
        height: auto !important;
        padding-bottom: 1vw !important;
    }

    /*Nav Padding*/
    /*    Splash Section*/
    .splash-words {
        color: #ffffff;
        padding-top: 14vw;
        padding-left: 12.4vw !important;
        width: 100%;
        height: 50.35vw;
        background-image: url(../img/background.jpg);
        /*background-position: left bottom;*/
        background-color: #16161E;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .splash-words h1 {
        font-size: 6vw;
        font-family: "Elliot-Bold";
        text-transform: uppercase;
        color: white !important;
    }
    .splash-date {
        font-size: 5vw !important;
        font-family: "Elliot-Thin" !important;
/*        padding-left: 7px;*/
    }
     .splash-location {
        font-size: 1.7vw !important;
        font-family: "Elliot-Thin" !important;
        padding-left: 4px
    }
    .mobile-push-right {
        display: none;
    }
    body {
        background-color: #16161E;
    }
    .tawis-padding {
        margin-top: 100px;
        margin-bottom: 80px;
    }
    /* Recap Mobiel */
    .recap-mobile {
        background-color: #141416;
        color: #fff;
    }
    .recap-info {
        padding-right: 13.5vw;
        padding-left: 13.5vw;
    }
    .recap-mobile h3 {
        padding-top: 3.0vw !important;
        padding-bottom: 1vw !important;
        font-family: "Elliot";
        font-size: 4.67vw;
        background-color: "black";
        color: #fff;
    }
    .recap-mobile p {
        font-family: "Elliot-Thin";
        letter-spacing: 0.019em;
    }
    .recap-mobile-subheader {
        font-size: 2.27vw;
        padding-bottom: 4.2vw;
    }
    .recap-mobile-desc {
        font-size: 2.27vw;
        padding-bottom: 4.2vw;
    }
    .recap-vid-mobile {
        width: 100%;
        height: 56.4vw;
    }
    #nav-background-color {
        background: none;
    }
    .mobile-come-hang {
        padding-right: 13.5vw;
        padding-left: 13.5vw;
    }
    .mobile-come-hang h2 {
        padding-top: 4.6vw !important;
        padding-bottom: 2.6vw !important;
        padding-right: 13.5vw;
        padding-left: 13.5vw;
        font-family: "Elliot";
        font-size: 4.67vw;
        background-color: #ffffff;
        color: #141416;
    }
    .mobile-come-hang-subheader {
        font-size: 3vw;
        padding-bottom: 3.1vw;
    }
    .mobile-come-hang p {
        font-family: "Elliot-Thin";
        letter-spacing: 0.5px;
    }
    .mobile-come-hang-date p {
        font-size: 7vw !important;
    }
    .mid-number-1 {
/*        padding-top: 1.2vw !important;*/
        margin-right: 21.9vw !important;
    }
    .mid-number-2 {
        margin-top: -1.2vw !important;
        margin-left: 13.4vw;
    }
    .mobile-come-hang-desc {
        font-size: 2.2vw;
        padding-bottom: 4.4vw !important;
    }
    /* Footer Styles */
    .p-r-9 {
        padding-right: 6vw !important;
    }
    .p-l-12 {
        padding-left: 8vw !important;
    }

    a.navbar-brand.title.p-l-12.mobile-hide:link, a.navbar-brand.title.p-l-12.mobile-hide:visited, a.navbar-brand.title.p-l-12.mobile-hide:hover, a.navbar-brand.title.p-l-12.mobile-hide:active{
        padding-top: 2.1vw !important;
        font-size: calc(11px + .40vw);
        font-family: "Elliot" !important;
        text-transform: uppercase;
        color: white !important;
        letter-spacing: 0;
    }
    ul.nav.navbar-nav.navbar-right.p-r-9>li:last-child {
        background-color: #FF2241;
        margin-right: 2.1vw;
    }
    .navbar-inner ul li {
        width: 8.1vw;
        max-width: 179px;
        text-align: center;
    }
    /*Menu Styles*/
    .navbar-nav>li>a , .navbar-nav>li>a:hover{
        font-family: "Elliot-Thin";
        color: white;
        padding-top: 2.0vw !important;
        font-size: calc(11px + .25vw) !important;
        letter-spacing: 0px !important;
    }
    .navbar-nav>li>a:hover{
        color: black;
    }
    .title {
        font-family: "Elliot";
        text-transform: uppercase;
        color: white !important;
    }
    .mid-number-1 {
        font-family: "Elliot-Thin" !important;
        font-size: 60px;
        margin-right: 100px;
        line-height: 1.2;
    }
    .mid-number-2 {
        font-family: "Elliot-Thin" !important;
        font-size: 60px;
        margin-left: 40px;
        line-height: 1.2;
    }
    .center-mid {
        text-align: -webkit-center;
    }
    .margin-break{
        margin-left: 20% !important;
        margin-right: 20% !important;
    }
    /* padding for tablet and phone */
    .tablet-bot {
        padding-bottom: 6.8vw;
    }
    .tablet-top {
/*        margin-top: 16.8vw !important;*/
    }
    /* hide on tablet view */
    .tablet-hide {
        display: none !important;
    }

    /* speaker image size and text tablet */
    .speakers {
        padding-bottom: 0px;
    }
    .speaker-img {
        font-family: "Elliot-Light";
    }
    .speaker-img-1 {
       font-family: "Elliot-Light";
    }
    .speaker-img img{
        width: 28vw;
    }
    .speaker-img-1 img {
       width: 28vw;
    }
    .speakers-title h2{
        font-family: "Elliot";
        margin-top: 3vw;
        margin-bottom: 4.70vw;
        margin-left: .8vw;
        font-size: 2.11vw !important;
        width: 20vw;
        max-width: 1000px;
        letter-spacing: -.0px;
        min-height: 0;
        position: relative;
    }
    .center-small{
        text-align: center;
    }
    /* Recap Mobile */
    .recap-mobile {
        padding-top: 70px;
        background-color: #000;
        color: #fff;
        padding-bottom: 70px;
    }
    .recap-vid-mobile {
        width: 100%;
        height: 56vw;
    }
    .nav-register {
        margin-left: 0vw;
    }
    .mobile-learn-more {
      display: none;
    }
    .view-schedule {
        font-size: calc(10px + .204vw) !important;
        font-family: "Elliot-Bold";
        letter-spacing: .1em !important;
        text-decoration: none;
    }
    .view-all {
        font-size: 2.5vw !important;
        letter-spacing: .1em;
    }

    /* mobile footer styling*/
    img.sponsor-img {
        margin-left: 00px;
    }
    .speaker-img-3 {
        padding-bottom: 0 !important;
    }
    .sponsor-want{
        align-content: center;
        font-size: 3.2vw !important;
        letter-spacing: .1em;
        text-align: center;
        width: inherit;
        margin-top: .1vw;
    }
    .sponsor-want a:link, a:visited, a:hover, a:active {
        font-size: 2.5vw !important;
        letter-spacing: .1em;
    }
    .sponsors {
        background-color: #E6E6E6 !important;
    }
    .sponsors.tablet-top {
         margin-top: 8vw !important;
    }
    img.sponsor-img {
        width: 15vw;
        margin-top: 0px;
        margin-left: 8vw;
        padding-right: -1.5vw;
    }
    .sponsor-top{
        padding-top: 8.68vw;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px ) {
    .mobile-no-mar {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .food-black-mobile {
        background-color: black;
    }
    .food-menu{
        background-image: url("../img/food-menu.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        color: white;
    }
    .mobile-food-white {
        background-color: white !important;

    }
    .mobile-no-pad-food {
        margin-bottom: 0px;
    }
     .food-menu-2{
        background-color: black;
        width: 100%;

        overflow-y: scroll;
        color: white;
    }
    .countdown-date{
        font-family: "Elliot-Thin";
        font-size: 12vw;
    }
    .count-center{
        text-align: center;
    }
    .count-left {
        padding-right: 40% !important;
    }
    .count-right {
        padding-left: 40% !important;
    }
    .countdown-text{
        font-family: "Elliot";
    }
    .get-head-pad-bot {
        padding-bottom: 4vh;
    }
    .get-head-section-bot {
        padding-bottom: 5vh;
    }
    .get-head-section-top {
        padding-top: 5vh;
    }
    .about-splash-words {
        color: #ffffff;
        padding-top: 14vw;
        padding-bottom: 26.2vh;
        padding-left: 11.7vw !important;
        width: 100%;
        background-attachment: fixed;
        height: 19.8vw;
        max-height: 608px;
        background-image: url(../img/about_splash.jpg);
        background-position-y: -200px;
        background-position-x: 1200px;
    }
    .about-splash-words .title{
        font-size: calc(50px + 6vw);
        padding-top: 3vw;
        margin-left: -20px;
    }
    .about-also-pad-top {
        padding-top: 5vw;
    }
    .mobile-about-history h2{
        padding-bottom: 7.4vw !important;
        font-family: "Elliot";
        font-size: 6.67vw !important;
    }
    .about-history-padding {
        padding-bottom: 7vw;
    }
    .about-also-pad-bot {
        margin-left: -.4vw;
        padding-bottom: 5vw;
    }
    .mobile-about-cool h2{
        padding-bottom: 7.4vw !important;
        font-family: "Elliot";
        font-size: 6.67vw !important;
    }
    .about-also {
        background-color: #000000;
        color: white;
        font-family: "Elliot-Thin";
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-register-pad {
        padding-bottom: 5vh;
        padding-top: 5vh;
    }
    .about-also-register {
        margin-bottom: 8.55vw !important;
        background-color: #FF2241;
    }
    .about-also-checkout a:link, .about-also-checkout a:visited, .about-also-checkouta:hover, .about-also-checkout a:active {
        color: white;
        font-size: calc(7px + .93vw) !important;
    }
    .about-text {
       font-size:calc(10px + .52vw);
    }
    .about-splash-words h1 {
        font-size: 11vw;
    }
    .about-historyMaking {
        margin-left: 0vw;
    }
    
    .about-mobile-top {
        margin-top: 20vw;
    }
    .about-mobile-bot {
         margin-bottom: 20vw
    }
    .about-also-desc {
        margin-top: .8vw;
        font-size: 4.53vw !important;
        margin-left: -.8vw;
        color: white;
        letter-spacing: .02em;
        width: 95vw;
        line-height: 1.25em;
    }
    .about-also-checkout {
        margin-top: 2.8vw;
        font-size: 0.7vw;
        margin-left: -.8vw;
        color: white;
        font-family: "Elliot-Bold";
        letter-spacing: 1.5px;
        line-height: 2.1vw;
    }
    .about-also-roll {
        margin-top: .6vw;
        color: white;
        font-family: "Elliot-Thin";
        letter-spacing: 1px;
        font-size: calc(10px + 1.33vw);
        margin: 0;
    }
    .tablet-bot {
        padding-bottom: 50px;
    }
    .about-margins {
        padding-left: 13.5vw;
        padding-right: 13.5vw;
        text-align: left;
    }
    .about-desc {
        margin-top: 0;
        margin-left: 0vw;
        width: 100vw;
    }
    .about-desc p {
        font-size: 2.8vw;
        line-height: 1.42857143;
         width: 98.5%;
    }

    /*Contact Page <990*/
    .contact-heading{
        font-size: 6.67vw !important;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 7.4vw !important;
    }

    .contact-description, .contact-form{
        margin-right: 0;
        float: none;
        width: auto;
    }

    .contact-description{
        line-height: 1.42857143;
    }
    .contact-description p{
        width: auto;
    }
    .contact-body-buffer{
        margin-top: 0;
    }

    .form-group{
        margin-bottom: 8vw !important;
    }
    input, textarea, select {
        font-size: 2.3vw !important;
    }
    .contact-btn, .contact-btn a, .contact-btn a:hover{
        padding: 1.7vw 2.8vw !important;
        /*margin-top: 4.1vw;*/
        font-size: 1.8vw !important;;
        letter-spacing: 1.9px;
    }

    #nav-background-color {
        background: none;
    }
    .navbar-inner ul li {
        width: 9.0vw;
        max-width: 179px;
        text-align: center;
    }
    ul.nav.navbar-nav.navbar-right.p-r-9>li:last-child {
        background-color: #FF2241;
        width: 9.6vw;
        height: auto;
        margin-right: auto;
        padding-left: calc(.3vw - 8px);
    }
/*
    .nav-register {
        margin-left: -1.2vw;
    }
*/
    /*    Splash Section*/
    .splash-words {
        color: #ffffff;
        padding-top: 14vw;
        padding-left: 12.4vw !important;
        width: 100%;
        height: 50.35vw;
        background-image: url(../img/background.jpg);
        /*background-position: left bottom;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .splash-words h1 {
        font-size: 6vw;
        font-family: "Elliot-Bold";
        text-transform: uppercase;
        color: white !important;
    }
    .splash-date {
        font-size: 5vw !important;
        font-family: "Elliot-Thin" !important;
/*        padding-left: 7px;*/
    }
    .splash-location {
        font-size: calc(10px + .204vw) !important;
        font-family: "Elliot-Thin" !important;
        padding-left: 4px;
    }
    .mobile-push-right {
        display: none;
    }
    .mobile-learn-more {
      display: none;
    }
    .sponsors.tablet-top {
        margin-top: 20vw !important;
    }
    /* Footer Styles */
    footer {
        background-color: #FF2241;
        padding-top: 7vh !important;
    }
    .footer-text p {
        color: #E2E2E2 !important;
        font-family: "Elliot-Thin";
    }
    .footer-nav a, a:hover, a:active, a:link, a: {
        font-size: 12.5px !important;
        font-family: "Elliot" !important;
        color: white !important;
    }
    .footer-text .special {
        padding-left: 10vw;
        padding-top: 8.3vh;
/*        max-width: 1000px;*/
    }
    .footer-text .copyright {
        padding-left: 10vw;
        padding-top: 4.4vh;
        padding-bottom: 8.0vh;
        max-width: 1000px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    /* mobile header styles*/
     /*Menu Styles*/
     .fa {
        color: #fff;
     }
    .navbar-nav>li>a , .navbar-nav>li>a:hover{
        font-family: "Elliot-Thin";
        color: white;
        padding-top: 5vh !important;
        font-size: calc(16px + .25vw);

    }

    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
    .navbar-inner ul li {
        width: 100%;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: transparent !important;
    }
    .exit {
        display: block;
        position: absolute !important;
    }
    .navbar-toggle {
        margin-left: 75% !important;
        padding: none !important;
    }

   #menu{
        background: #FF2241;
        position: fixed;
        opacity: .9945;
        top: 0;
/*        width: 104%;*/
        right: 0;
        left: 0;
        min-height: 100%;
        text-align: center;

    }
    .menu-pad {
        padding-top: 12vh;
    }


    html {
      background: url(../img/backgroundMobile.png) no-repeat center center fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    }
    .tawis {
        padding: 13.7vw 2.8vw 10.0vw 8vw;
        background-color: #ffffff;
        width: 100%;
        height: 89.7vw;
        text-align: center;
    }
    .tawis p {
        font-family: Elliot-Thin;
        margin: 11% auto 3% auto;
        font-size: 4.8vw;
        letter-spacing: .1em;
        line-height: 1.68;
        margin-bottom: 16.4vw;
    }
    .tawis a {
        font-size: 3.2vw;
        font-family: Elliot-Bold;
        color: black !impor;
        letter-spacing: 2px;
    }
    .view-schedule {
        font-size: 3.2vw !important;
        font-family: Elliot-Bold;
        letter-spacing: .1em !important;
    }
    .tawis-padding {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* Recap Mobiel */
    .recap-mobile {
        background-color: #141416;
        color: #fff;
    }
    .recap-info {
        padding-right: 13.5vw;
        padding-left: 13.5vw;
    }
    .recap-mobile h3 {
        padding-top: 10.6vw !important;
        padding-bottom: 4vw !important;
        font-family: "Elliot";
        font-size: 6.67vw;
        background-color: "black";
        color: #fff;
    }
    .recap-mobile p {
        font-family: "Elliot-Thin";
        letter-spacing: 0.5px;
    }
    .recap-mobile-subheader {
        font-size: 4.55vw;
        padding-bottom: 8.4vw;
    }
    .recap-mobile-desc {
        font-size: 3.2vw;
        padding-bottom: 13.4vw !important;
    }
    .recap-vid-mobile {
        width: 100%;
        height: 56vw;
    }
    .tawis {
        padding: 13.7vw 2.8vw 10.0vw 8vw;
        background-color: #ffffff;
        width: 100%;
        height: 89.5vw;
        text-align: center;
    }
    .tawis p {
        font-family: Elliot-Thin;
        margin: 10.5% auto 3% auto;
        font-size: 4.8vw;
        letter-spacing: 1.5px;
        line-height: 1.68;
        margin-bottom: 16.4vw;
    }
    .tawis a {
        font-size: 3.2vw;
        font-family: Elliot-Bold;
        color: black;
        letter-spacing: 2px;
    }
    /* Recap Mobiel */
    .recap-mobile {
        background-color: #141416;
        color: #fff;
    }
    .recap-info {
        padding-right: 13.5vw;
        padding-left: 13.5vw;
    }
    .recap-mobile h3 {
        padding-top: 10.6vw !important;
        padding-bottom: 4vw !important;
        font-family: "Elliot";
        font-size: 6.67vw;
        background-color: #141416;
        color: #fff;
    }
    .recap-mobile p {
        font-family: "Elliot-Thin";
        letter-spacing: 0.5px;
    }
    .recap-mobile-subheader {
        font-size: 4.55vw;
        padding-bottom: 8.4vw;
    }
    .recap-mobile-desc {
        font-size: 3.2vw;
        padding-bottom: 13.4vw !important;
    }
    .recap-vid-mobile {
        width: 100%;
        height: 56.4vw;
    }
    .mobile-come-hang {
        padding-right: 13.5vw;
        padding-left: 13.5vw;
    }
    .mobile-come-hang h2 {
        padding-top: 19.2vw !important;
        padding-bottom: 8.6vw !important;
        padding-right: 13.5vw;
        padding-left: 13.5vw;
        font-family: "Elliot";
        font-size: 6.67vw;
        background-color: #ffffff;
        color: #141416;
    }
    .mobile-come-hang p {
        font-family: "Elliot-Thin";
        letter-spacing: 0.5px;
    }
    .mobile-come-hang-subheader {
        font-size: 4.55vw;
        padding-bottom: 3.1vw;
    }
    .mobile-come-hang-date p {
        font-size: 16vw !important;
    }
    .mobile-come-hang-subheader h4 {
        padding-top: 19.2vw !important;
        padding-bottom: 8.6vw !important;
        padding-right: 13.5vw;
        padding-left: 13.5vw;
        font-family: "Elliot";
        font-size: 6.67vw;
        background-color: #ffffff;
        color: #141416;
    }
    .mid-number-1 {
        padding-top: 1.2vw !important;
        margin-right: 21.9vw !important;
    }
    .mid-number-2 {
        margin-top: -1.2vw !important;
        margin-left: 13.4vw;
    }
    .mobile-come-hang-desc {
        font-size: 3.2vw;
        padding-bottom: 4.4vw !important;
    }
    .mobile-push-right {
        display: none;
    }
    .nav-register {
        margin-left: 0vw;
    }
    .mobile-hide{
        display: none !important;
    }
    .navbar-header {
        margin-top: 4px;
    }
    .icon-bar {
        background-color: white;
        margin-top: .95vw;
        margin-bottom: 1.2vw;
        margin-left: .002vw;
        padding-right: 5.35vw;
    }
    .drop-down {
        padding-left: 10px;
        text-align: left;
    }
    .navbar-toggle {
        background-color: #FF2241 !important;
        border:  2vw solid #FF2241 !important;
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
    }
    .mobile-speakers {
        padding-right: 13.5vw;
        padding-left: 13.5vw;
    }
    .mobile-speakers h2 {
        padding-top: 13.5vw !important;
        padding-bottom: 8.6vw !important;
        padding-right: 50%;
        padding-left: 30%;
        font-family: "Elliot";
        font-size: 6.67vw;
        background-color: #ffffff;
        color: #141416;
    }
    .splash-words h1 {
        padding-top: 16.65vh;
        margin-bottom: 0px;
        font-size: 14vw;
        font-family: "Elliot-Bold";
        text-transform: uppercase;
        color: white !important;
        line-height: 16vw;
    }
    .splash-date {
        font-size: 9.3vw !important;
        font-family: "Elliot-Thin";
        margin-top: 1.7vw !important;
        letter-spacing: .1px !important;
    }
    .splash-location {
        font-size: 4.08vw !important;
        margin-top: 3.5vw !important;
        font-family: "Elliot-Thin";
    }
    .mobile-push-right {
        display: none;
    }
    .splash-words {
        color: #ffffff;
        padding-top: 17.9vh;
        padding-left: 9.85vw !important;
        width: 100%;
        height: 110vh;
        background-image: url(../img/backgroundMobile.png) !important;
        /*background-position: left bottom;*/
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        background: url(../img/backgroundMobile.png) no-repeat center center fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
    .mobile-learn-more {
        transform: rotate(-90deg);
        transform-origin: left top 0;
        font-family: "Elliot-Light";
        margin-top: 21vh;
        float: right;
        margin-right: -14vw;
        font-size: calc(14px + 1.4vw);
        display: flex;
    }
    /*speaker image size phone */
    .speaker-img img{
        width: 50vw;
        min-width: 300px;
    }
    .speaker-img-1 img {
       width: 40vw;
    }
    .speakers-title h2{
        font-family: Elliot;
        margin-top: 0vw !important;
        margin-bottom: 5.33vw;
        margin-left: 0vw !important;
        text-align: center !important;
        font-size: calc(17px + 2.5vw) !important;
        width: 0vw !important;
        max-width: 000px !important;
        letter-spacing: -.0px !important;
    }
    /* mobile footer styling*/
    img.sponsor-img {
        margin-left: 0;
        margin-bottom: 3vw;
    }
    .sponsor-want{
        align-content: center;
        letter-spacing: .1em;
        text-align: center;
        width: inherit;
        margin-top: 10px;
    }
    .sponsor-want a:link, a:visited, a:hover, a:active {
        font-size: 3.2vw;
        letter-spacing: .1em;
    }
    .sponsors.tablet-top {
        margin-top: 4vw !important;
        background-color: #E6E6E6;
    }
    img.sponsor-img {
        width: 25vw;
        min-width: 150px;
        padding-right: -1.5vw;
    }
    ul.nav.navbar-nav.navbar-right.p-r-9>li a{
        font-size: 5.33vw !important;
        padding-bottom: 10.3vw;
        letter-spacing: .02em;
        padding-left: 1vw;
    }
    ul.nav.navbar-nav.navbar-right.p-r-9>li:last-child {
        background-color: #FF2241;
        width: 7.3vw;
        height: auto;
        margin-right: auto;
        padding-left: 1.5vw;
        padding-top: 22.8vw;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .about-text{
    font-size: 3.5vw;
    width: 100%;
    }
    .about-text-also{
    font-size: 5vw;
    }
    .close {
        left: 0vw;
    }

    .contact-description p{
        min-width: auto;
    }
    input, textarea, select {
        font-size: 3.3vw !important;
    }
    .contact-btn{
        font-size: 2.8vw !important;
        padding: 2vw 3vw !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}