* {
    font: menu;
    margin: 0;
}
@font-face {
  font-family: 'Elliot';
  src: url("../fonts/Elliot.otf"); }
@font-face {
  font-family: 'Elliot-Bold';
  src: url("../fonts/Elliot-Bold.otf"); }
@font-face {
  font-family: 'Elliot-BoldItalic';
  src: url("../fonts/Elliot-BoldItalic.otf"); }
@font-face {
  font-family: 'Elliot-Heavy';
  src: url("../fonts/Elliot-Heavy.otf"); }
@font-face {
  font-family: 'Elliot-Italic';
  src: url("../fonts/Elliot-Italic.otf"); }
@font-face {
  font-family: 'Elliot-Light';
  src: url("../fonts/Elliot-Light.otf"); }
@font-face {
  font-family: 'Elliot-ThinItalic';
  src: url("../fonts/Elliot-ThinItalic.otf"); }
/*//////////////////Header////////////////////*/
header {
    background-color: white;
    height: 50px;
    width: calc(93.22% - 33px);
    display: flex;
    -webkit-box-shadow: 0px 0px 4px 1px #000;
    -moz-box-shadow: 0px 0px 4px 1px #000;
    box-shadow: 0px 0px 4px 1px #000;
    padding-right: 4.3em;
    padding-left: 4.3em;
    position: fixed;
    justify-content: space-between;
    z-index: 999;
    white-space: nowrap;
}
header h1,
nav {
    align-items: center;
    display: flex;
    letter-spacing: 2px;
}
nav {
    padding-right: 10px;
}
.header_logo {
    width: 38px;
    padding: 0;
}
nav .register {
    color: #29B6AE;
    border: #29B6AE 2px solid;
    font-family: Elliot-Heavy;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 7px 7px;
    padding-left: 9px;
    -webkit-transition: ease-out .3s;
    transition: .3s ease-out;
    font-size: 13px;
}
nav .register:hover {
    background-color: #29B6AE;
    color: white;
    box-shadow: 0 0 0px #91443e;
    -webkit-transition: ease-in-out .3s;
    transition: .3s ease-in-out;
}
nav a {
    color: #222F34;
    font-family: 'Elliot-Bold';
    font-weight: 700;
    font-size: 13px;
}
nav .dotLeft{
    color: #F27772;
    font-size: 32px;
    padding: 0px;
    transform: translateY(-3px);
}
.logotype {
    color: #222F34;
    font-family: Elliot-Heavy;
    font-weight: 900;
}
header a {
    text-decoration: none;
    padding: .5rem;
}

@media only screen and (max-width: 759px) {
    header {
        padding-left: 4.7vw;
    }
    .logotype,
    nav .register,
    nav a{
        font-size: calc(1.71vw - 2px);
    }
    nav .dotLeft {
            font-size: 4vw;
            transform: translateY(-.2vw);
    }
}
@media only screen and (max-width: 530px) {
    .logotype {
        width: 0;
        visibility: hidden;
        display: none;
    }
    .header_logo {
        width: 6vw;
    }
    nav .register,
    nav a{
        font-size: 2vw;
    }
}
@media only screen and (max-width: 385px) {
    header a{
        padding: 2.9vw;
    }
    .register {
        padding-right: 100px;
    }
}
@media only screen and (min-width: 980px) {
    header {
        width: calc(93.06% + 1vw);
    }
    nav .dotLeft {
            font-size: 32px;
    }
}
@media only screen and (min-width: 1600px) {
    header {
        width: calc(95.06% + 1vw);
    }
}
/*/////////////////Header////////////////////*/

/*//////////////////HeroImage////////////////////*/
.background_one {
    width: 100%;
    height: 800px;
    z-index: -999;
    background-image: url('../images/banner_img.png');
    display: block;
}
/*//////////////////HeroImage////////////////////*/

/*//////////////////first infoBlock card////////////////////*/
.infoblock_one {
	background-color: white;
	z-index: 1;
    max-width: 500px;
	width: 39vw;
    min-width: 250px;
    max-height: 595px;
    min-height: 490px;
	top: calc(2vw + 380px);
	left: 110px;
	position: absolute;
	-webkit-box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 15px hsl(0, 0%, 30%);
}
.infoblock_one h1 {
	font-family: "Elliot_Heavy";
	letter-spacing: .1em;
	color: #f4837d;
	font-size: calc(3.5vw + 4px);
	padding-left: 6%;
    font-family: Elliot-Heavy;
	}

.infoblock_one h1.headtext_one {
	padding-top: 15%;
	}

.infoblock_one h1.headtext_two {
	padding-bottom: 3.6vw;
	padding-left: 22%;
	}
.infoblock_one h2 {
	font-size: 2.4vw;
	padding-left: 18%;
	letter-spacing: .075em;
	padding-bottom: 5%;
    font-family: serif;
}

.taw-desc {
    max-height: 195px;
    min-height: 323px;
}
.taw-desc p{
    font-size: calc(.14vw + 14px);
    color: #939598;
	padding-left: 18%;
    padding-right: 18%;
	letter-spacing: 0.025em;
	line-height: 180%;
    font-family: Elliot;
    height: 42vw;
    max-height: 220px;
}
@media only screen and (max-width: 900px) {
    .infoblock_one{
        width: 42vw;
        left: 0px;
    }
    .infoblock_one h1 {
        font-size: calc(1.2vw + 20px);
    }
    .infoblock_one h2 {
	   font-size: calc(1vw + 15px);
    }
    .taw-desc p {
        font-size: calc(.5vw + 10px);
    }
}  
@media only screen and (min-width: 1440px) {
    .infoblock_one h1 {
        font-size: 54px;
    }
    .infoblock_one h2 {
        font-size: 34.5px;
    }
    .infoblock_one h1.headtext_two {
        padding-bottom: 50px;
    }
    .taw-desc p {
        font-size: 16px;
    }   
}
@media only screen and (max-width: 620px) {
    .taw-desc p {
        font-size: 12.5px;
    }
}
/*//////////////////first infoBlock card////////////////////*/
.recapBlock {
	background-color: aqua;
	height: 500px;
	width: 100%;
	

}


/*//////////////////recap words////////////////////*/
.recapWords {
    z-index: 4;
    /*background-color: #ffe3ea;*/
    width: 39vw;
    max-width: 250px;
    left: 110px;
	position: absolute;
    top: calc(30vh + 900px);
    letter-spacing: .075em;
}
.blockTag {
    color: #29B6AE;
    font-family: Elliot-Bold;
    font-size: 1em;
}
.recapText_one , .recapText_two {
    color: #26363B;
    font-family: Elliot-Heavy;
    letter-spacing: 0.15em;
    font-size: 3.6em;
}
.recapText_two {
    padding-left: 1.7em;
}
.redLine {
    border-bottom: 8px solid #E94B61; 
    padding-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
}

@media only screen and (max-width: 900px) {
    .blockTag {
        font-size: 12.5px;
    }
    .recapText_one , .recapText_two, .redLine {
        font-size: calc(1.2vw + 20px);
    }
    .recapWords {
        width: 42vw;
        left: 0px;
        padding-left: 11%;
        top: calc(30vh + 700px);
    }
} 
@media only screen and (min-width: 1440px) {
    .blockTag {
        font-size: 1em;
    }
    .recapText_one , .recapText_two, .redLine {
        font-size: 3.6em;
    } 
}
    
 /*////////////////// VIDEO AND ABOUT////////////////////*/
 
.aboutus {
	background-color: blue;
	height: 350px;
	width: 400px;
	position: absolute;
    top: calc(70vh + 900px);
    left:200px;
    
}