* {
    font: menu;
    margin: 0;
}
@font-face {
  font-family: 'Elliot';
  src: url("../fonts/Elliot.otf"); }
@font-face {
  font-family: 'Elliot-Bold';
  src: url("../fonts/Elliot-Bold.otf"); }
@font-face {
  font-family: 'Bodoni';
  src: url("../fonts/MBodoni.otf"); }
body {
    /* Location of the image */
    background-image: url(../images/background.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: left bottom;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
}


  /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {









    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }