@import "../../media";

:local(.infoPicture) {
    border: 6px solid #291E35;
    border-radius: 3px;

    height: var(--gridish-height-10);
    width: 75%;
}

:local(.infoText) {
    margin-top: 48px;
    margin-bottom: 112px;

    @include media ('<768px') {
        margin-top: 32px;
        margin-bottom: 80px;
    }
}

:local(.cateringText) {
    margin-top: 112px;

    @include media ('<768px') {
        margin-top: 80px;
    }
}

:local(.cateringMeals) {
    margin-bottom: 112px;

    @include media ('<768px') {
        margin-bottom: 80px;
    }
}
:local(.cateringMeal) {
    margin-top: 32px;
}