#mobileIndex{
	display:none;
}

#video{
	margin:40px auto;
}

#header h1{
	font-size:1.3em;
	color:#03b199;
	float:left;
	padding: 22px 0 0 5px !important;
	}

#work h3{
	font-size:1.1em;
	font-weight:300;
	color:#181B1b;
	float:left;
	margin-right:5px;
	margin-top: 0px;
	margin-bottom: 0 !important;
	}
	
#bullets p{
	font-size:.5em !important;
	font-weight:200 !important;
	}
	
img.linkimage{
	display: none !important;
}

	/*---------------------
ABOUT
-----------------------*/

#about{
	overflow:hidden;
		background:#28292A;
	margin:30px auto 0px auto;
	position:relative;
	}
	
#about h1{
	text-align:center;
	margin-top:60px;
	}
	
#about h2{
	margin:50px 0 30px 0;
	font-size:1.2em;
	color:#F8F9EA;
	}
	
#about p{
	clear:both;
	color:#F8F9EA;
	text-align: center;
	}

#caption{
	text-align:center;
	bottom:0;
	margin:20px auto 0 auto;
	width:100%;
	height:80px;
	}	

#caption h2{
	font-weight:400;
	color:#F8F9EA;
	margin:0 0;
	font-size:1.5em;
	}
	
#caption h3{
	font-size:1.2em;
	font-weight:300;
	color:#F8F9EA;
	line-height:1.4em;
	}


	
#about .block{
	width:31.333333333333%;
	overflow:hidden;
	margin:20px 1% 30px 1%;
	float:left;
	}
	
#about .block p{
	color:#F8F9EA;
	line-height:1.4em;
	}
	
.graphic{
	width:100px;
	height:100px;
	margin:0 auto 10px auto;
	background:url('../images/graphics/about.png');
	background-size:300%;
	}
	
.where .graphic{
	background-position:50% 0;
	}
	
.when .graphic, .twitter{
	background-position:100% 0;
	}
	
.social_icons{
	margin:95px auto;
	}
	
.social{
	float:left;
	width:50px;
	height:50px;
	margin:0 auto 10px auto;
	background:url('../images/graphics/social.png');
	background-size:300%;
	background-color:#F8F9EA;
	position:relative;
	
	transition:background-color .2s ease;
	-webkit-transition:background-color .2s ease;
	-moz-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:bottom .2s ease;
	-webkit-transition:bottom .2s ease;
	-moz-transition:bottom .2s ease;
	-o-transition:bottom .2s ease;
	}
	
.facebook{
	background-position:50% 0;
	}
	
.twitter{
	background-position:100% 0;
	}

.email:hover,.facebook:hover,.twitter:hover{
	bottom:5px;
	}

.email:hover{
	background-color:#305e85;
	}
	
.facebook:hover{
	background-color:#3b5998;
	}
	
.twitter:hover{
	background-color:#00a0d1;
	}

/*---------------------
TEAM
-----------------------*/
	
#team{
	overflow:hidden;
	background:#F8F9EA;
	}
	
#team h1{
	color:#181B1B;
	}
	
#team h2{
	font-size:1.2em;
	color:#181B1B;
	}
	
#team h3{
	color:#181B1B;
	min-height:30px;
	}
	
#team p{
	color:#181B1B;
	font-size:.8em;
	min-height:30px;
	}
	
#team .block{
	width:29.333333333333%;
	margin:2%;
	float:left;
	min-height:50px;
	}
	
#team .pic, .coordpic{
	width:90%;
	overflow: hidden;
	margin:0 auto 30px auto;
	min-height:50px;
	border-radius:5000px;
	-moz-border-radius:5000px;
	cursor:pointer;
	border:2px #eee solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-shadow:0 0 5px 3px #f7f3f2;
	-webkit-box-shadow:0 0 5px 3px #f7f3f2;
	-moz-box-shadow:0 0 5px 3px #f7f3f2;
	
	/*position:relative;
	transition:bottom .2s ease;
	-webkit-transition:bottom .2s ease;
	-moz-transition:bottom .2s ease;
	-o-transition:bottom .2s ease;*/
	}
	


.pic:hover{
	bottom:5px;
	}

.coordpic img{
	width: 100%;
	display:block;
	}
	
.pic img{
	display:block;
	}

.center img{
	width: 58%;	
	height: 58%;
	margin:0 auto 30px auto;
	border:2px #eee solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-shadow:0 0 5px 3px #f7f3f2;
	-webkit-box-shadow:0 0 5px 3px #f7f3f2;
	-moz-box-shadow:0 0 5px 3px #f7f3f2;
}
	
#team .more{
	background:#B7D059;
	margin-top:0px;
	}
	
#team .more h2{
	color:#fff7f5;
	}

#team .more:hover{
	background:#C54F9C;
	}
	
#team .more:hover h2{
	color:#fff;
	}

#team.page .content{
	max-width:100%;
	padding:0;
}


/*---------------------
SPONSORS
-----------------------*/

#sponsor{
	overflow:hidden;
	margin-bottom: 30px;
	}

#sponsor h1{
	font-size:1.3em;
	color:#666;
	}
	
#sponsor h2{
	font-size:1.2em;
	color:#999;
	}
	
#sponsor .title{
	margin-top:20px;
	}
	
h2 a{
	border-bottom:2px rgba(79,79,79,0) solid;
	transition:border .3s ease;
	-webkit-transition:border .3s ease;
	-moz-transition:border .3s ease;
	-o-transition:border .3s ease;
	color:#777;
	}
	
h2 a:hover{
	border-bottom:2px rgba(79,79,79,1) solid;
	}

#sponsor_logos{
	width:100%;
	overflow:hidden;
	}
	
#sponsor .more{
	background:#ccc;
	}
	
#sponsor .more h2{
	color:#fff;
	}

#sponsor .more:hover{
	background:#444;
	}
	
#sponsor .more:hover h2{
	color:#fff;
	}


/*---------------------
SPONSOR LOGOS
-----------------------*/
	
.sponsors{
	width:25%;
	height:40px;
	float:left;
	margin-top:20px;
	}
	
.autodesk{
	background-image:url('../images/new_sponsors/autodesk.png');
	}


.rit{
	background-image:url('../images/new_sponsors/rit.png');
	}
	
.keyshot{
	background-image:url('../images/new_sponsors/keyshot.png');
	}
	
.fontsmith{
	background-image:url("../images/new_sponsors/fontsmith.png");
	}
	
.foundry{
	background-image:url('../images/new_sponsors/foundry.png');
	}

.cias{
	background-image:url('../images/new_sponsors/cias.png');
	}	

.matt{
	background-image:url('../images/new_sponsors/matt.png');
	}

.cure{
	background-image:url('../images/new_sponsors/cure.png');
	}

.magic{
	background-image:url('../images/new_sponsors/magic.png');
	}

.lovincup{
	background-image:url('../images/new_sponsors/lovincup.png');
	}

.wings{
	background-image:url('../images/new_sponsors/wings.png');
	}

.pitapit{
	background-image:url('../images/new_sponsors/pitapit.png');
	}
	
.sponsor_logo{
	width: 120px;
	height:30px;
	vertical-align:center;
	float:none;
	margin:0 auto;
	background-size:100%;
	background-position:0 100%;
	cursor:pointer;
	overflow: hidden;
	}
	
.sponsors:hover .sponsor_logo{
	background-position:0 0;
	}

.sponsors:hover .sponsor_logo img{
	bottom:0px;
	}

.sponsor_logo a{
	margin: auto;
	width: 100%;
	height: 100%;
	display: block;
}

.sponsor_logo img{
	margin: auto;
	width: 100%;
	height: 200%;
	display: block;
	position: relative;
	bottom:30px;
}