// EXAMPLE
// to call
// vw(h5) or vw(40px)
@function vw($target) {
    $vw-context: (1000*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

html {
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, button {
    font-family: "Elliot", sans-serif !important;
}

h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: lowercase;
    color: $purpleblack;
    $min_width: $xs;
    $max_width: $lg;
    $min_font: 36px;
    $max_font: 54px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);


    @include media ('>sm') {
        font-size: 48px;
    }
    @include media ('>md') {
        font-size: 48px;
    }

}

h2 {
    line-height: 32px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    text-transform: lowercase;
    color: $purpleblack;
    $min_width: $xs;
    $max_width: $lg;
    $min_font: 24px;
    $max_font: 32px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    @include media ('>xs') {
        line-height: 32px;
        font-size: 24px;
    }

    @include media ('>sm') {
        line-height: 38px;
        font-size: 28px;
    }
}

h3 {
    line-height: 115%;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-transform: lowercase;
    color: $purpleblack;
    $min_width: $xs;
    $max_width: $lg;
    $min_font: 18px;
    $max_font: 28px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

p {
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 16px;
    color: $purpleblack;
    $min_width: $xs;
    $max_width: $sm;
    $min_font: 16px;
    $max_font: 18px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    @include media ('>xs') {
        line-height: 26px;
    }

    @include media ('>sm') {
        line-height: 26px;
        font-size: 18px;
    }
}

Link {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    line-height: 22px;
    font-size: 16px;
    color: $purpleblack;
    $min_width: $xs;
    $max_width: $sm;
    $min_font: 16px;
    $max_font: 18px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    @include media ('>xs') {
        line-height: 26px;
    }

    @include media ('>sm') {
        line-height: 26px;
        font-size: 18px;
    }
}

b,
strong {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    line-height: 22px;
    font-size: 16px;
    color: $purpleblack;
    $min_width: $xs;
    $max_width: $sm;
    $min_font: 16px;
    $max_font: 18px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    @include media ('>xs') {
        line-height: 26px;
    }

    @include media ('>sm') {
        line-height: 26px;
        font-size: 18px;
    }
}
