<div id="schedule">
    <div class="timeLine">
        <p>
            8 am
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--3">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--3">
                <div class="title">
                    Product Timecapsule: Roundtable Discussion
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--3">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
    <div class="timeLine">
        <p>
            9 am
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--2">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--2">
                <div class="title">
                    A career made of sleeping
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
    <div class="timeLine">
        <p>
            10 am
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--1">
                <div class="name">
                    KEYNOTE - JULIE ZHOU
                </div>
                <div class="title">
                    Designing For User Experiences
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
    <div class="timeLine">
        <p>
            11 am
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--4">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--4">
                <div class="title">
                    Product Timecapsule: Roundtable Discussion
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--4">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--4">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
    <div class="timeLine">
        <p>
            12 pm
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--2">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--2">
                <div class="title">
                    A career made of sleeping
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
    <div class="timeLine">
        <p>
            1 pm
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--1">
                <div class="name">
                    KEYNOTE - JULIE ZHOU
                </div>
                <div class="title">
                    Designing For User Experiences
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
    <div class="timeLine">
        <p>
            2 pm
        </p>
        <hr>
    </div>
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--3">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--3">
                <div class="title">
                    Product Timecapsule: Roundtable Discussion
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
        <div class="eventWrap">
            <div class="event event--3">
                <div class="title">
                    Here's why DESIGN is awesome
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
</div>
