{% macro eventCard(height) %}
    <div class="eventRow">
        <div class="eventWrap">
            <div class="event event--3" style="height: {{height}}">
                <div class="title">
                    {{title}}
                </div>
                <div class="name">
                    COO NAME
                </div>

                <div class="location">
                    BOO-1304
                </div>
            </div>
        </div>
    </div>
{% endmacro %}