<!-- app/pages/contact.njk -->
{% extends "layout.njk" %}

{% block title %}
    Speakers
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}

    {{nav.active('speakers')}}



	{% import 'macros/header-macro.njk' as header %}

	{{header.pageNames( 'Speakers' )}}

	<div class="container">

        {% include "partials/speakersModal.njk" %}
        
    </div>
{% endblock %}
