$breakpoints: (
    'xs': 445px,
    //was 650
    'sm': 590px,
    //was 768
    'md': 800px,
    'lg': 1024px,
    //was 1280
    'xl': 1920px
)   !default;

$xs: 445px;
$sm: 650px;
$md: 800px;
$lg: 1024px;
$xl: 1920px;
