// EXAMPLE
// to call
// vw(h5) or vw(40px)
@function vw($target) {
	$vw-context: (1000*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

html {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Elliot", sans-serif;
}

h1 {
	font-size: 60px;
	color: black;
	text-transform: uppercase;
	@include text--drop-shadow;
	$min_width: $sm;
	$max_width: $xl;
	$min_font: 48px;
	$max_font: 60px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);

	@include media ('>sm') {
		font-size: 60px;

		.home-header__title {
			font-size: 48px;
		}
	}
}

h2 {
	font-weight: 500;
	color: $light-grey;
	position: absolute;
	z-index: -1;
	$min_width: $lg;
	$max_width: $xl;
	$min_font: 80px;
	$max_font: 120px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h3 {
	@include text--drop-shadow;
	color: $dark-grey;
	$min_width: $xs;
	$max_width: $xl;
	$min_font: 52px;
	$max_font: 80px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h4 {
	font-weight: 500;
	color: $dark-grey;
	$min_width: $xs;
	$max_width: $xl;
	$min_font: 28px;
	$max_font: 32px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h5 {
	font-weight: 500;
	// color: $grey;
	$min_width: $xs;
	$max_width: $xl;
	$min_font: 24px;
	$max_font: 20px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

b,
strong {
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .4px;
	line-height: 22.4px;
	color: $dark-grey;

	@include media ('<md') {
		font-size: 20px;
		line-height: 27px;
	}

}

a {
	font-size: 14px;
	font-weight: 500;
	color: $teal;
	text-decoration: none;

	@include media ('<sm') {
		font-size: 20px;
	}

	&:hover {
		text-decoration: underline;
	}
}
