@font-face {
    font-display: swap;
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    src: url("webfonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    src: url("webfonts/Nunito/Nunito-Bold.ttf") format("truetype");
}