/*---------------------
REGISTER
-----------------------*/


#register{
	background:#F8F9EA;
	position:relative;
	bottom:30px;
	}

.titleword{
	width:100%;
	}
	
#register{
	background:#F8F9EA;
	position:relative;
	bottom:10px;
	}

#register h3{
	font-weight: 400;
	font-size:1em;
	line-height: 1.4em;
	margin-bottom: 30px;
	margin-top: 0px;
}

#register h2{
	line-height:1.3em;
	font-size:1.3em;
	margin-bottom:.2em;
}

#register h1{
	font-weight: 400;
	font-size:1.7em;
	margin-bottom:.3em;
}

.registermore{
	width:100%;
	height:50px;
	margin:30px auto;
	background:#B7D059;
	border-radius:2px;
	-moz-border-radius:2px;
	clear:both;
	}

.registermore h2{
	color:#fff;
	line-height:2.5em;
	text-align:center;
	font-weight:300;
	margin:0;
	padding-top: 10px;
	}

.registermore:hover{
	background:#C54F9C;
	}
	
.registermore:hover h2{
	color:#F8F9EA;
	}

form{
	display: none;
	width:100%;
	min-width:200px;
	max-width:500px;
	margin:0 auto 2em auto;
	overflow:hidden;
	border-radius: 2px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	}

fieldset{
	border: none;
}
.form-field,.short{
	
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:.1em 0;
	}

.short .form-field{
	width:50%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:0 0;
	float:left;
	}

.form-button{
	width:150px;
	float:right;
	}

.form-button input{
	margin-top:20px;
	width:100%;
	background: #B7D059;
	border: none;
	font-size: 1em;
	padding:.8em;
	color:#fafafa;	
	cursor: pointer;
	border-radius: 1px;	
	-moz-border-radius: 1px;	
}

.form-button input:hover{
	
	background: #C54F9C;	
}

label{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display:block;
	width:100%;
	text-align: left;
	padding-right:1em;
	color:#21464C;
	font-size: 1em;
	line-height: 2em;
}

fieldset input{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	float:left;
	width:100%;
	border:none;
	height:2em;
	padding:.5em;
	border-radius: 1px;
	-moz-border-radius: 1px;
	font-size: 1em;
	background:#e2e0df;
	
	box-shadow:0 0 5px 3px #f7f3f2;
	-webkit-box-shadow:0 0 5px 3px #f7f3f2;
	-moz-box-shadow:0 0 5px 3px #f7f3f2;
	}

fieldset input{
	
	outline:none;
	
	}

fieldset input:focus{
	background:#fff;
	color:#517681;
	}
	
.state input{
	width:90%;
	}
	
.zcode label, .zcode input{
	width:100%;
	}
