@import "fonts";
@import "vars";

body {
  text-align: center;
}

.darkTheme {
  background-color: darken($dark-grey, 12.5%);
  color: white;
  overflow: hidden;
}

.pageTitle {
  color: white;
  margin: 40px 0 12px 0;
}

.sponsor-link {
  font-weight: 500;
}

footer {
  margin: 80px 0 40px 0;
  p {
    font-size: 20px;
  }
}

a {
  color: $teal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#mc_embed_signup {
  background: transparent;
  input {
    font-family: 'Elliot', sans-serif;
  }
}

.social__img {
  width: 20px;
  height: 30px;
  margin: 0 18px;
}

.mc-field-group {
  display: inline-block;
  width: auto;
  position: relative;
  margin-top: 16px;
  input {
    background: transparent;
    color: #FFF;
    font-size: 14px;
    border: none;
    border-bottom: solid 1px #FFF;
    outline: none;
    width: 244px;
    margin-right: 44px;
    padding: 8px 12px;
  }
}

.clear {
  display: inline-block;
}

.mc-field-group input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
    color: #FFF;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    color: #FFF;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    color: #FFF;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    color: #FFF;
  }
}
