@font-face {
    font: {
        font-family: 'Elliot';
    }
    src: url("../assets/fonts/Elliot.otf") format("opentype");
}


@font-face {
  font-family: 'Elliot-Bold';
  src: url("../assets/fonts/Elliot-Bold.otf") format("opentype");
}


@font-face {
  font-family: 'Elliot-Light';
  src: url("../assets/fonts/Elliot-Light.otf") format("opentype");
}


@font-face {
  font-family: 'Elliot-Thin';
  src: url("../assets/assets/fonts/Elliot-Thin.otf") format("opentype");
}


@font-face {
  font-family: 'Elliot-Italic';
  src: url("../assets/fonts/Elliot-Italic.otf") format("opentype");
}


@font-face {
  font-family: 'Elliot-LightItalic';
  src: url("../assets/fonts/Elliot-LightItalic.otf") format("opentype");
}
