.recap-video {
    width: 47.69vw;
    height: 24.5vw;
    @include card--drop-shadow;
    // Needed to shift not push controls outside of video width
    width: auto;
}

.logo {
    width: 28.76vw;
    height: 28.76vw;
    // Drop shadow won't work here since it's an svg
}
