.action {
    text-decoration: none;

    &--button {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        color: #f8f8f8;
        border-radius: 4px;
        background-color: #3DCCD0;
        padding: 10px 20px;
        transition: 0.2s ease-in;
        box-shadow: 0 0 0 0 #3DCCD0;
        border: none;
        cursor: pointer;

        &:hover {
            transition: 0.2s ease-out;
            box-shadow: 0 2px 15px 0 #3DCCD0;
        }

        &:active {
            -webkit-transition: 0.2s ease-in;
            transition: 0.2s ease-in;
            box-shadow: 0 2px 35px 0 #3DCCD0;
        }

        &:focus {
            outline: 0;
        }
    }

    &--link {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        color: $teal;
        text-transform: uppercase;

        &:hover {
            text-decoration-line: none;
        }
    }
}
// A link...
// <a href="" class="action--link">Link  <i class="fa fa-long-arrow-right"></i> </a>
