.coming-soon {
    &--dark-theme {
        background-position: 0 17%;
        clip: rect(0, auto, auto, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        overflow-x: hidden;
        text-align: center;
        p {
            color: inherit;
        }
    }

    &--bg {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transform: translateZ(0);
        will-change: transform;
        background-image: url("../assets/graphics/TAW-Vis-Dev-3-Edit.jpg");
        background-position: 0 17%;
    }

    &--page-container {
        margin: 9.5vh 5px 6vh 5px;
        position: absolute;
        right: 0;
        left: 0;
        @include media ('<md') {
            margin: 5vh 5px 0 5px;
        }
    }

    &--title {
        color: white;
        margin: 0 0 12px;
        font-size: 50px;
        font-weight: 500;
        $min_width: $sm;
        $max_width: $xl;
        $min_font: 28px;
        $max_font: 50px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }

    &--date {
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1.4px;
        text-align: center;
        text-transform: uppercase;
        $min_width: $sm;
        $max_width: $xl;
        $min_font: 18px;
        $max_font: 28px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }

    &--info {
        padding: 0 3vw;
        &--title {
            margin-bottom: 10px;
        }
    }



    &--video {
        width: auto;
        min-height: 160px;
        height: 34vw;
        max-height: 360px;
        margin: calc(10px + 2vh) 0 calc(10px + 1vh) 0;
        z-index: 10;
    }

    &--social-icon {
        width: 24px;
        margin: 2px 24px;
        cursor: pointer;
    }

    &--footer {
        margin: 10vh 0 0;
        @include media ('<md') {
            margin: 6vh 0 0;
        }

        &--row {
            margin: 8px;
        }

        &--sponsor {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 3vh;

            &-link {
                color: $teal;
                font-weight: 500;
                font-size: 18px;

                @include media ('>1550px') {
                    text-shadow: 0 0 1px rgb(61, 204, 208);
                }
            }
        }
    }

    &--past-site {
        margin: 0 15px;
        color: $teal;
        font-size: 16px;
    }

    &--mc {
        &-clear {
            display: inline-block;
        }

        &-field-group {
            display: inline-block;
            width: auto;
            margin-top: 4.5vh;
            @include media('<sm') {
                margin: 2.5vh 0;
            }

            & input {
                background: transparent;
                color: #FFF;
                font-size: 14px;
                border: none;
                border-bottom: solid 1px #FFF;
                border-radius: 0;
                outline: none;
                width: 40vw;
                max-width: 244px;
                margin-right: 44px;
                padding: 8px 12px;
                @include media ('<=sm') {
                    width: 100vw;
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    font-weight: 400;
                    color: #FFF;
                }

                &::-moz-placeholder {
                    /* Firefox 19+ */
                    font-weight: 400;
                    color: #FFF;
                }

                &:-ms-input-placeholder {
                    /* IE 10+ */
                    font-weight: 400;
                    color: #FFF;
                }

                &:-moz-placeholder {
                    /* Firefox 18- */
                    font-weight: 400;
                    color: #FFF;
                }

                &:focus{
                    border-color: $teal;
                }
            }
        }
    }
}

span.coming-soon--scatter-item {
    position: relative;
    transition: all 0.75s ease-out;
}

#coming-soon--mc_embed_signup {
    background: transparent;
    padding: 0 3.5vw;

    input {
        font-family: 'Elliot', sans-serif;
    }
}
