// General Info Section

.contact-form-section,
.gen-info-section {
	position: relative;
}

.gen-info-heading {
	position: absolute;
	right: 3vw;
	top: 2.9vw;
	z-index: -1;
}

.gen-info-row {
	width: 69.06vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-top: 4vw;

	.gen-info-icon {
		display: inline-block;
		margin: 0;
		margin-right: 10vw;

		.icon-image {
			height: 18.4vw;
			width: 18.4vw;
		}
	}

	.gen-info-message {
		display: inline-block;
	}
}
// Contact Form Section
.contact-form-heading {
	position: absolute;
	left: 3vw;
	top: 0;
	z-index: -1;
}


.contact-message {
	height: 8.8vw;
	padding: vw(20px) vw(20px);
	box-sizing: border-box;
	resize: vertical;
}

@include media('<md') {
	.gen-info-row .gen-info-icon .icon-image{
		width: 28vw;
		height: auto;
	}
}

@include media('<sm') {
	.gen-info-row {
		box-sizing: border-box;
		width: 100%;
		display: block;
		padding: 4vw vw(100px);

		.gen-info-icon, .gen-info-message {
			display: block;
			margin: 0;

			.icon-image {
				width: 48vw;
				height: auto;
			}
		}

		.gen-info-message{
			margin-top: 7vw;
		}
	}

	.contact-message{
		width: 100%;
		min-height: 120px;
		padding: vw(44px) vw(32px);
	}
}