.contact {
	&-info {
		position: relative;

		&-heading {
			position: absolute;
			right: 3vw;
			top: 0;
			z-index: -1;
		}

		&-row {
			width: 69.06vw;
			margin: auto;
			display: flex;
			align-items: center;
			padding-top: 4vw;
		}

		&-icon {
			display: inline-block;
			margin-left: 18vw;
			margin-right: 10vw;

			&-image {
				height: 15vw;
				width: 15vw;
			}
		}

		&-message {
			display: inline-block;
		}
	}

	&-form {
		position: relative;

		&-row {
			padding-top: 2.5vw;
		}

		&-heading {
			position: absolute;
			left: 3vw;
			top: 0;
			z-index: -1;
		}
	}

	&-message {
		height: 8.8vw;
		padding-top: 1.5vw;
		box-sizing: border-box;
		padding-left: 1.5vw;
		padding-right: 1.5vw;
		resize: vertical;
		background-color: #F9F9F9;
		border: none;
		font-style: italic;
	}
}
