// @import 'variables';
// @import 'fonts';

body{
	font-family: 'Elliot';
	font-weight: 500;
}

.card {
	position: relative;
	background-color: #FFF;
	@include card--drop-shadow;

	.card__header{
		color: $dark-grey;
	}
	.card__subhead{
		color: $teal;
	}
	.card__subhead2{
		color: $normal-grey;
	}
}

.filters {
	margin: 3vw auto;
	display: table;
}

.schedFilter {
	width: 16.432vw;
	//height: 5.168vw;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin: 0vw 2vw;

	@extend .card;

	.content {
    display: table-cell;
    height: 5.168vw;
    width: inherit;
	vertical-align: middle;
	}

	p {
		text-transform: uppercase;
		opacity: 0.6;
		font-weight: 500;
	}

	.filter__header {
		padding-bottom: 5px;
		font-size: 24pt;
		@extend .card__header;
	}

	.filter__subhead {
		font-size: 16pt;
		@extend .card__subhead;
	}

}

.schedFilter--selected {
	width: 20.54vw;
	height: 6.46vw;

	.content {
		height: 6.46vw;
	}

	.filter__subhead , .filter__header {
		opacity: 1;
	}
}

.speakFilter {
	width: 16.432vw;
	height: 3.52vw;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin: 0vw 2vw;

	@extend .card;

	.content {
    display: table;
    height: inherit;
    width: inherit;
    position: relative;
	}

	.filter__header {
		font-weight: 500;
		font-size: 20pt;
		display: table-cell;
		vertical-align: middle;
		opacity: 0.6;
		@extend .card__header;
	}
}

.speakFilter--selected {
	padding: 0px 16px;
	height: 4.4vw;

	.filter__header {
		opacity: 1.0;
	}
}
