/* Icon */
.form-section,
.icon-section {
	position: relative;
}

.form-section {
	margin-top: vw(48px);

	.form-section {
		margin-top: vw(48px);

		.form-row-heading {
			left: 3vw;
			right: auto;
		}
	}
}
.icon-row-heading,
.form-row-heading {
	position: absolute;
	right: 3vw;
	top: 0;
	z-index: -1;
}

.form-row {
	padding-top: 6.1vw;
}

.icon-row {
	width: vw(960px);
	padding-top: 2.5vw;
	margin: 0 auto;

	.icon {
		text-align: center;
		margin: 0;

		.icon-label {
			font-size: 16px;
			font-weight: bold;
		}

		.icon-image {
			width: vw(152px);
			height: vw(152px);
			/*margin: 2vw 3.67vw;*/
			/* top/bottom not specified */
		}
	}
}
/* Form */
.input-form {
	background-color: white;
	width: 67.06vw;
	max-width: $lg;
	padding: 5.58vw 6.02vw;
	margin: 0 auto;
	@include card--drop-shadow;

	.form-message {
		margin-bottom: 2vw; // not specified
	}
}

/* Input */
.form__input {
	box-sizing: border-box;
	width: 100%;
	background-color: #F9F9F9;
	padding: 0 vw(20px);
	margin: 1.5vw auto;
	border: none;
	outline: none;
	font-family: 'Elliot', sans-serif;
}
.input-text {
	font-style: italic; // good (based on comp)
	height: 4.6vw;
}

.first-half {
	margin-right: .99vw;
}

.second-half {
	margin-left: .99vw;
}

.form-full-size {
	width: calc(100% + 16px);
	/*margin: 1.5vw auto;*/
}
/* Checkbox */
.checkbox-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/*width: 26.56vw;
	display: inline-block;
	position: relative;*/

	.checkbox-label {
		// position: absolute;
		// top: 3.5vw;
		// left: 4vw;
		display: inline-block;
		transform: translateY(-30%);
	}
}

.checkbox {
	// margin: 0;
	// width: 2.35vw;
	// height: 2.35vw;
	// position: absolute;
	// top: 3vw;
	// left: 0;
	margin-right: 15px;
	width: 32px;
	height: 32px;
	-webkit-appearance: none;
	background-color: #F9F9F9;
	border: none;
	outline: none;
	padding: 2px;
	position: relative;
}
.checkbox:checked:after {
	content: ' ';
	position: absolute;
	top: 8px;
	left: 8px;
	width: 16px;
	height: 16px;
	background-color: $normal-grey;
}


// EXTRA STUFF
.input-field {
	position: relative;
	display: inline-block;
	min-height: 100px;
	max-height: 200px;
}

.submit-link {
	margin-right: 6vw;
	font-family: 'Elliot', sans-serif;
}

@include media('<525px') {
	.form-row {
		padding-top: 2.5vw;
	}

	.icon {
		margin: 0;
		padding: 0;
		
		&-row {
			padding-top: 2.5vw;
			width: 100%;
		}

		&-label {
			font-size: 16px;
			font-weight: bold;
		}

		&-image {
			width: vw(336px);
			height: vw(336px);
			/*margin: 2vw 3.67vw;*/
			/* top/bottom not specified */
		}
	}
	/* Form */
	.input-form {
		box-sizing: border-box;
		width: 100%;
		padding: 5.58vw 6.02vw;
		margin: 3vw 0;
		margin-top: vw(216px);
		@include card--drop-shadow;

		.form-message {
			margin: vw(68px) vw(32px);
		}
	}
	/* Input */

	.form__input {
		box-sizing: border-box;
		width: 100%;
		padding: 0 vw(32px);
		margin: vw(32px) auto;
	}

	.first-half {
		margin-right: 0;
	}

	.second-half {
		margin-left: 0;
	}

	.form-full-size {
		width: 100%;
		margin: 1.5vw auto;
	}

	.input-text {
		height: 14.2vw;
	}

	/* Checkbox */
	.checkbox-container {
		height: 4.4vw;
		/*width: 26.56vw;
		display: inline-block;
		position: relative;*/
	}

	.checkbox {
		margin-right: 15px;
	}
	// EXTRA STUFF
	.input-field {
		display: block;
		padding: 0;
	}

	.action--button {
		width: 100%;
		text-align: center;
	}
}
