/* Icon */
.form-section,
.icon-section {
	position: relative;
}

.form-row-heading {
	left: 3%;
	right: auto;
}

.icon-row-heading,
.form-row-heading {
	position: absolute;
	right: 3%;
	top: -4%;
	z-index: -1;
}

.icon-row-heading,
{
	position: relative;
}

.form-row {
	padding-top: 6.1vw;
}

.icon {
	text-align: center;
	margin: 0;

	&-row {
		max-width: 960px;
		width: 96vw;
		padding: 82px 0;
		margin: 0 auto;
	}

	&-label {
		font-size: 16px;
		font-weight: bold;
		padding-top: vw(30px);
		@include media('>lg') {
			padding-top: 30px;
		}
	}

	&-image {
		border-radius: 50%;
		max-width: 134px;
		max-height: 134px;
		width: vw(134px);
		height: vw(134px);
		min-width: 72px;
		min-height: 72px;
		background-color: white;
		@include card--drop-shadow;
		/*margin: 2vw 3.67vw;*/
		/* top/bottom not specified */
	}
}

/* Form */
.input-form {
	background-color: white;
	width: 67.06vw;
	max-width: $lg;
	padding: 5.58vw 6.02vw;
	margin: 0 auto;
	@include card--drop-shadow;

	.form-message {
		margin-bottom: 2vw; // not specified
	}
}

/* Input */
.form__input {
	box-sizing: border-box;
	width: 100%;
	background-color: #F9F9F9;
	padding: 0 vw(20px);
	margin: 1.5vw auto;
	border: none;
	outline: none;
	font-family: 'Elliot', sans-serif;
}
.input-text {
	font-style: italic; // good (based on comp)
	min-height: 55px;
	height: 4.6vw;
	max-height: 65px;
}

.first-half {
	margin-right: .99vw;
}

.second-half {
	margin-left: .99vw;
}

.form-full-size {
	width: calc(100% + 16px);
	/*margin: 1.5vw auto;*/
}

.input-field {
	position: relative;
	display: inline-block;
	min-height: 100px;
	max-height: 200px;
	padding-right: 30px;
}

/* Checkbox */
.checkbox {
	// margin: 0;
	// width: 2.35vw;
	// height: 2.35vw;
	// position: absolute;
	// top: 3vw;
	// left: 0;
	display: inline;
	margin-right: 15px;
	width: 32px;
	height: 32px;
	-webkit-appearance: none;
	background-color: #F9F9F9;
	border: none;
	outline: none;
	padding: 2px;
	position: relative;
	&:checked:after {
		content: ' ';
		position: absolute;
		top: 8px;
		left: 8px;
		width: 16px;
		height: 16px;
		background-color: $dark-grey;
	}
	&-group {
		height: 15vw;
		max-height: 150px;
		min-height: 80px;
	}
	&-container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		/*width: 26.56vw;
	display: inline-block;
	position: relative;*/

		&-label {
			// position: absolute;
			// top: 3.5vw;
			// left: 4vw;
			display: inline-block;
			transform: translateY(-30%);
		}
	}
}


// EXTRA STUFF
.action--link--button {
	padding: 8px 10px;
	@include card--drop-shadow;
}
.submit {
	&-link {
		margin-right: 6vw;
		font-family: 'Elliot', sans-serif;
		// font-weight: 800;
		padding: 8px 10px;
	}
	&-icon {
		padding-top: 9px;
	}
}

@include media('<smedium') {
	.form-row {
		padding-top: 2.5vw;
	}

	.icon {
		margin: 0;
		padding: 0;

		&-row {
			padding: 42px 0;
			width: 100%;
		}
	}

	/* Form */
	.input-form {
		box-sizing: border-box;
		width: 100%;
		padding: 5.58vw 6.02vw;
		margin: 3vw 0;
    margin-top: 4vw;
		@include card--drop-shadow;

		.form-message {
			margin: vw(68px) vw(32px);
		}
	}
	/* Input */

	.form__input {
		box-sizing: border-box;
		width: 100%;
		padding: 0 vw(32px);
		margin: vw(32px) auto;
	}

	.first-half {
		margin-right: 0;
	}

	.second-half {
		margin-left: 0;
	}

	.form-full-size {
		width: 100%;
		margin: 1.5vw auto;
	}

	.input-text {
		height: 14.2vw;
	}

	/* Checkbox */
	.checkbox {
		margin-right: 15px;
	}
	// EXTRA STUFF
	.input-field {
		display: block;
		padding: 0;
	}

	.action--link--button {
		text-align: center;
	}
	.submit-link {
		width: 100%;
	}
}
