/* Icon */
.form-section,
.icon-section {
	position: relative;
}

.icon-row-heading .icon-row-title, .form-row-heading .form-row-title {
	position: absolute;
	right: 3vw;
	top: 0;
	z-index: -1;
}

.form-row {
	padding-top: 2.5vw;
}

.icon-row {
	padding-top: 2.5vw;

	.icon {
		display: inline-block;
		text-align: center;
		margin: 0;

		.icon-label {
			font-size: 16pt;
			line-height: 22.4pt;
			font-weight: bold;
		}

		.icon-image {
			width: 9.83vw;
			height: 9.83vw;
			margin: 2vw 3.67vw;
			/* top/bottom not specified */
		}
	}
}
/* Form */
.form__input{
	box-sizing: border-box;
	width: 100%;
	background-color: #F9F9F9;
	padding: vw(24px) vw(20px);
	margin: 1.5vw auto;
	border: none;
	outline: none;
	font-family: 'Elliot', sans-serif;
}

.input-form {
	background-color: white;
	width: 67.06vw;
	padding: 5.58vw 6.02vw;
	margin: 3vw auto;
	@include card--drop-shadow;

	.form-message {
		margin-bottom: 2vw; // not specified
	}
}
/* Input */
.input-text {
	font-style: italic; // good (based on comp)
}

.first-half {
	margin-right: 0.99vw;
}

.second-half {
	margin-left: 0.99vw;
}

.form-full-size {
	width: calc(100% + 16px);
	/*margin: 1.5vw auto;*/
}
/* Checkbox */
.checkbox-container {
	height: 4.4vw;
	width: 26.56vw;
	display: inline-block;
	position: relative;

	.checkbox-label {
		// position: absolute;
		// top: 3.5vw;
		// left: 4vw;
	  display: inline-block;
	}
}

.checkbox {
	// margin: 0;
	// width: 2.35vw;
	// height: 2.35vw;
	// position: absolute;
	// top: 3vw;
	// left: 0;
	margin-right: 15px;
}
// EXTRA STUFF
.input-field {
	position: relative;
	display: inline-block;
}

.submit-link {
	margin-right: 6vw;
	font-family: 'Elliot', sans-serif;
}

@include media('<sm') {
	.form-row {
		padding-top: 2.5vw;
	}

	.icon-row {
		padding-top: 2.5vw;

		.icon {
			display: inline-block;
			text-align: center;
			margin: 0;

			.icon-label {
				font-size: 16pt;
				line-height: 22.4pt;
				font-weight: bold;
			}

			.icon-image {
				width: 9.83vw;
				height: 9.83vw;
				margin: 2vw 3.67vw;
				/* top/bottom not specified */
			}
		}
	}
	/* Form */
	.input-form {
		box-sizing: border-box;
		width: 100%;
		padding: 5.58vw 6.02vw;
		margin: 3vw 0;
		@include card--drop-shadow;

		.form-message {
			margin: vw(68px) vw(32px);
		}
	}
	/* Input */
	.form__input{
		box-sizing: border-box;
		width: 100%;
		height: auto; // good
		padding: vw(44px) vw(32px);
	}

	.first-half {
		margin-right: 0;
	}

	.second-half {
		margin-left: 0;
	}

	.form-full-size {
		width: 55.76vw;
		margin: 1.5vw auto;
	}
	/* Checkbox */
	.checkbox-container {
		height: 4.4vw;
		width: 26.56vw;
		display: inline-block;
		position: relative;
	}

	.checkbox {
		margin-right: 15px;
	}
	// EXTRA STUFF
	.input-field {
		display: block;
		margin: vw(44px) auto;
	}

	.submit-link {
		margin-right: 6vw;
	}

	.action--button{
		width: 100%;
		text-align: center;
	}
}