/*Grid Speaker Card*/
.speakers-card--grid{
	display: inline-block;
	//was 17.31
	width: 15.9vw;
	position: relative;
	letter-spacing: 0.01em !important;

	margin: vw(37px) 3.15vw;

	.speakers-card__headshot{
		width: 100%;
		@include card--drop-shadow;
	}

	.card{
		width: 14.82vw;
		min-height: 5.58vw;
		padding: 10px 14px 0 14px;

		position: absolute;
		top: calc(19.08vw + 30px);
		left: 4.84vw;
	}

	.speakers-card__name{
		font-size: 18px;
		letter-spacing: -0.01em;
	}
	.speakers-card__position{
		display: flex;
		height: 40px;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}
	.speakers-card__fields{
		display: block;
		width: 19.66vw;
		color: #CCC;
		font-weight: 400;
		line-height: 30px;
	}

	.speakers-card__backing-img{
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0.59vw;
		left: 0.59vw;
		overflow: hidden;
		z-index: -1;

		@include card--drop-shadow;
	}
}

@include media('<sm'){
	.speakers-card--grid{

	}
}
