.home-header {
    text-align: center;
    position: relative;
    @include media ('<md') {
      margin-top: 8vw;
    }

    &__image {
        margin: 0 auto;
        z-index: -1;
        width: 80.7vw;
        height: 39.47vw;
        max-height: 505px;
        max-width: 1033px;
        @include card--drop-shadow;
    }
    &__date {
        position: relative;
        text-align: right;
        bottom: 36px;
        margin: auto 17vw;
        @include text--drop-shadow;
        .date-month{
          margin-right: 60px;
          line-height: 55px;
        }
    }
    &__title {
      letter-spacing: 5px;
      margin-bottom: -25px;
      @include media ('<md') {
        letter-spacing: 0px;
      }
    }

    @include media ('<lg') {
        &__date{
          text-align: center;
          .date-days{
              margin-bottom: 30px;
          }
        }
    }
}

/*=------------------------Home header above----------------------------*/

.home-intro__text{
   margin-left: 178px;
  .text--normal{
    text-decoration: none;
    font-size: 32px;
    font-weight: normal;
    //margin: 0 auto;
  }
}

@include media('<lg') {
  .home-intro__text{
    margin-left: 120;
  }
}

@include media('<md') {
  .home-intro__text{
    margin-top: 44px;
    margin-left: 94;
  }
}

@include media('<sm') {
    .home-intro__text{
      margin-top: 64px;
      margin-left: 140px;
    }
}

@include media('<xs') {
    .home-intro__text{
      margin-top: 64px;
      margin-left: 55px;
    }
}

/*=------------------------Intro text above----------------------------*/

.home-every{
  text-align: center;
  margin-top: 204px;
  position: relative;
  //z-index: -1;
  //margin-left: auto;
  //margin-right: auto;
  &__backdrop{
    z-index: -1;
    left: 0;
    right: 0;
    top: -140px;
    margin: 0 auto;
    //margin bottom: 80px;
  }
  &__text{
    position: relative;
    bottom: 40px;
    width: 30.06vw;
    margin: 0 auto;
    text-align: left;
  }
}

@include media('<lg') {
  .home-every{
    margin-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
    &__backdrop{
      top: -110px;
    }
  }
}

@include media('<md') {
  .home-every{
    margin-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
    &__backdrop{
      top: -110px;
    }
    &__text{
      width: 300px;
    }
  }
}


@include media('<sm') {
  .home-every{
    margin-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
    &__backdrop{
      top: -110px;
    }
    &__text{
      width: 300px;
    }
  }
}

@include media('<sm') {
  .home-every{
    margin-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
    &__backdrop{
      top: -120px;
      letter-spacing: -5px;
    }
  }
}


/*=------------------------Every backdrop above----------------------------*/

.home-text{
  &__what{
    display: inline-block;
    vertical-align: middle;
    width: 30.06vw;
    margin-top: 78px;
    margin-left: 184px;
    max-width: 430px;
  }
  &__who{
    margin-left: 82px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 165px;
    width: 30.06vw;
    max-width: 430px;
  }
  &__why{
    display: block;
    margin-top: 10px;
    width: 22.06vw;
  }
  .title--gap{
    line-height: 8.94vh;
  }
}

@include media('<lg') {
  .home-text{
    &__what{
      display: inline-block;
      margin-top: 58px;
      margin-left: 102px;
      width: 302px;
    }
    &__who{
      margin-top: 46px;
      display: inline-block;
      margin-left: 100px;
      width: 302px;
    }
    .title--gap{
      line-height: 6.94vh;
    }
  }
}

@include media('<md') {
  .home-text{
    &__what{
      display: block;
      width: 290px;
    }
    &__who{
      display: block;
      width: 290px;
      margin-left: 300px;
    }
    .title--gap{
      line-height: 6.94vh;
    }
  }
}


@include media('<sm') {
  .home-text{
    &__what{
      display: block;
      width: 345px;
      margin-left: 72px;
    }
    &__who{
      margin-top: 46px;
      display: block;
      width: 345px;
      margin-left: 130px;
    }
    .title--gap{
      line-height: 6.94vh;
    }
  }
}

@include media('<xs') {
  .home-text{
    &__what{
      display: block;
      width: 245px;
      margin-left: 72px;
    }
    &__who{
      margin-top: 46px;
      display: block;
      width: 245px;
      margin-left: 72px;
    }
    .title--gap{
      line-height: 6.94vh;
    }
  }
}

/*=------------------------What Who Why above----------------------------*/

.video-section{
   margin-top: 228px;
}

.video-container{
  position: relative;
  margin-top: 20px;

  .video-backdrop{
    line-height: 0;
    margin-left: 58px;
    top: -20px;
    z-index: -1;
  }

  &__recap{
    width: 71.7vw;
    height: 39.47vw;
    margin: 0 auto;
    display: block;
  }

  .why-text{
    text-align: left;
    display: block;
    margin-top: 50px;
    width: 22.06vw;
    margin: 0 auto;
    .title--gap{
      line-height: 6.94vh;
    }
  }
}

@include media('<lg') {
  .video-section{
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
    .video-backdrop{
      z-index: -1;
      top: -25px;
      margin-left: 100px;
      margin-bottom: 30px;
    }
  }
  .video-container{
    .why-text{
      width: 302px;
      height: 112px;
    }
  }
}

@include media('<md') {
  .video-section{
    margin-top: 130px;
    margin-left: 30px;
    margin-right: 30px;
    .video-backdrop{
      z-index: -1;
      top: -25px;
      margin-left: 70px;
      margin-bottom: 30px;
    }
  }
  .video-container{
    .why-text{
      width: 302px;
      height: 112px;
    }
  }
}

@include media('<sm') {
  .video-section{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    .video-backdrop{
      z-index: -1;
      top: -25px;
      margin-left: 55px;
      margin-bottom: 30px;
    }
  }
  .video-container{
    .why-text{
      width: 302px;
      height: 112px;
    }
  }
}


@include media('<xs') {
  .video-section{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    .video-backdrop{
      z-index: -1;
      top: -25px;
      margin-left: 20px;
      margin-bottom: 30px;
    }
  }
  .video-container{
    .why-text{
      width: 302px;
      height: 112px;
      margin: 0 auto;
      margin-left: 30px;
    }
  }
}



/*=------------------------Video above----------------------------*/

.text-card {
    margin-top: 10px;
    //background-color: white;
    width: 432px;
    height: 138px;
    padding: 30px 33px;
    margin-left: 50px;
    margin-right: 106px;
}

@include media('<lg') {
  .text-card{
    text-align: left;
    margin-left: 72px;
    margin-right: 72px;
    width: auto;
  }
}


.home-cards{
   margin-top: 264px;
   margin-left: 285px;
  .home-card__speaker2{
    margin-top: 72px(!important);
  }
}

.speaker-link{
  .lineup{
    margin-top: 60px;
    position: absolute;
    right: 350px;
    text-transform: capitalize;
  }
}

.header {
    position: relative;
    margin-bottom: 100px;

    &__img {
      position: absolute;
      height: 6.6vw;
      width: 75.06vw;
      @include card--drop-shadow;
      z-index: -1;
      top: 30px;
      right: 0;
      &-register {
        height: 6.6vw;
        width: 75.06vw;
        background-image: url("../assets/graphics/taw-vis-inverted-8-middle.jpg");
        background-position-x: center;
        background-position-y: center;
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
        background-size: cover;
      }
    }

    @include media ('<md') {

      margin-top: 20px;
      //margin-bottom: 100px;

        &__img {
          height: 100px;
          top: 40px;
        }

    }
}

.up{
  position: relative;
}

.down{
  position: relative;
}

.span--space{
  white-space: pre;
}
