

// .wheretostay {
// 	display: inherit;
// }
//
// .gethere {
// 	display: none !important;
// }
//
// .welcome {
// 	display: none !important;
// }
//
// .essentials {
// 	display: none !important;
// }
.info_header{
	top: 39px;
	position: relative;
	z-index: -1;
}
//page chooser styles
.category_bar__info{
	height: 72px;
	margin-top: 50px;
	margin-bottom: 100px;
	width: auto;
	justify-content: space-between;
}
.category_item__info{
	margin: 0 auto;
	font-size: 19px;
	line-height: 76px;
	font-weight: bold;
	margin-bottom: 25px;
	height: 72px;
	width: 225px;
	color: #4D4D4D;
	text-decoration: none !important;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
}
a.category_item__info{
	text-decoration: none !important;
	border: none;
}
.category_item__info--active{
	background-color: #46CCCF;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
}
.category_item__info:hover{
	background-color: #46CCCF;
	color: white;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}
// where to stay styles
.wheretostay_locations_container{
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	vertical-align: middle;
}

.wheretostay_locations{
	vertical-align: top;

	.location{
		&__info{
			font-weight: 700;
		}

		&__travel-time{
			color: $normal-grey;
			font-style: italic;

			margin-bottom: 12px;
		}
	}
}

@include media('<md') {
	.wheretostay_locations_container{
		width: 90%;
		margin: 0 auto !important;

		.wheretostay_title{
			margin-left: 5%;
		}

		.wheretostay_locations{
			min-width: 0;
			max-width: 100%;
			width: 40%;
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}

@include media('<sm') {
	.wheretostay_locations_container{
		width: 90%;
		margin: 0 auto !important;

		.wheretostay_locations{
		}
	}
}

.wheretostay_locations_container{
	margin-left: 64px;
}

.wheretostay_title{
	margin-left: 20px;
	margin-bottom: 30px;
}

.wheretostay_locations{
	display: inline-block;
	min-width: 29%;
	max-width: 34%;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 64px;
}

// welcome styles
.info_catering{
	display: inline-block;
	margin-top: 34px;
	width: 400px;
}
.info_welcome_container{
	margin:0 auto;
}

@include media('<lg') {
	.info_welcome_container{
		display: inline-grid;
		margin: 0 auto;
		padding: 20px;
	}
}

.info_checkin{
	display: inline-block;
	width: 400px;
}
.info_checkin_title{
	margin-bottom: 20px;
}
.info_catering_meals{

	margin-top: 30px;
}

.info_welcome_image{
	vertical-align: middle;
	width:558px;
	height: 313px;
	display: inline-block;
	background: white;

	margin-right: 75px;
	margin-bottom: 75px;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
	background-image: url("../assets/graphics/info_here_photo.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.info_welcome_row{
	margin:0 auto;
}
//get here styles
.gethere_container{
	display: inline-block;
	margin: 0 auto;
}
.gethere{
	margin-left: 50px;
	margin-right: 50px;
}
.couch_surfing{
	margin-bottom: 15px;
	margin-top: 30px;
}
.gethere_text__container{
	display: inline-block;
	width: 574px;
	vertical-align: middle;
	margin-bottom: 38px;
	margin-top: 30px;

}
.gethere_text{
	display: inline-block;
	width: 370px;
}

.gethere_link{
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	width: 370px;
}
.gethere_map{
	display: inline-block;
	height: 450px;
	width: 586px;
	vertical-align: middle;
	background-color: #ffffff;
}
.info_arrow{
	left: 20px;
	position: relative;
}
//the essentials styles
.checklist_container{
	margin: 0 auto;
	max-width: 55vw;
	padding: 76px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
}

.info_checkbox{
	position: relative;
	left: -61px;
	top: 35px;
	display:inline-block
}
.checklist_title{
	position: relative;
	left:-30px;
	font-size: 16px;
	margin-bottom: 36px;
	color: #4D4D4D;
}
.checklist_headline{
	font-size: 16px;
	margin-bottom: 10px;
	color: #4D4D4D;
}
.checklist_byline{
	font-style: italic;
	font-size: 16px;
	color: #B2B2B2;
	margin-bottom: 40px;
}
