

// .wheretostay {
// 	display: inherit;
// }
//
// .gethere {
// 	display: none !important;
// }
//
// .welcome {
// 	display: none !important;
// }
//
// .essentials {
// 	display: none !important;
// }

.info-container{
	width: 80%;
	margin: 0 auto;
	position: relative;
}
//page chooser styles
.category_bar__info{
	margin-bottom: 158px;
	justify-content: space-between;
}
.category_item__info{
	width: 18%;
	/*margin: 0 auto;
	font-size: 19px;
	line-height: 76px;
	font-weight: bold;
	margin-bottom: 25px;
	height: 72px;
	width: 225px;
	color: $dark-grey;
	text-decoration: none !important;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);*/
}
/*a.category_item__info{
	text-decoration: none !important;
	border: none;
}
.category_item__info--active{
	background-color: #46CCCF;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
}
.category_item__info:hover{
	background-color: #46CCCF;
	color: white;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}*/
// where to stay styles
.wheretostay_locations_container{
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	vertical-align: middle;
	width: 90%;
}

.wheretostay_locations{
	vertical-align: top;

	.location{
		&__info{
			font-weight: 700;
		}

		&__travel-time{
			color: $normal-grey;
			font-style: italic;

			margin-bottom: 12px;
		}
	}
}


.wheretostay_locations_container{
	margin-left: 64px;
}

.wheretostay_header{
	top: -7vw;
	@include media('>xl') {
		top: -86.13px;
	}
}

.wheretostay_locations{
	display: inline-block;
	min-width: 29%;
	max-width: 34%;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 64px;
}

.couch_surfing_block{
	margin-left: 20px;
	margin-right: 20px;
}

// welcome styles
.info__catering{
	margin-top: 13vw;
	@include media('>xl') {
		margin-top: 166.4px;
	}
}

.catering__img{
	float: right;
	margin-left: 9vw;
	@include media('>xl') {
		margin-left: 115px;
	}
}

.info_welcome_container{
	margin:0 auto;
	width: 80%;

	position: relative;
}

.welcome__header{
	top: -7vw;
	@include media ('>xl') {
		top: -89.6px;
	}
	right: 0;
}

@include media('<lg') {
	.category_bar__info{
		margin-bottom: 112px;
	}

	.info_welcome_container{
		display: inline-grid;
		margin: 0 auto;
		padding: 20px;
	}
}

.welcome__info-block{
	display: inline-block;
	width: 38%;
}

.info_checkin_title{
	margin-bottom: 20px;
}

.info_catering_meals{
	margin-top: 30px;
}

.info_welcome_image, .catering__img{
	width: 37vw;
	height: 21vw;
	max-height: 268.797px;
	max-width: 473.6px;
	display: inline-block;
	background: white;
	@include card--drop-shadow;
}

.info_welcome_image{
	margin-right: 9vw;
	@include media ('>xl') {
		margin-right: 115.2px;
	}
	background-image: url("../assets/graphics/info_here_photo.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.info_welcome_row{
	margin:0 auto;
}
//get here styles
.gethere_container{
	display: inline-block;
	margin: 0 auto;
}

.gethere_header{
	top: -11vw;
	@include media ('>xl') {
		top: -76.5px;
	}
	line-height: 90px;
}

.couch_surfing{
	margin-bottom: 15px;
	margin-top: 30px;
}
.gethere__info-block{
	display: inline-block;
	width: 34%;
	vertical-align: top;
	margin-left: 2%;
	margin-right: 8%;
	margin-top: 5vw;
	@include media ('>xl') {
		margin-top: 64px;
	}
}

.gethere_link{
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	width: 370px;
}
.gethere_map {
	display: inline-block;
	width: 40%;
	&-iframe {
		width: 50vw;
		max-width: 600px;
		height: 42vw;
		max-height: 450px;
		@include media ('<lg') {
				width: 90vw;
				max-width: unset;
		}
	}
}
.info_arrow{
	left: 20px;
	position: relative;
}
//the essentials styles
.checklist_container{
	margin: 0 auto;
	width: 55vw;
	max-width: 704px;
	padding: 76px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(79, 170, 177, 0.15);
}

.checklist_header{
	top: -7vw;
	@include media ('>xl') {
		top: -89.6px;
	}
	@include media ('<sm') {
		display: none;
	}
}

.info_essential{
	margin-bottom: 3vw;
	@include media ('>xl') {
		margin-bottom: 38.4px;
	}

	.checkbox{
		display: inline-block;
	}
}

.essential__info-block{
	max-width: 80%;
	position: relative;
	left: 5%;
	display:inline-block;
	vertical-align: top;
}

.checklist_title{
	margin-bottom: 36px;
}
.checklist_headline{
	margin-bottom: 10px;
}
.checklist_byline{
	font-style: italic;
	color: $normal-grey;
}

@include media('<lg') {
	.category_item__info{
		width: 44%;
		margin: 2% auto;
	}

	.info-container{
		width: 90%;
	}

	.gethere_container{
		margin-top: 5vw;
	}

	.gethere__info-block{
		width: 100%;
		margin: 0;
		margin-bottom: 8vw;
		.gethere_link{
			margin: 48px 0;
		}
	}

	.gethere_header{
		line-height: 72px;
	}

	.info_welcome_container{

		.welcome__header{
			top: -42px;
		}

		.welcome__info-block, .info_welcome_image, .catering__img{
			width: 100%;
		}

		.info_welcome_image, .catering__img{
			height: 44vw;
			margin: 0;
			margin-bottom: 8vw;
		}

		.info__catering{
			margin-top: 13vw;
		}
	}

	.info-container{
		width: 90%;
		margin: 0 auto;
	}

	.essentials .info-container{
		width: 100%;
		margin: 0;
	}

	.checklist_container{
		width: 100%;
		padding: 7vw 5%;
		box-sizing: border-box;
	}

	.checklist_header{
		top: -62px;
	}

	.info_essential{
		margin-bottom: 6vw;
	}

	.wheretostay_locations_container{

		.wheretostay{
			&_title{
				margin-left: 5%;
			}

			&_locations{
				min-width: 0;
				max-width: 100%;
				width: 40%;
				margin-left: 5%;
				margin-right: 5%;

				.location__travel-time{
					font-size: 18px;
				}
			}
		}

	}
}

@include media('<md'){
	.gethere_container{
		margin-top: 15vw !important;
	}

	.gethere_header{
		top: -26vw;
	}
}

@include media('<sm') {
	.gethere_container{
		margin-top: 20vw;
	}

	.gethere__info-block{
		margin-bottom: 21vw;
	}

	.gethere_header{
		top: -36vw;
	}

	.info_welcome_container{
		.welcome__header{
			top: -23vw;
		}
	}

	.info__catering{
		margin-top: 18vw;
	}

	.wheretostay_locations_container{
		width: 90%;
		margin: 0 auto !important;
	}

	.wheretostay_header{
		top: -11vw;
	}
}
