.nav {
    &--brand {
        width: 45px;
    }

    &--header {
        background-color: $color-background;
    }

    &--container {
        height: 85px;
        background-color: $color-background;
        padding: 0 86px;
        @include media ('<lg') {
            padding: 0 1vw;
        };
    }

    &--logo {
        float: left;
        margin-top: 33px;
        margin-left: 7px;
    }

    &--list {
        float: right;
        margin: 0;
    }

    &--list-item {
        float: left;
        padding: 0 24px 0 20px;
        font-size: 18px;
        transition: all 0.7s ease-in-out;
        text-decoration: none;
        list-style: none;
        margin-top: 49px;

        &:last-child a{
            padding: 49px 15px 10px 19px;
            z-index: 100;
            background-color: $teal;
            // width: 75px;
            // height: 36px;
            margin-top: 0;
            color: #FFF !important;
            @include register--drop-shadow;
        }
    }

    &--active {
        color: $teal !important;
    }

    &--list-item a {
        color: $normal-grey;
        text-transform: uppercase;
        transition: all 0.4s ease-in-out;
    }

    &--list-item a:hover {
        color: $teal;
        text-decoration: none;
        transition-duration: 0.4s;
    }

    &--icon {
        display: none;
    }

    &--toggle {
        float: right;
        margin: 20px;
        color: #EEE;
        font-size: 30px;
        padding: 0 5px;
        border-radius: 4px;
        cursor: pointer;
        display: none;
    }

    &--register {
        padding: 15px;
        width: 30px;
        height: 30px;
        display: none;
        background-color: none;
    }

    &--overlay {
        width: 0%;
        display: none;
    }

    // Mobile Nav Bar
    @include media ('<md') {

        &--container {
            padding: 0;
            box-shadow: 0 0 10px 0 rgba(70, 204, 207, 0.74);
            background-color: white;
            position: fixed;
            width: 100%;
            height: 80px;
            top: 0;
            background-color: white;
            z-index: 10;
        }

        &--active {
            color: black !important;
        }

        &--social {
            margin-top: 30px;
            margin-bottom: 80px;
            display: flex;
            flex-direction: row;

            &-image {
                width: 35px;
                height: 35px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 50px;
            }

            &-link {
                display: inline-block;
            }
        }

        &--mobile-icons {
            max-width: 100%;
        }

        // MOBILE NAV TOGGLE
        &--icon {
            width: auto;
            height: 80px;
            float: left;
            display: inline-block;
        }

        &--toggle {
            border: none;
            color: #111;
            font-size: 35px;

            display: block;
        }

        /// MOBILE NAV LOGO
        &--logo {
            float: none;
            margin-top: 20px;
            margin-left: 0;
            position: absolute;
            left: 43%;
            display: inline-block;
        }

        /// MOBILE NAV TICKET ICON
        &--register {
            display: block;
            background-color: rgb(70,204,207);
            box-shadow: 0 0 10px 0 rgba(70, 204, 207, 0.74);
            float: right;
            margin-top: 10px;
            margin-right: 15px;
            display: inline-block;
        }

        // Prevents Desktop Nav From Appearing on Mobile
        &--list {
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            top: -4px;
            background-color: #222;
            display: none;
        }

        &--list-item {
            text-align: center;
            display: block;
            border-bottom: 1px solid #333;
            float: none;
        }

        // Overlay Effect
        &--overlay {
            display: initial;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 4 !important;
            top: 0;
            left: 0;
            background-color: rgb(70,204,207);
            background-color: rgba(70,204,207, 0.9);
            overflow: hidden;

            &-closebtn {
                position: absolute;
                top: 7px;
                left: 27px;
                font-size: 50px;
                color: black;
            }

            &-text {
                color: white;
                font-size: 16px;
            }
        }

        &--overlay-content {
            position: relative;
            top: 12%;
            width: 70%;
            text-align: left;
            margin-top: 20px;
            margin-left: 60px;

            &-link {
                padding: 8px;
                text-decoration: none;
                font-size: 30px;
                color: white;
                display: block;
                transition: 0.3s;

                &:hover, &:focus {
                    color: black;
                    text-decoration: none;
                }
            }

        }


    }
}

// Applies to all pages to allow for fixed navbar
.container {
    padding-top: 80px;
    // z-index: -1;
    position: relative;
}

// Locks page from scrolling when overlay is present
.noScroll {
    overflow: hidden;
}
