.register{
	&-h2{
		position: absolute;
		top: .5vw;
		font-size: 8vw;
	}
}
.form-row-heading {
    position: absolute;
    right: 71px;
    top: -4px;
    z-index: -1;

}
.form-row-title {
	font-size: 8vw;
	left: -16vw;
}
.coupon-container {
	height: 34px;
}
.coupon-status {
	display: none;
	width: 49%;
	margin-left: 49%;
	line-height: 34px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

@media screen and (max-width:850px) {
	.about-mobile-top {
		margin-top: 25px;
	}

	#registerForm .form-group label,
	#registerForm .form-group input[type=text],
	#registerForm .form-group input[type=email],
	#registerForm .form-group input[type=tel],
	#registerForm .form-group .checkbox-group,
	#registerForm .form-group hr,
	.coupon-status {
		width: 100%;
		padding-left: 0;
		margin-left: 0;
	}
}

.coupon-success {
	color: #79E779;
	position: relative;
}

.coupon-success::before,
.yesbox-container input[type=checkbox]:checked + label::after {
	content: "";
	height: 21px;
	width: 21px;
	position: relative;
	background-image: url(../img/reg-success.png);
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.coupon-fail {
	color: #FF1838;
	position: relative;
}

.coupon-fail::before,
.nobox-container > input[type=checkbox]:checked + label::after {
	content: "";
	height: 21px;
	width: 21px;
	position: relative;
	background-image: url(../img/reg-fail.png);
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.checkmark {
	margin-top: 65px;
	margin-bottom: 65px;
}
.icon-row{
	margin-top: 164px;
}
.form-row{
	margin-top: 100px;
}
.footer-top{
	height: 0;
}
.form-row-heading{
	@include media ('<md') {
		display: none;
	}
}
.register {
	&-h2 {
		@include media ('<md') {
			display: none;
		}
		@include media ('<md') {
			top: 5vw;
		}
		@include media ('<xl') {
			top: 3vw;
			right: 11vw;
		}@include media ('>xl') {
			top: .5vw;
		}
		@media (min-width:1600px){
			font-size: 110px;
		}

	}
}
.icon-row{
	@include media ('<md') {
		margin-top: -50px;
	}
}
.form-row{
	@include media ('<md') {
		margin-top: 0;
	}
}
.form-row-title{
	@media (min-width:1600px){
		font-size: 110px;
		top: 1vw;
	}
	@media (min-width:2000px){
		top: 2.5vw;
	}
	@media (min-width:2300px){
		top: 2.85vw;
	}
}
