#scrollUp {
    margin: 15px auto;
    display: table;

    hr {
        float: left;
        width: 11vw;
        border: 1px solid #efefef;
    }

    #return-to-top {
        float: left;
        text-align: center;

        i {
            padding-bottom: 10px;
        }
    }

    #return-to-top:hover {
      text-decoration: none;
    }
}
