.speakers__keynote, .speakers__grid, .filters{
	position: relative;
}

.speaker{
	cursor: pointer;
}

.speakers__grid{
	margin-left: -9vw;

	&-wrap{
		width: 80%;
		margin: 0 auto;
	}
}

.speakers__keynote{
	// margin: vw(154px) auto;
	margin-right: auto;
	margin-bottom: vw(164px);
	margin-left: auto;
	text-align: center;
}

.speakers-card--keynote:last-child{
	margin-top: vw(40px);
}

.speakers__keynote__header{
	top: vw(-20px);
	right: vw(48px);
}

.speakers__grid__header{
	top: vw(-112px);
	left: 9vw;
}

.filters {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

@include media('<md'){
	.speakers-card--keynote:last-child{
		margin-top: vw(80px);
	}

	.speakers__keynote__header{
		top: vw(-6px);
	}

	.speakers__grid{
		margin-left: -14vw;
	}
}

@include media('<md'){
	.speakers__grid__header{
		top: -14vw;
	}
}

@include media('<sm'){
	.speakers__keynote{
		margin-top: 6vw;

		&__header{
			top: -58px;
		}
	}

	.speakers__grid{
		margin-top: 27vw;

		&-wrap{
			width: 56%;
		}

		&__header{
			top: -102px;
			left: 0;
		}
	}
}
