.speakers__keynote, .speakers__grid, .filters{
	position: relative;
}

.speaker{
	cursor: pointer;
}

.speakers__grid{
	margin-left: -9vw;

	&-wrap{
		width: 80%;
		margin: 0 auto;
	}
}

.speakers__keynote{
	// margin: vw(154px) auto;
	margin-right: auto;
	margin-bottom: vw(154px);
	margin-left: auto;
	text-align: center;
}

.speakers-card--keynote:last-child{
	margin-top: vw(40px);
}

.speakers__keynote__header{
	top: vw(-20px);
	right: vw(48px);
}

.speakers__grid__header{
	top: vw(-64px);
	left: vw(116px);
}

.filters {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

@include media('<md'){
	.speakers__grid{
		margin-left: -14vw;
	}
}

@include media('<sm'){
	.speakers__grid{
		&-wrap{
			width: 56%;
		}
	}
}
