<!-- app/pages/info.njk -->
{% extends "layout.njk" %}

{% block title %}
    Info
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'info' -->
    {{nav.active('info')}}


	{% import 'macros/header-macro.njk' as header %}
	{{header.pageNames( 'Info' )}}


    <div class="container">
		{% import 'macros/info_subhead-macro.njk' as div %}
		{{div.active('whatbring')}}
		{% include "partials/info-essentials.njk" %}
        {% include "partials/footer.njk" %}
    </div>
{% endblock %}
