<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}
    About
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'index' -->
    {{nav.active('about')}}
    {% include "partials/about.njk" %}
{%  endblock %}
