<!-- app/pages/contact.njk -->
{% extends "layout.njk" %}

{% block title %}
    Contact
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'contact' -->
    {{nav.active('contact')}}

	{% import 'macros/header-macro.njk' as header %}
	{{header.pageNames( 'Contact' )}}


    <div class="container">
		{% include "partials/contact.njk" %}
        {% include "partials/footer.njk" %}
    </div>
{% endblock %}
