<!-- app/pages/contact.njk -->
{% extends "layout.njk" %}

{% block title %}
    Contact
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'contact' -->
    {{nav.active('contact')}}
    {% include "partials/contact.njk" %}
{% endblock %}
