<!-- app/pages/home.njk-->
{% extends "layout.njk" %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'home' -->
    {{nav.active('home')}}
    {% include "partials/home.njk" %}
{% endblock %}
