<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}
    Home
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'index' -->
    {{nav.active('index')}}
    <div class="">
        {% include "partials/home.njk" %}
        {% include "partials/footer.njk" %}
    </div>
{% endblock %}
