<!-- app/pages/info.njk -->
{% extends "layout.njk" %}

{% block title %}
    Info
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'info' -->
    {{nav.active('info')}}
    <div class="container">
        {% include "partials/info.njk" %}
        {% include "partials/footer.njk" %}
    </div>
{% endblock %}