<!-- app/pages/about.njk-->
{% extends "layout.njk" %}

{% block title %}
    About
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    <!-- Creating the navigation with activePage = 'contact' -->
    {{nav.active('about')}}
    {% include "partials/example.njk" %}
{% endblock %}
