<!-- app/pages/register.njk-->
{% extends "layout-review.njk" %}

{% block title %}
    Review
{% endblock %}
{% block content %}
    {# leaving these out for soft launch -- PUT BACK IN ON NAV LAUNCH #}
    {# {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('register')}} #}
    <div class="container">
        {% include "partials/review.njk" %}
        {% include "partials/footer.njk" %}
    </div>
{% endblock %}
