<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}
    Schedule
{% endblock %}
{% block content %}

{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('schedule')}}

    {% import 'macros/header-macro.njk' as header %}
    {{header.pageNames( 'Schedule' )}}

    <div class="container">
    {% include "partials/schedule.njk" %}
    {% include "partials/footer.njk" %}
    </div>
{% endblock %}
