<!-- app/pages/contact.njk -->
{% extends "layout.njk" %}

{% block title %}
    Speakers
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}

    {{nav.active('speakers')}}
    <div class="container">
        {% include "partials/cardGridSpeaker.njk" %}
        <br><br><br><br><br><br><br><br><br><br><br><br>
        {% include "partials/cardKeynoteSpeaker.njk" %}
        {# {% include "partials/speakerCards-example.njk" %} #}
    </div>
{% endblock %}
