<!-- app/pages/contact.njk -->
{% extends "layout.njk" %}

{% block title %}
    Speakers
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}

    {{nav.active('speakers')}}



	{% import 'macros/header-macro.njk' as header %}

	{{header.pageNames( 'Speakers' )}}

	<div class="container">


        {% include "partials/cardKeynoteSpeaker.njk" %}
        {# {% include "partials/speakersFilters.njk" %} #}
        {% include "partials/cardGridSpeaker.njk" %}
        {# {% include "partials/speakerCards-example.njk" %} #}

        {% include "partials/footer.njk" %}
    </div>

    {# <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <script type="text/javascript">
        // init isotope
            var $speakerGrid = $('.speakers__grid').isotope({
                itemSelector: '.speakers-card--grid',
                layoutMode: 'fitRows'
            });

            // connect button to filter type
            $('.speakFilter').on('click', function() {
                var filterValue = $(this).attr('data-filter');
                console.log(filterValue);
                // use filterFn if matches value
                $speakerGrid.isotope({ filter: filterValue });
            });
    </script> #}
{% endblock %}
