<!-- app/pages/contact.njk -->
{% extends "layout.njk" %}

{% block title %}
    Speakers
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}

    {{nav.active('speakers')}}



    <div class="container">
		<div class="header">
			<div class="header__img header__img-background-speakers" alt="header graphic">
				<h1 class="header__title" style="margin: 30px">Speakers</h1>
			</div>
		</div>
        {% include "partials/cardKeynoteSpeaker.njk" %}
        {% include "partials/speakersFilters.njk" %}
        {% include "partials/cardGridSpeaker.njk" %}
        {# {% include "partials/speakerCards-example.njk" %} #}

        {% include "partials/footer.njk" %}
    </div>
{% endblock %}
