<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}
    Testing
{% endblock %}
{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('testing')}}
    <div class="container">
        {% include "partials/tester.njk" %}
    </div>
{% endblock %}
