body {
    background-color: $color-background;
    overflow-x: hidden;
}

.dotGrid-background {
    background-color: $color-background;
    background-image: radial-gradient(#F4F4F4 12.5%, transparent 0),
        radial-gradient(#F4F4F4 12.5%, transparent 0);
    background-size: 31px 31px;
    background-position: 0 0,
        15.5px 15.5px;
}

.content-Block--margin-top {
  margin-top: 112px;
  @include media('<md') {
    margin-top: 96px;
  }
  @include media('<sm') {
    margin-top: 80px;
  }
}

.about-Block--margin-top {
    margin-top: 80px;

    @include media('<md') {
        margin-top: 80px;
    }

    @include media('<sm') {
        margin-top: 56px;
    }
}

.container {
  max-width: 944px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float {
    &-left {
        float: left;
    }

    &-right {
        float: right;
    }
}

//
// Flex
//
.flex {
    display: flex;

    &-inline {
        display: inline-flex;
        min-width: 0;
    }

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }

    &-align {
        &-stretch {
            align-items: stretch;
        }

        &-center {
            align-items: center;
        }

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }

        &-baseline {
            align-items: baseline;
        }

        &-content {
            &-start {
                align-content: flex-start;
            }

            &-end {
                align-content: flex-end;
            }

            &-center {
                align-content: center;
            }

            &-between {
                align-content: space-between;
            }

            &-around {
                align-content: space-around;
            }

            &-stretch {
                align-content: stretch;
            }
        }

        &-items {
            &-center {
                align-items: center;
            }

            &-start {
                align-items: flex-start;
            }

            &-end {
                align-items: flex-end;
            }

            &-baseline {
                align-items: baseline;
            }

            &-stretch {
                align-items: stretch;
            }
        }
    }

    &-justify {
        &-center {
            justify-content: center;
        }

        &-end {
            justify-content: flex-end;
        }

        &-between {
            justify-content: space-between;
        }

        &-around {
            justify-content: space-around;
        }
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-no-wrap {
        flex-wrap: nowrap;
    }

    &-reverse-wrap {
        flex-wrap: wrap-reverse;
    }

    &-item {
        &-grow {
            flex: 1;
        }

        &-shrink {
            flex: 0;
        }
    }
}

//
// Display
//
.display {
    &-none {
        display: none;
        speak: none;
    }

    &-block {
        display: block;
        speak: normal;
    }

    &-inline {
        display: inline;
        speak: normal;
    }

    &-inline-block {
        display: inline-block;
        speak: normal;
    }
}

//
// Position
//
.position {
    &-fixed {
        position: fixed;
    }

    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

// Applies to all pages to allow for fixed navbar
.body-container--padding-top {
    padding-top: 147px;
    position: relative;
}

// Locks page from scrolling when overlay is present
.noScroll {
    overflow: hidden !important;
}
