@import "main";

:local(.actionButtonLink) {
    text-decoration: none;
}

:local(.actionButton) {
    width: 624px;
    height: 40px;
    border-radius: 32px;
    background-color: $red;
    border-color: $red;
    @include media("<768px") {
        width: 559px;
        height: 40px;
    }
    @include media("<376px") {
        width: 332px;
        height: 32px;
    }
}

:local(.actionButton:hover) {
    background-color: $light-red;
    border-color: $light-red;
}

:local(.actionButtonText) {
    color: white;
    font-family: "FS Elliot", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

:local(.enterField) {
    width: 332px;
    height: 44px;
    border: solid #BDBDBD;
    border-radius: 100px;
    font-family: "FS Elliot", sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding-left: 12px;
    margin: 44px auto;
    
    @include media("<376px") {
        width: 328px;
        height: 36px;
    }
}

:local(.textArea) {
    width: 623px;
    height: 88px;
    border-radius: 8px;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 14px;
    line-height: 16px;
    border: solid #BDBDBD;
    resize: none;
    margin: 44px auto;
    
    @include media("<1024px") {
        width: 623px;
        height: 36px;
    }

    @include media("<768px") {
        width: 560px;
        height: 36px;
    }

    @include media("<376px") {
        width: 328px;
        height: 36px;
    }
}