@import "main";

:local(.navContainer) {
    height: 88px;
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0 3px $purpleblack;
    overflow: hidden;
    margin: 0 auto;
    top: 0;
    z-index: 10;
}

:local(.navContainer_bottomMargin) {
    margin-bottom: 11px;
}

:local(.logo) {
    margin-right: auto;
    // margin-left: 40px;
    @include media ('<880px') {
        margin-left: 0px;
    }
}

:local(.navElement) {
    display: block;
}

:local(.clouds) {
    position: fixed;
    background: none;
    margin-top: 7vh;
}

:local(.link) {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: $purpleblack;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    margin-left: 48px;

    @include media ('<880px') {
        font-size: 24px;
        margin-left: 0px;
        margin-bottom: 45px;
    }
}

:local(.desktopRegisterButton) {
    width: 143px;
    height: 40px;
    background: $purpleblack;
    border-radius: 32px;
    margin-left: 56px;
    border: none;
    cursor: pointer;
}

:local(.mobileRegisterButton) {
    width: 162px;
    height: 40px;
    background: $purpleblack;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    @include media ('<sm') {
        width: 147px;
    }
}

:local(.mobileNav_Open) {
    height: 100%;
    margin-top: -58px;
    width: 100%;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
}

:local(.mobileNav_Closed) {
    display: none;
}

:local(.mobileNav_Open_Container) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

:local(.registerButtonText) {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 32px;
    text-decoration: none;
    $min_width: $xs;
    $max_width: $md;
    $min_font: 18px;
    $max_font: 16px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    @include media ('<sm') {
        font-size: 18px;
    }

    @include media ('>sm') {
        font-size: 16px;
    }
}

:local(.navElements) {
    max-width: 944px;
    margin: 0 auto;
    display: flex;
    height: inherit;
    align-items: center;
}

:local(.menu) {
    padding: 0;
    padding-top: 4px;
}
