  <h1>About</h1>

  <!--Recap-->
  <video class="recap-video" controls>
    <source src="assets/video/TAW16-recap.mp4" type="video/mp4">
  </video>

  <!--logo-->
  <img src="assets/graphics/favicon.png" alt="TAW logo" class="logo">
