<h2>for students</h2>
<div class="" style="margin-top: 80px; margin-left: 40px;">
	<div class="grid__col grid__col--1-of-4">
		<img src="assets/graphics/home-hero.jpg" alt="TAW logo" class="" width="650" height="335">
	</div>
	<div class="grid__col--1-of-2">
		<p>
			Thought At Work originated as a small Industrial Design conference created by dedicated RIT students. <br><br>
			Now that it draws crowds of over <strong>500 attendees</strong>, the conference includes all types of industry professionals: Industrial Design, Interactive Design, Illustration, Motion, Graphic Design, 3D Digital Design, Experiential Design, Film and Animation, Fine Art, and more.<br><br>
			We inspire students and professionals to step up and bridge the gap between classroom and industry. <strong>We hope you’ll be a part of it.</strong>
		</p>
	</div>
</div>

<div class="text-align-right">
	<h2>by students</h2>
</div>

<div style="margin-top: 88px;">
	<div style="text-align: center;">
		<img src="assets/graphics/home-hero.jpg" alt="image" class="" width="945" height="500">
	</div>
	<div class="grid__col grid__col--1-of-3" style="margin-top: 86px; margin-left: 148px;">
		<p>Thought At Work has always aimed to keep the content fresh and interesting to our generation since <strong>students know what students want to learn.</strong><br><br>
		Interest piqued? You can be a part of this!</p>
		<a href="">GET IN TOUCH WITH US &rarr;</a>
	</div>
	<div class="grid__col grid__col--1-of-3"">
		<!--logo no image on the asset so favicon used-->
		<img src="assets/graphics/brand.svg" alt="TAW logo" class="logo" width="406" height="406">
	</div>
</div>
