<div id="about-main">
    <div id="about-info">
      <div class="about-form-heading about-row-heading">
		<h2 class="form-title form-row-title">for students</h2>
	   </div>
        <div id="about-video" class="grid__col grid__col--1-of-2">
            <video class="recap-video coming-soon--video" poster="assets/graphics/videoTN.png">
                <source src="assets/video/TAW16-recap.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div id="about-text" class="grid__col grid__col--2-of-2">
            <p>
                Thought At Work originated as a small Industrial Design conference created by RIT students.
                <p/>
                <br/>
                <p>
                    Now that it draws crowds of
                    <strong>
                        over 500 attendees,
                    </strong>
                    the conference includes all types of industry professionals : Industrial Design, Interactive Design, Illustration, Motion, Graphic Design, 3D Digital Design, Experimental Design, Film and Animation, Fine Art, and more.
                    <p/>
                    <br/>
                    <p>
                        We inspire students and professionals to step up and bridge the gap between classroom and industry.
                        <strong>
                            We hope you'll be a part of it.
                        </strong>
                    </p>
                </div>
            </div>
  
            <h2 id="about-backdrop"> by students </h2>
            <div id="about-lg-img" class="grid__col grid__col--12-of-12">
                <img src="assets/graphics/WebBanner_TAW2017.jpg" />
            </div>

            <div id="about-contact">
              <div class="grid__col grid__col--1-of-12"> </div>
                <div class="grid__col grid__col--5-of-12">
                    <p>
                        Thought At Work has always aimed to keep the content fresh
                        and interesting to our generation since <strong> students
                        know what students want to learn </strong> </p>
                    </p>
                    <br  />
                    <p>
                        Interest piqued? You can be a part of this!
                    </p>
                    <br />
                    <a href="contact.html"> GET IN TOUCH WITH US <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a> </h3>
                </div>
                <div id="about-brand" class="grid__col grid__col--6-of-12">
                    <img src="assets/graphics/brand.svg" />
                </div>
            </div>
        </div>

        {# <!--Recap--> <video class="recap-video coming-soon--video" controls poster="assets/graphics/videoTN.png"> <source src="assets/video/TAW16-recap.mp4" type="video/mp4" > Your browser does not support the video tag. </video> <!--logo no image on the
        asset so favicon used--> <img src="assets/graphics/brand.svg" alt="TAW logo" class="logo"> #}
