<div class="speakers-card--grid">
	{% for speaker in speakers.data %}
		<div class="speakers-card__fields">{{fields}}</div>
	{% endfor %}
	{# <div class="speakers-card__fields">{{speaker.fields}}</div> #}
	<img src="{{speaker.headshot}}" class="speakers-card__headshot">

	<div class="card">
		<span class="card__header speakers-card__name">{{speaker.firstName}}
			{{speaker.lastName}}</span>
		<span class="card__subhead speakers-card__position">{{speaker.position}}</span>
		<div class="speakers-card__backing-img">
			<img src="{{speaker.backingImg}}">
		</div>
	</div>
</div>
