<div class="card speakers-card--keynote">
	<img src="{{headshot}}" class="speakers-card__headshot">
	<span class="card__header speakers-card__name">{{first-name}}<br>{{last-name}}</span>
	<span class="card__subhead speakers-card__position">{{position}}<br>at {{company}}</span>
	<div class="speakers-card__backing-img">
		<img src="{{backing-img}}">
	</div>
</div>