<div class="speakers__keynote">
	<h2 class="speakers__keynote__header">keynote</h2>
	<div class="card speakers-card--keynote">
		<img src="{{speakers[1].headshot}}" class="speakers-card__headshot">
		<span class="card__header speakers-card__name">{{speakers[1].firstName}}<br>{{speakers[1].lastName}}</span>
		<span class="card__subhead speakers-card__position">{{speakers[1].position}}<br>at {{speakers[1].company}}</span>
		<div class="speakers-card__backing-img">
			<img src="{{speakers[1].backingImg}}">
		</div>
	</div>

	<div class="card speakers-card--keynote">
		<img src="{{speakers[4].headshot}}" class="speakers-card__headshot">
		<span class="card__header speakers-card__name">{{speakers[4].firstName}}<br>{{speakers[4].lastName}}</span>
		<span class="card__subhead speakers-card__position">{{speakers[4].position}}<br>at {{speakers[1].company}}</span>
		<div class="speakers-card__backing-img">
			<img src="{{speakers[4].backingImg}}">
		</div>
	</div>
</div>
