<div class="speakers-card--grid">
	{% for speaker in speakers %}
		<div class="speakers-card__fields">{{fields}}</div>
	{% endfor %}
	{# <div class="speakers-card__fields">{{speaker.fields}}</div> #}
	<img src="{{headshot}}" class="speakers-card__headshot">

	<div class="card">
		<span class="card__header speakers-card__name">{{firstName}}
			{{lastName}}</span>
		<span class="card__subhead speakers-card__position">{{position}}</span>
		<div class="speakers-card__backing-img">
			<img src="{{backingImg}}">
		</div>
	</div>
</div>
