<h1>Contact</h1>

<!-- General Info Section -->
<section class="gen-info-section">

	<div class="text-align-right gen-info-heading">
		<h2 class="gen-info-title">we're here for you</h2>
	</div>

	<div class="gen-info-row">

		<figure class="gen-info-icon">
			<img class="icon-image" src="" alt="Gen-Info-Icon">
		</figure>

		<div class="gen-info-message">
			<p>Any questions or concerns? Perhaps you're<br> 
			interested in speaking or sponsoring?</p>
			<br><br>
			<p>Maybe we already have an answer to your question.</p>
			<br>
			<a href="">CHECK OUT OUR GENERAL INFO PAGE &rarr;</a>
		</div>

	</div>

</section>

<!-- Contact Form Section -->
<section class="form-section">

	<div class="contact-form-heading">
		<h2 class="form-title">get in touch</h2>
	</div>

	<div class="form-row">
		<form class="text-align-center input-form">
			<p class="text-align-left form-message">How can we help? -</p>

			<div class="input-field">
				<input class="first-half form__input input-text" type="text" name="first_name" placeholder="First Name">
			</div>

			<div class="input-field">
				<input class="second-half form__input input-text" type="text" name="last_name" placeholder="Last Name">
			</div>

			<div class="input-field">
				<input class="first-half form__input input-text" type="text" name="email" placeholder="Email">
			</div>

			<div class="input-field">
				<select class="second-half form__input input-text" name="what_this_about">
					<option value="what-this-about" selected="true" disabled="disabled">What's this about?</option>
				</select>
			</div>

			<div class="input-field">
				<textarea class="form-full-size form__input contact-message" placeholder="Your Message"></textarea>
			</div>

			<div class="text-align-right">
			<input type="submit" value="SUBMIT" class="action--button submit-link">
			</input>
			<div>

		</form>
	</div>

</section>