<div class="eventRow">
{% for i in range(0, 4) %}
    <div class="eventWrap">
        <div class="event event--3">
            <div class="title">
                {{title}}
            </div>
            <div class="name">
                COO NAME
            </div>

            <div class="location">
                BOO-1304
            </div>
        </div>
    </div>
{% endfor %}
</div>