<div class="filters">
    <div class="schedFilter">
        <div class="content">
            <p class="filter__header">
                Friday
            </p>

            <br/>

            <p class="filter__subhead">
                Oct 24
            </p>
        </div>
    </div>

    <div class="schedFilter schedFilter--selected">
        <div class="content">
            <p class="filter__header">
                Saturday
            </p>
            <p class="filter__subhead">
                Oct 25
            </p>
        </div>
        </div>

        <div class="schedFilter">
            <div class="content">
                <p class="filter__header">
                    Sunday
                </p>
                <p class="filter__subhead">
                    Oct 26
                </p>
            </div>
        </div>
    </div>

    <div class="filters">
        <div class="speakFilter">
            <div class="content">
                <p class="filter__header">
                    All
                </p>
            </div>
        </div>

        <div class="speakFilter speakFilter--selected">
            <div class="content">
                <p class="filter__header">
                    Industrial Design
                </p>
            </div>
        </div>

            <div class="speakFilter">
                <div class="content">
                    <p class="filter__header">
                        Illustration
                    </p>
                </div>
            </div>
        </div>

    {# <div class="filters"> <div class="speakFilter"> <p class="filter__header"> Speaker </p> </div> <div class="speakFilter"> <p class="filter__header"> Speaker </p> </div> <div class="speakFilter"> <p class="filter__header"> Speaker </p> </div> </div>
    #}
