<!--Top section-->
<div class="footer-top"> 
   
<svg  class="footer-lines">
  <line x1="0" y1="1" x2="100%" y2="1" style="stroke:#efefef;stroke-width:2" />
</svg> 
       
    <a href="#" > Go Back Up </a>

    <svg  class="footer-lines">
  <line x1="0" y1="1" x2="100%" y2="1" style="stroke:#efefef;stroke-width:2" />
</svg> 
</div>

<!-- Sponsors section -->
<div class="footer-sponsors">
    <div class="logo-card">
    Eastman
    </div>
    <div class="logo-card">
    wacom
    </div>
    <div class="logo-card">
    cias
    </div>
    <div class="logo-card">
    javas
    </div>
    <div class="logo-card">
    Tinyfish
    </div>
    <div class="logo-card">
    fitc
    </div>
    <div class="logo-card">
    stickermule
    </div>
    <div class="logo-card">
        <p class="sponsor"> YOUR LOGO HERE? <p>
    </div>

    <p class="be-sponsor"> Be a Sponsor? </p>
</div>


<!-- Bottom section-->
<div class="footer-bottom">
    <div class="footer-text">
        <p class="footer-p"> Special thanks to Lorraine Justice, Josh Owen, Bruce Leonard, Adam Smith, and Benjamin Thomas </p>
        <p class="copyright"> © 2017 Thought At Work. All rights reserved </p>
    </div>
    <div class="social-media">
        <div class="icon">ss </div>
        <div class="icon">ss </div>
        <div class="icon">ss </div>
    </div>
</div>