<!--Top section-->
<div class="footer-top">
</div>

{% include "partials/scrollUp.njk" %}

{# <svg  class="footer-lines">
  <line x1="0" y1="1" x2="100%" y2="1" style="stroke:#efefef;stroke-width:2" />
</svg>

    <a href="#" > Go Back Up </a>

    <svg  class="footer-lines">
  <line x1="0" y1="1" x2="100%" y2="1" style="stroke:#efefef;stroke-width:2" />
</svg>
</div> #}

<!-- Sponsors section -->
<div class="footer-sponsors">
    <div class="logo-card">
        <img src="assets/graphics/sponsor_eastman.svg" alt="Eastman Logo">
    </div>
    <div class="logo-card">
        <img src="assets/graphics/sponsor_wacom.svg" alt="Wacom Logo">
    </div>
    <div class="logo-card">
        <img src="assets/graphics/sponsor_cias.svg" alt="CIAS Logo">
    </div>
    <div class="logo-card">
        <img src="assets/graphics/sponsor_javas.svg" alt="Javas Logo">
    </div>
    <div class="logo-card">
        <img src="assets/graphics/sponsor_tinyfish.png" alt="Tinyfish Logo">
    </div>
    <div class="logo-card">
        <img src="assets/graphics/sponsor_fitc.svg" alt="FITC Logo">
    </div>
    <div class="logo-card">
        <img src="assets/graphics/sponsor_stickermule.svg" alt="Stickermule Logo">
    </div>
    <div class="logo-card">
        <p class="sponsor"> BE A SPONSOR? <i class="fa fa-long-arrow-right" aria-hidden="true"></i> <p>
    </div>

</div>


<!-- Bottom section-->
<div class="footer-bottom">
    <div class="footer-text">
        <p class="footer-p"> Special thanks to Lorraine Justice, Josh Owen, Bruce Leonard, Adam Smith, and Benjamin Thomas </p>
        <p class="copyright"> © 2017 Thought At Work. All rights reserved </p>
    </div>
    <div class="social-media">
        <div class="icon">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        </div>
        <div class="icon">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </div>
        <div class="icon">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>
