{# <svg class="footer-lines"> <line x1="0" y1="1" x2="100%" y2="1" style="stroke:#efefef;stroke-width:2" /> </svg> <a href="#" > Go Back Up </a> <svg class="footer-lines"> <line x1="0" y1="1" x2="100%" y2="1" style="stroke:#efefef;stroke-width:2" />
</svg> </div> #}

<!-- Sponsors section -->
<footer>
    <!--Top section-->
    <div class="footer-top"></div>

    {% include "partials/scrollUp.njk" %}

    <div class="footer-sponsors">
        <div class="logo-card">
          <a href="https://www.stickermule.com/" target="_blank">
            <img src="assets/graphics/sponsor_stickermule.svg" alt="Stickermule Logo">
          </a>
        </div>
        <div class="logo-card">
          <a href="https://www.raymondcorp.com/" target="_blank">
            <img src="assets/graphics/sponsor_raymond.png" alt="Raymond Logo" style="height: 55%">
          </a>
        </div>
        <div class="logo-card">
          <a href="http://www.wacom.com/" target="_blank">
            <img src="assets/graphics/sponsor_wacom.svg" alt="Wacom Logo">
          </a>
        </div>
        <div class="logo-card">
          <a href="https://www.invisionapp.com/" target="_blank">
            <img src="assets/graphics/sponsor_invision.svg" alt="Invision">
          </a>
        </div>
        <div class="logo-card">
          <a href="http://industrialdesign.cias.rit.edu/community/idsa-student-chapter/" target="_blank">
            <img src="assets/graphics/sponsor_idsa.svg" alt="IDSA Logo" style="height: 55%">
          </a>
        </div>
        <div class="logo-card">
          <a href="https://www.keyshot.com/" target="_blank">
            <img src="assets/graphics/sponsor_keyshot.png" alt="Keyshot Logo" style="height: 55%">
          </a>
        </div>

        <div class="logo-card">
            <p class="sponsor">
                <a href="mailto:hello@thoughtatwork.org?subject=Interested%20in%20sponsoring">BE A SPONSOR?</a>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </p>
        </div>

    </div>

    <!-- Bottom section-->
    <div class="footer-bottom">
        <div class="footer-text">
            <p class="footer-p">
                Special thanks to Josh Owen, Bruce Leonard, Adam Smith, and Benjamin Thomas
            </p>
            <p class="copyright">
                © 2017 Thought At Work. All rights reserved
            </p>
        </div>
        <div class="social-media">
            <div class="icon">
                <a href="https://www.facebook.com/ThoughtAtWork/">
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.instagram.com/taw_rit/">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://twitter.com/taw_rit?lang=en">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
