<!--Home section-->
<div class="home-header">
    <h1 class="home-header__title squiggle ">
        <div class="display-inline-block">
            <span class="up">t</span>
            <span class="down">h</span>
            <span class="up">o</span>
            <span class="down">u</span>
            <span class="up">g</span>
            <span class="down">h</span>
            <span class="up">t</span>
            <span class="span--space">&nbsp;</span>
        </div>
        <div class="display-inline-block">
            <span class="down">a</span>
            <span class="up">t</span>
            <span class="span--space">&nbsp;</span>
            <span class="down">w</span>
            <span class="up">o</span>
            <span class="down">r</span>
            <span class="up">k</span>
        </div>
    </h1>

    <img class="home-header__image" src="assets/graphics/home-hero.jpg" alt="Home-page-image">
    <div class="home-header__date">
        <h3 class="date-month">october</h3>
        <h3 class="date-days">20 - 22</h3>
        <a class="date-link" href="register.php">REGISTER NOW &rarr;</a>
    </div>
</div>

<!--The bold intro text-->
<div class="home-intro__text">
    <span class="text--normal">A Design Conference Made</span>
    <h4>for Students, by Students.</h4>
    <span class="text--normal">Every 3rd Weekend October at RIT</span>
</div>

<!--Backdrop text-->
<div class="home-every">
    <h2 class="home-every__backdrop">every year</h2>
    <div class="home-every__text">
        <p>We bring industry professionals and passionate students together for a long weekend of collaboration, education, and inspiration.</p>
    </div>
</div>

<!--What and way cards-->
<div class="home-text">
    <div class="home-text__what">
        <h4 class="title--gap">What We Have</h4>
        <p>At the conference you’ll have the choice of essential workshops, insightful speaker lectures, fun events, 3 tasty (and free) meals, parties, after-parties, and countless opportunities to network. Thought At Work is a chance to get connected to the
            design world outside your campus or office.</p>
    </div>
    <div class="home-text__who">
        <h4 class="title--gap">Who Should Come</h4>
        <p>Designers of all kind : industrial, graphic, motion, 3D, experiential, and interactive designers and developers. We welcome all levels of creatives from any creative field - espeically students - to attend Thought at Work.</p>
    </div>
</div>

<!--Why backdrop alongside recap video-->
<div class="video-section">

    <div class="video-container">
        <h2 class="video-backdrop">why?</h2>

        <video class="video-container__recap" controls poster="assets/graphics/videoTN.png">
            <source src="assets/video/TAW16-recap.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="why-text">
            <h4 class="title--gap">Why?</h4>
            <p>Watch a recap of Thought At Work 2016, and see what the conference is like.</p>
        </div>

    </div>
</div>
