<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</html>

<body>
  <!--Home section-->
  <div class="home-header">
    <h1>THOUGHT AT WORK</h1>
    <img src="assets/graphics/WebBanner_TAW2017.jpg" alt="Home-page-image">
    <div class="home-date">
      <h3 class="date-month">october</h3>
      <h3 class="date-days">20 - 22</h3>
    </div>
  </div>

  <!--Just temporary-->
  <br>
  <br>
  <br>

  <!--Just headers-->
  <div class="header">
    <h1>Header</h1>
    <img src="assets/graphics/TAW-Vis-Dev-6-Edit.jpg" alt="header graphic">
  </div>

  <!--Text Card-->
  <div class="text-card">
    <h5>Why?</h5>
    <p>
      We bring together some of the best industry professionals
      with hundreds of passionate students for a weekend of inspiration,
      collaboration, and instruction that you can't get in the classroom.
    </p>
  </div>

</body>
