  <!--Home section-->
  <div class="home-header">
    <!--<h1 class="home-header__title">THOUGHT AT WORK</h1>
    -->
    <h1 class="squiggle">
      <span class="up">t</span>
      <span class="down">h</span>
      <span class="up">o</span>
      <span class="down">u</span>
      <span class="up">g</span>
      <span class="down">h</span>
      <span class="up">t</span>
      <span class="span--space"> </span>
      <span class="down">a</span>
      <span class="up">t</span>
      <span class="span--space"> </span>
      <span class="down">w</span>
      <span class="up">o</span>
      <span class="down">r</span>
      <span class="up">k</span>
    </h1>

    <img class="home-header__image"src="assets/graphics/header-img_home.jpg" alt="Home-page-image">
    <div class="home-header__date">
      <h3 class="date-month">october</h3>
      <h3 class="date-days">20 - 22</h3>
      <a  class="date-link" href="#">View Schedule</a>
    </div>
  </div>

  <!--The bold intro text-->
  <div class="home-intro__text">
    <span class="text--normal">A Design Conference Made</span>
    <h4>for Students, by Students.</h4>
    <span class="text--normal">Every October at R.I.T</span>
  </div>

  <!--Backdrop text-->
  <div class="home-every">
      <h2 class="home-every__backdrop">every year</h2>
      <div class="home-every__text">
        <p>We bring professional creatives and passionate students
        together for a long weekend of collaboration, education, and inspiration.</p>
      </div>
  </div>


  <!--What and way cards-->
  <div class="home-text">
    <div class="home-text__what">
      <h4 class="title--gap">What We Have</h4>
      <p>Attending the conference means a choice of essential workshop, insightful speakers, fun events,
      tasty (and free) meals, parties, after-parties, and countless oppurtunities to network. Thought At Work
      is a chance to get connected to the design world outside your campus or office.</p>
    </div>
    <div class="home-text__who">
      <h4 class="title--gap">Who Should Come</h4>
      <p>Designers of all kind : industrial, graphic, motion, 3D, experiential, and interactive designers and developers.
      We welcome all levels of creatives from any creative field - espeically students - to attend Thought at Work.</p>
    </div>
  </div>

  <!--Why backdrop alongside recap video-->
  <div class="home-video">
    <h2 class="video-backdrop">why?</h2>

    <video class="home-video__recap"
           controls
           poster="assets/graphics/videoTN.png">
      <source
          src="assets/video/TAW16-recap.mp4"
          type="video/mp4"
      >
      Your browser does not support the video tag.
    </video>
  </div>

  <!--Text Card over video-->
  <div class="text-card">
    <h5 class="text-card__title">WHY?</h5>
    <p class="text-card__text">
      Watch a recap of Thought At Work 2016, and listen to some of the speakers talk
      about their experience.
    </p>
  </div>

<!--
  <div class="home-cards">
    <div class=" home-card__speaker1 card speakers-card--keynote">
      <img src="assets/graphics/speakers/julie.png" class="speakers-card__headshot">
      <span class="card__header speakers-card__name">Julie<br>Zhuo</span>
      <span class="card__subhead speakers-card__position">VP of Design<br>at Facebook</span>
      <div class="speakers-card__backing-img">
        <img src="assets/graphics/speakers/TAW-Vis-Dev-5-Edit.jpg">
      </div>
    </div>

    <div class="home-card__speaker2 card speakers-card--keynote">
      <img src="assets/graphics/speakers/julie.png" class="speakers-card__headshot">
      <span class="card__header speakers-card__name">Julie<br>Zhuo</span>
      <span class="card__subhead speakers-card__position">VP of Design<br>at Facebook</span>
      <div class="speakers-card__backing-img">
        <img src="assets/graphics/speakers/TAW-Vis-Dev-5-Edit.jpg">
      </div>
    </div>

    <div class="speaker-link">
        <a href="#" class="lineup">see the line-up</a>
    </div>
  </div>
  -->

  <!--headers
  <div class="header">
    <h1 class="header__title">Header</h1>
    <img class="header__img" src="assets/graphics/TAW-Vis-Dev-6-Edit.jpg" alt="header graphic">
  </div>
  -->
