{# <div class="header__botmargin">
<div class="header__img header__img-background-info" alt="header graphic">
<h1 class="header__title">Info</h1>
</div>
</div> #}

<div class="gethere">
	<h2>send me on my way</h2>

	<p>Rochester Institute of Technology (RIT) is located at 1 Lomb Memorial Drive, Rochester, NY 14623. Approximately 20 minutes from Greater Rochester International Airport and the Amtrak and Bus stations, there are multiple ways to travel to Rochester and TAW. For information on transportation, use these links:</p>
	<a href="">VISITROCHESTER.COM &rarr;</a>
	<a href="">RIT.EDU &rarr;</a>

	<p>Once you arrive on campus, signs will direct you to parking in lots E and H and to the check-in at Booth Hall (Building 7A). If you arrive on Friday, you'll need to get a visitor pass from the Welcome Center located on Lomb Memorial Drive, just past the roundabout.</p>
</div>

<div class="welcome">
	<h2>welcome to TAW 2017</h2>

	<h4>Check-in</h4>
	<p>Check-in begins at 9am on Friday morning. The opening reception begins at 11:45am. At check-in, you'll get a lanyard and name tag, which you'll need for entry to any Thought at Work event.</p>
	<p>You'll also pick up a program brochure for a detailed view of the conference and schedule.</p>

	<h4>Catering</h4>
	<p>Not only do we bring you some of the world's best creatives, we also provide something equally enticing - free food. These meals are on us:</p>
	<p>Friday's Dinner</p>
	<p>Saturday's Breakfast and Lunch</p>
	<p>Sunday's Breakfast</p>

</div>

<div class="essentials flex">




	<div class="checklist_container text-align-left">
		<h2 class="info_header form-row-heading">the essentials</h2>
		<p class="checklist_title">We've assembled a checklist for your planning needs -</p>


		<div class="checklist_item">
			<input class="checkbox yesbox-container flex info_checkbox" type="checkbox">
			<div class="checklist_headline">Clothing</div>
			<div class="checklist_byline">Check the weather forecast in advance. Rochester's weather can be unpredictable. The conference is two days, so bring at least two pairs of underwear.</div>
		</div>

		<div class="checklist_item">
			<input class="checkbox info_checkbox" type="checkbox" >
			<div class="checklist_headline">Materials</div>
			<div class="checklist_byline">We recommend that you bring a sketchbook with a writing utensil, along with your smartphone.</div>
		</div>

		<div class="checklist_item">
			<input class="checkbox info_checkbox" type="checkbox">
			<div class="checklist_headline">Cameras</div>
			<div class="checklist_byline">Cameras are welcome at most events.</div>
		</div>

		<div class="checklist_item">
			<input class="checkbox info_checkbox" type="checkbox" >
			<div class="checklist_headline">Your work</div>
			<div class="checklist_byline">There are scheduled portfolio reviews and networking events. We suggest that you bring work samples and business cards.</div>
		</div>

	</div>
</div>

<div class="wheretostay">
	<h2>come stay awhile</h2>
</div>
