<div class="flex wheretostay">
	{# <h2>come stay awhile</h2> #}

	<div class="wheretostay_locations_container">
		<p class="wheretostay_title"><strong>Hotels</strong></p>
		<div class="wheretostay_locations">
			<p><strong>Holiday Inn</strong></p>
			<p><strong>800 Jefferson Rd</strong></p>
			<p>10 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>Radisson Hotel</strong></p>
			<p><strong>175 Jefferson Rd</strong></p>
			<p>4 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>Microtel</strong></p>
			<p><strong>900 Lehigh Station Rd</strong></p>
			<p>10 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>Days Inn</strong></p>
			<p><strong>4853 W. Henrietta Rd</strong></p>
			<p>11 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>RIT Inn and Conference Center</strong></p>
			<p><strong>5257 W. Henrietta Rd</strong></p>
			<p>12 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>DoubleTree Hilton</strong></p>
			<p><strong>1111 Jefferson Rd</strong></p>
			<p>8 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>Homewood Suites</strong></p>
			<p><strong>2095 Hylan Drive</strong></p>
			<p>8 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>Hampton Inn</strong></p>
			<p><strong>280 Clay Rd</strong></p>
			<p>7 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
		<div class="wheretostay_locations">
			<p><strong>Best Western</strong></p>
			<p><strong>940 Jefferson Rd</strong></p>
			<p>7 min drive away from RIT</p>
			<a href="">WEBSITE &rarr;</a>
		</div>
	</div>
</div>
