<div class="flex essentials">

	<div class="checklist_container text-align-left">

		<h2 class="form-row-heading">the essentials</h2>

		<p class="checklist_title">We've assembled a checklist for your planning needs -</p>

		<div class="checklist_item">
			<input class="checkbox yesbox-container flex info_checkbox" type="checkbox">
			<div class="checklist_headline">Clothing</div>
			<div class="checklist_byline">Check the weather forecast in advance. Rochester's weather can be unpredictable. The conference is two days, so bring at least two pairs of underwear.</div>
		</div>

		<div class="checklist_item">
			<input class="checkbox info_checkbox" type="checkbox" >
			<div class="checklist_headline">Materials</div>
			<div class="checklist_byline">We recommend that you bring a sketchbook with a writing utensil, along with your smartphone.</div>
		</div>

		<div class="checklist_item">
			<input class="checkbox info_checkbox" type="checkbox">
			<div class="checklist_headline">Cameras</div>
			<div class="checklist_byline">Cameras are welcome at most events.</div>
		</div>

		<div class="checklist_item">
			<input class="checkbox info_checkbox" type="checkbox" >
			<div class="checklist_headline">Your work</div>
			<div class="checklist_byline">There are scheduled portfolio reviews and networking events. We suggest that you bring work samples and business cards.</div>
		</div>

	</div>
</div>
