<div class="flex wheretostay">
	{# <h2>come stay awhile</h2> #}

	<div class="wheretostay_locations_container">
		<p class="wheretostay_title"><strong>Hotels</strong></p>
		{% for location in stayLocations %}<!--
		--><div class="wheretostay_locations">
			<p class="location__info">{{location.name}}<br />{{location.address}}</p>
			<p class="location__travel-time">{{location.travelTime}} min drive away from RIT</p>
			<a href="{{location.website}}" class="location__website">WEBSITE &rarr;</a>
		</div><!--
		-->{% endfor %}
		<p class="couch_surfing"><strong>Couch Surfing</strong></p>
		<p><strong>If you’re on a budget, many of our volunteers are happy to offer their places for temporary stay. To apply, message us through the site or email us at <a href"Hello@thoughatwork.com">Hello@thoughatwork.com</a>. Do so soon! Space is limited.
		</strong></p>
	</div>

</div>
