
<div class="flex welcome">
	<h2>welcome to TAW 2017</h2>
	<div class="info_welcome_container">


		<div class="info_welcome_image">

		</div>
		<div class="info_checkin">
			<h4 class="info_checkin_title">Check-in</h4>
			<p>Check-in begins at 9am on Friday morning. The opening reception begins at 11:45am. At check-in, you'll get a lanyard and name tag, which you'll need for entry to any Thought at Work event.</p>
			<p>You'll also pick up a program brochure for a detailed view of the conference and schedule.</p>
		</div>



		<div class="info_catering">

			<h4 class="info_checkin_title">Catering</h4>
			<p>Not only do we bring you some of the world's best creatives, we also provide something equally enticing - free food. These meals are on us:</p>
			<div class="info_catering_meals">
				<p>Friday's Dinner</p>
				<p>Saturday's Breakfast and Lunch</p>
				<p>Sunday's Breakfast</p>
			</div>
		</div>
	</div>
</div>
