
{# For register back end use #}
<script src="js/register.js"></script>

<div class="header">
    <h1 class="header__title">register</h1>
    <img class="header__img" src="assets/graphics/TAW-Vis-Dev-6-Edit.jpg" alt="header graphic">
</div>

<!-- Icon Section -->

<section class="icon-section">
    <div class="text-align-right icon-row-heading">
        <h2 class="icon-row-title">thirty dollar value</h2>
    </div>

    <div class="text-align-center icon-row">
        <figure class="icon">
            <img class="icon-image" src="" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Tickets</figcaption>
        </figure>

        <figure class="icon">
            <img class="icon-image" src="" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Food</figcaption>
        </figure>

        <figure class="icon">
            <img class="icon-image" src="" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">People</figcaption>
        </figure>

        <figure class="icon">
            <img class="icon-image" src="" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Swag</figcaption>
        </figure>

        <figure class="icon">
            <img class="icon-image" src="" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Shenanigans</figcaption>
        </figure>
    </div>
</section>

<!-- Registration Form Section -->

<section class="form-section">
    <div class="form-row-heading">
        <h2 class="form-row-title">ready, set, register</h2>
    </div>

    <div class="form-row">
        <form class="text-align-center input-form">

            <p class="text-align-left form-message">Now that we have your attention -</p>

            <div class="input-field">
                <input class="first-half input-text" type="text" name="first_name" placeholder="First Name">
            </div>

            <div class="input-field">
                <input class="second-half input-text" type="text" name="last_name" placeholder="Last Name">
            </div>

            <div class="input-field">
                <input class="first-half input-text" type="text" name="email" placeholder="Email">
            </div>

            <div class="input-field">
                <input class="second-half input-text" type="text" name="phone_number" placeholder="Phone number">
            </div>

            <div class="input-field">
                <input class="form-full-size input-text" type="text" name="university" placeholder="University">
                <!-- <span class="input-label"><p>University</p></span> -->
            </div>

            <div class="input-field">
                <input class="first-half input-text" type="text" name="address" placeholder="Address">
            </div>

            <div class="input-field">
                <input class="second-half input-text" type="text" name="city" placeholder="City">
            </div>

            <div class="input-field">
                <input class="first-half input-text" type="text" name="state" placeholder="State">
            </div>

            <div class="input-field">
                <input class="second-half input-text" type="text" name="zip" placeholder="Zip">
            </div>

            <div class="input-field">
                <input class="first-half input-text" type="text" name="position" placeholder="Major or job title">
            </div>

            <div class="input-field">
                <input class="second-half input-text" type="text" name="dietary_restrictions" placeholder="Dietary restrictions"><br>
            </div>

            <div class="input-field">
                <input class="first-half input-text" type="text" name="discount_code" placeholder="Have a discount code?">
            </div>

            <div class="text-align-left checkbox-container second-half">
                <input class="checkbox" type="checkbox" name="interpret" value="interpret">
                <p class="checkbox-label">I need interpreting services.</p>
            </div>

            <div class="text-align-right submit-link">
                <a href="">SUBMIT &rarr;</a>
            </div>

        </form>
        <div></section>
