<script type="text/javascript" src="vendors/jquery.min.js"></script>


<!-- Icon Section -->

<section class="icon-section">

    <div class="text-align-center icon-row grid">
		<h2 class="text-align-right icon-row-heading register-h2">get your ticket now</h2>
        <figure class="icon grid__col grid__col--1-of-4 grid__col--m-1-of-4 grid__col--s-1-of-4">
            <img class="icon-image" src="../assets/graphics/icons/food.svg" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Food</figcaption>
        </figure><!--

        --><figure class="icon grid__col grid__col--1-of-4 grid__col--m-1-of-4 grid__col--s-1-of-4">
            <img class="icon-image" src="../assets/graphics/icons/network.svg" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Network</figcaption>
        </figure><!--

        --><figure class="icon grid__col grid__col--1-of-4 grid__col--m-1-of-4 grid__col--s-1-of-4">
            <img class="icon-image" src="../assets/graphics/icons/swag.svg" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Swag</figcaption>
        </figure><!--

        --><figure class="icon grid__col grid__col--1-of-4 grid__col--m-1-of-4 grid__col--s-1-of-4">
            <img class="icon-image" src="../assets/graphics/icons/party.svg" alt="Icon" class="icon-image"/>
            <figcaption class="icon-label">Fun</figcaption>
        </figure>
    </div>
</section>

<!-- Registration Form Section -->

<section class="form-section">


    <div class="form-row">
		<div class="form-row-heading">
	        <h2 class="text-align-right icon-row-heading form-row-title ">ready, set, register</h2>
	    </div>
        <form class="text-align-center input-form grid" id="registerForm" method="post" action="review.php">

            <p class="text-align-left form-message">Now that we have your attention -</p>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" id="first-name" name="first-name" placeholder="First Name" required>
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" id="last-name" name="last-name" placeholder="Last Name" required>
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="email" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="tel" id="phone" name="phone" placeholder="Phone number" required>
            </div>

            <div class="input-field grid__col grid--no-gutter grid__col--span-all">
                <input class="form__input input-text" type="text" name="university" placeholder="University">
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" name="position" placeholder="Major or job title">
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" name="address" placeholder="Address">
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" name="city" placeholder="City">
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" name="state" placeholder="State">
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" name="zip" placeholder="Zip">
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <div class="checkbox-container flex text-align-left">
                    <input class="checkbox yesbox-container" value="yes" type="checkbox" name="interpret" id="yesbox">
                    <p class="checkbox-label">I need interpreting services</p>
                </div>
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" id="dietary" name="dietary" placeholder="Dietary restrictions"><br>
            </div>

            <div class="input-field grid__col grid__col--1-of-2 grid__col--m-1-of-2">
                <input class="form__input input-text" type="text" id="coupon" name="coupon" placeholder="Have a discount code?">
                <div class="coupon-container">
                    <div class="coupon-status coupon-success">
                        Valid Coupon
                    </div>
                    <div class="coupon-status coupon-fail">
                        Invalid Coupon
                    </div>
                </div>
            </div>

            <div class="text-align-right">
                <button class="flex-inline flex-align-items-center flex-justify-center action--link--button submit-link">
                    <input type="submit" value="SUBMIT" class="action--link--button grid__col grid__col--m-1-of-5"></input>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </section>
