
<div class="navOff"></div>

<script src="js/schedule.js"></script>

<main class="schedule_main flex_column">

  <div class="day_selector_cont">
    <div id="fri_text" class="day_option active flex_column flex_center">
      <p>Friday</p>
    </div>
    <div id="sat_text" class="day_option flex_column flex_center">
      <p>Saturday</p>
    </div>
    <div id="sun_text" class="day_option flex_column flex_center">
      <p>Sunday</p>
    </div>
  </div>

  <div id="schedule" class="schedule_cont flex_column">

  </div>

</main>
