
<div class="navOff"></div>

<script src="js/schedule.js?version=3"></script>

<main class="schedule_main flex flex-column">

  <div class="day_selector_cont flex-justify-center">
    <div id="fri_text" class="day_option schedule-filter-active flex flex-column flex-justify-center">
      <p>Friday</p>
    </div>
    <div id="sat_text" class="day_option flex flex-column flex-justify-center">
      <p>Saturday</p>
    </div>
    <div id="sun_text" class="day_option flex flex-column flex-justify-center">
      <p>Sunday</p>
    </div>
  </div>

  <div id="schedule" class="schedule_cont flex flex-column">

  </div>

</main>
