<div class="flex modal-holder noScroll">
<div class="modal card speakers-modal modal--hidden">
	<img class="modal__x" src="../assets/graphics/icons/modal-x.svg">
	<div class="modal__content">
		<h4 class="card__header speakers-modal__name">First Last</h4>
		<h5 class="card__subhead speakers-modal__position">Position at company</h5>
		<div class="speakers-modal__headshot"><img src="">
		</div>
		<div class="speakers-modal__social"><img src="../assets/graphics/facebook_teal.svg" class="speakers-modal__social__img"><img src="../assets/graphics/instagram_teal.svg" class="speakers-modal__social__img"></div>
		<p class="speakers-modal__desc"></p>
		<div class="modal__accord">
			<h5 class="card__header">Presentations</h5>
			<p class="modal__accord-title speakers-modal__event">Presentation 1</p>
			<div class="modal__accord-item"></div>
			<p class="modal__accord-title speakers-modal__event">Presentation 2</p>
		</div>
	</div>
</div>
</div>
<div class="modal-closer modal--hidden">
</div>
