<div class="modal card speakers-modal">
	<img class="modal__close" src="">
	<div class="modal__content">
		<h4 class="card__header speakers-modal__name">First Last</h4>
		<h5 class="card__subhead speakers-modal__position">Position at company</h5>
		<img class="speakers-modal__headshot" src="../assets/graphics/speakers/pattie_moore.jpg" class="">
		<p>Patricia Moore is an internationally renowned gerontologist and designer, serving as a leading authority on consumer lifespan behaviors and requirements. Moore was selected in 2000 by a consortium of news editors and organizations as one of The 100 Most Important Women in America. Syracuse University selected Moore for a 2012 Honorary Doctorate for serving as a “guiding force for a more humane and livable world, blazing a path for inclusiveness, as a true leader in the movement of Universal Design.”</p>
		<div class="speakers-modal__social"></div>
		<h5>Presentations</h5>
		<p class="modal__accord-title speakers-modal__event">Presentation 1</p>
		<div class="modal__accord-item"></div>
		<p class="modal__accord-title speakers-modal__event">Presentation 1</p>
	</div>
</div>