<div class="card speakers-card--keynote">
  <img src="assets/graphics/speakers/julie.png" class="speakers-card__headshot">
  <span class="card__header speakers-card__name">Julie<br>Zhuo</span>
  <span class="card__subhead speakers-card__position">VP of Design<br>at Facebook</span>
  <div class="speakers-card__backing-img">
    <img src="images/TAW-Vis-Dev-5-Edit.jpg">
  </div>
</div>


<div class="speakers-card--grid">
  <div class="speakers-card__fields">UI/UX | Marketing</div>
  <img src="assets/graphics/speakers/miguel_cardona.jpg" class="speakers-card__headshot">

  <div class="card">
    <span class="card__header speakers-card__name">Miguel Cardona</span>
    <span class="card__subhead speakers-card__position">Lead Designer at imgix</span>
    <div class="speakers-card__backing-img">
      <img src="assets/graphics/speakers/TAW-Vis-Dev-5-Edit.jpg">
    </div>
  </div>
</div>


<div class="speakers-card--grid">
  <div class="speakers-card__fields">Industrial Design | UX | Geriatrics</div>
  <img src="assets/graphics/speakers/pattie_moore.jpg" class="speakers-card__headshot">

  <div class="card">
    <span class="card__header speakers-card__name">Patricia Moore</span>
    <span class="card__subhead speakers-card__position">President Officer at Moore Design Associates</span>
    <div class="speakers-card__backing-img">
      <img src="assets/graphics/speakers/TAW-Vis-Dev-5-Edit.jpg">
    </div>
  </div>
</div>
