.toTop {
	margin: 15px auto;
	display: table;
  cursor: pointer;
	&-hr {
		float: left;
		width: 11vw;
		border: 1px solid #EFEFEF;
	}
	&-link {
		float: left;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
		&-icon {
			padding-bottom: 10px;
		}
	}
}
