{% macro pageNames(pName) %}
<div class="header__botmargin">
	<div class="header__img header__img-background-register" alt="header graphic">
		<h1 class="header__title" >
			{{ pName }}
		</h1>
	</div>
</div>
 {% endmacro %}
