{% macro active(activePage = 'home') %}
    <header class="nav--header">
        <nav class="nav--container">
            <div class="nav--logo">
                <a href="index.html">
                    <img class="nav--brand" src="assets/graphics/brand.svg"/></a>
            </div>
            <div class="nav--icon">
                <span class="nav--toggle">☰</span>
            </div>
            <ul class="nav--list">
                <li class="nav--list-item">
                    <a href="speakers.html" class="{%if activePage == 'speakers' %} nav--active {% endif %}">Speakers</a>
                </li>
                <li class="nav--list-item">
                    <a href="schedule.html" class="{%if activePage == 'schedule' %} nav--active {% endif %}">Schedule</a>
                </li>
                <li class="nav--list-item">
                    <a href="details.html" class="{%if activePage == 'details' %} nav--active {% endif %}">Details</a>
                </li>
                <li class="nav--list-item">
                    <a href="contact.html" class="{%if activePage == 'contact' %} nav--active {% endif %}">Contact</a>
                </li>
                <li class="nav--list-item">
                    <a href="about.html" class="{%if activePage == 'about' %} nav--active {% endif %}">About</a>
                </li>
                <li class="nav--list-item">
                    <a href="register.html" class="{%if activePage == 'register' %} nav--active {% endif %}">Register</a>
                </li>
            </ul>
        </nav>
    </header>
{% endmacro %}
