{% macro active(activePage = 'home') %}
    <header class="nav--header">
        <nav class="nav--container">
            <ul class="nav--list">
                <li class="nav--list-item">
                    <a href="index.html" class="{%if activePage == 'home' %} nav--active {% endif %}">Home</a>
                </li>
                <li class="nav--list-item">
                    <a href="speakers.html" class="{%if activePage == 'speakers' %} nav--active {% endif %}">Speakers</a>
                </li>
                <li class="nav--list-item">
                    <a href="schedule.html" class="{%if activePage == 'schedule' %} nav--active {% endif %}">schedule</a>
                </li>
                <li class="nav--list-item">
                    <a href="info-gethere.html" class="{%if activePage == 'info-gethere' %} nav--active {% endif %}">info</a>
                </li>
                <li class="nav--list-item">
                    <a href="contact.html" class="{%if activePage == 'contact' %} nav--active {% endif %}">Contact</a>
                </li>
                {# <li class="nav--list-item">
                    <a href="about.html" class="{%if activePage == 'about' %} nav--active {% endif %}">About</a>
                </li> #}
                <li class="nav--list-item">
                    <a href="register.php" class=" register {%if activePage == 'register' %} nav--active {% endif %}">Register</a>
                </li>
            </ul>

            <div class="nav--mobile-icons">

                <div class="nav--menu">
                    <span class="nav--toggle">☰</span>
                </div>

                <div class="nav--logo">
                    {# PUT BACK IN WHEN HOME IS READY #}
                    <a href="index.html">
                    <img class="nav--brand" src="assets/graphics/brand.svg"/>
                    </a>
                </div>

                <div class="nav--register">
                <a href="register.php">
                    <img class="nav--ticket" src="assets/graphics/icons/ticket.svg"/></a>
                </div>

            </div>

            <div id="nav--mobile" class="nav--overlay">

              <a href="javascript:void(0)" class="nav--overlay-closebtn">&times;</a>

              <div class="nav--overlay-content">

                {# Put back in for other pages #}
                <a href="index.html" class="{%if activePage == 'home' %} nav--active {% endif %} nav--overlay-content-link">HOME</a>
                <a href="speakers.html" class="{%if activePage == 'speakers' %} nav--active {% endif %} nav--overlay-content-link">SPEAKERS</a>
                <a href="info-gethere.html" class="{%if activePage == 'info' %} nav--active {% endif %} nav--overlay-content-link">INFO</a>
                {# <a href="about.html" class="{%if activePage == 'about' %} nav--active {% endif %} nav--overlay-content-link">ABOUT</a> #}
                <a href="schedule.html" class="{%if activePage == 'schedule' %} nav--active {% endif %} nav--overlay-content-link">SCHEDULE</a>
                <a href="contact.html" class="{%if activePage == 'about' %} nav--active {% endif %} nav--overlay-content-link">CONTACT</a>
                <a href="register.php" class="{%if activePage == 'register' %} nav--active {% endif %} nav--overlay-content-link">REGISTER</a>

                <div class="nav--social">
                    <a class="nav--social-link" href="https://facebook.com/ThoughtAtWork">
                        <img class="nav--social-image" src="assets/graphics/facebook.svg">
                    </a>
                    <a class="nav--social-link" href="https://twitter.com/taw_rit">
                        <img class="nav--social-image" src="assets/graphics/twitter.svg">
                    </a>
                    <a class="nav--social-link" href="https://instagram.com/taw_rit">
                        <img class="nav--social-image" src="assets/graphics/instagram.svg">
                    </a>
                </div>

                <p class="nav--overlay-text"><em>Special Thanks</em> to Lorraine Justice,
                Josh Owen, Bruce Leonard, Adam Smith</p>
                <br>
                <p class="nav--overlay-text">&copy;2017 Thought At Work. All rights reserved.</p>
              </div>

            </div>

        </nav>
    </header>
 {% endmacro %}
