//
// Floats
//

body {
  background-color: $color-background;
}

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float {
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}

//
// Flex
//

.flex {
    display: flex;

    &-inline {
        display: inline-flex;
        min-width: 0;
    }

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }

    &-align {
        &-stretch {
            align-items: stretch;
        }

        &-center {
            align-items: center;
        }

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }

        &-baseline {
            align-items: baseline;
        }

        &-content {
            &-start {
                align-content: flex-start;
            }

            &-end {
                align-content: flex-end;
            }

            &-center {
                align-content: center;
            }

            &-between {
                align-content: space-between;
            }

            &-around {
                align-content: space-around;
            }

            &-stretch {
                align-content: stretch;
            }
        }

        &-items {
            &-center {
                align-items: center;
            }

            &-start {
                align-items: flex-start;
            }

            &-end {
                align-items: flex-end;
            }

            &-baseline {
                align-items: baseline;
            }

            &-stretch {
                align-items: stretch;
            }
        }
    }

    &-justify {
        &-center {
            justify-content: center;
        }

        &-end {
            justify-content: flex-end;
        }

        &-between {
            justify-content: space-between;
        }

        &-around {
            justify-content: space-around;
        }
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-no-wrap {
        flex-wrap: nowrap;
    }

    &-reverse-wrap {
        flex-wrap: wrap-reverse;
    }

    &-item {
        &-grow {
            flex: 1;
        }
        &-shrink {
            flex: 0;
        }
    }
}

//
// Display
//
.display {
    &-none {
        display: none;
        speak: none;
    }

    &-block {
        display: block;
        speak: normal;
    }

    &-inline{
        display: inline;
        speak: normal;
    }

    &-inline-block {
        display: inline-block;
        speak: normal;
    }
}

//
// Position
//

.position {
    &-fixed {
        position: fixed;
    }

    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}
