//
// Text
//

.text {
    &-justify {
        text-align: justify;
    }

    &-nowrap {
        white-space: nowrap;
    }

    &-wrap {
        word-wrap: break-word;
        white-space: normal;
    }

    &-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-lowercase {
        text-transform: lowercase !important;
    }

    &-uppercase {
        text-transform: uppercase !important;
    }

    &-capitalize {
        text-transform: capitalize !important;
    }

    &-align {
        &-left {
            text-align: left !important;

            @each $breakpoint in map-keys($breakpoints) {
                &-#{$breakpoint} {
                    &-up {
                        @include media('>#{$breakpoint}') {
                            text-align: left !important;
                        }
                    }

                    &-down {
                        @include media('<#{$breakpoint}') {
                            text-align: left !important;
                        }
                    }
                }
            }
        }

        &-center {
            text-align: center !important;

            @each $breakpoint in map-keys($breakpoints) {
                &-#{$breakpoint} {
                    &-up {
                        @include media('>#{$breakpoint}') {
                            text-align: center !important;
                        }
                    }

                    &-down {
                        @include media('<#{$breakpoint}') {
                            text-align: center !important;
                        }
                    }
                }
            }
        }

        &-right {
            text-align: right !important;

            @each $breakpoint in map-keys($breakpoints) {
                &-#{$breakpoint} {
                    &-up {
                        @include media('>#{$breakpoint}') {
                            text-align: right !important;
                        }
                    }

                    &-down {
                        @include media('<#{$breakpoint}') {
                            text-align: right !important;
                        }
                    }
                }
            }
        }
    }

    //
    // DEPRECATED | Will be removed in future versions
    // Use 'text-align-{left, center, right}-{down,up}' instead
    //
    @each $breakpoint in map-keys($breakpoints) {
        &-#{$breakpoint} {
            @include media('>#{$breakpoint}') {
                &-left {
                    text-align: left !important;
                }

                &-right {
                    text-align: right !important;
                }

                &-center {
                    text-align: center !important;
                }
            }
        }
    }
}
