@import "../../main";

:local(.schedule_block) {
    background: #FFFFFF;
    box-sizing: border-box;

    @include media ('<xs') {
        margin-bottom: 24px;
    }
    margin-bottom: 32px;
}

:local(.schedule_block__content) {
    border-left: 3px solid;
    border-bottom: 1.5px solid #E5E5E5;
    border-right: 1.5px solid #E5E5E5;
    border-radius: 0px 0px 8px 0px;
    box-sizing: border-box;
}

:local(.event_spacing) {
  margin-right: 64px;
  @include media ('<xs') {
      margin-left: 20px;
  }

  @include media ('<sm') {
      margin-left: 24px;
  }
  margin-left: 27px;

  @include media ('<xs') {
      padding-bottom: 24px;
  }
  padding-top: 24px;
  padding-bottom: 32px;
}

:local(.duration) {
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 600;
    @include media ('<xs') {
        margin-left: 20px;
    }

    @include media ('<sm') {
        margin-left: 24px;
    }

    margin-left: 27px;
}
:local(.schedule_block__duration) {
  height: 40px;
  background: $light-grey;
  border-right: 1.5px solid #E5E5E5;
  border-left: 1.5px solid #E5E5E5;
  border-top: 1.5px solid #E5E5E5;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
}
:local(.presenterLocation) {
  padding-top: 8px;
}

:local(.event_description) {
  margin-top: 32px;
}
:local(.event_description__color) {
  color: #979797;
}