@import "../../main";

/************************/
/*The main schedule page*/
/************************/
:local(.schedule_title) {
    font-size: 60px;
    line-height: 70px;
    margin-top: 46px;
    margin-left: 155px;

    @include media ('<md') {
        margin-left: 90px;
        font-size: 42px;
    }

    @include media ('<sm') {
        margin-left: 40px;
        font-size: 42px;
    }

    @include media ('<xs') {
        margin-left: 20px;
        font-size: 36px;
    }

}

:local(.schedule_wrapper) {
    text-align: center;

    //margin: auto;
    //width: 50%;
    @include media ('<xs') {
        text-align: -webkit-center;
    }

}

:local(.container_center) {
    margin-top: 82px;
    display: inline-block;

    @include media ('<sm') {
        margin-top: 80px;
    }

    @include media ('<xs') {
        margin-top: 43px;
    }

}

/*********************/
/*  Schedule Buttons */
/*********************/


:local(.floating_buttons) {
    display: inline-flex;

    @include media ('<xs') {
        display: flex;
    }

}

:local(.button_schedule) {
    border-radius: 32px;
    text-decoration: none;
    display: block;
    width: 33%;
    max-width: 186.76px;
    height: 30px;
    background: #FFFFFF;
    text-align: center;
    line-height: 28px;
    color: #281E35;
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    border-color: #281E35;
    border: 3px solid #281E35;
    position: border-box;
}

:local(.button_schedule:hover) {
    background-color: #281E35;
    color: #FFFFFF;
}


:local(.button_schedule__leftSpacing) {
  margin-left: 5%;
}

:local(.boundaryElement_positioning) {
  height: 1px;
  top: -120px;
  position: relative;
}

:local(#sticky) {
    display: none;
}

:local(#sticky.fixed) {
    display: block;
    position: fixed;
    top: 90px;
}


:local(.button_schedule_slide) {
    margin-left: 28px;

    @include media ('<xs') {
        margin-left: 18px;
    }

}

/*********************************/
/*Formatting the Json information*/
/*********************************/
:local(.date_header) {
    text-align: initial;
    margin-top: 64px;
    font-size: 28px;
    line-height: 36px;

    @include media('<xs') {
        font-size: 24px;
        line-height: 31px;
        margin-left: 15px;
    }
}


:local(.schedule_box) {
    margin-top: 24px;
    width: 620px;
    height: 144px;
    border-radius: 8px;
    border-style: solid;
    border-color: #E5E5E5;
    background-color: #FFFFFF;

    @include media ('<xs') {
        width: 328px;
        height: 128px;
    }
}

:local(.event_info_duration) {
    background-color: rgba(200, 199, 199, 0.2);
}

:local(.duration) {
    text-align: initial;
    margin-left: 20px;
    height: 40px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5%;
    line-height: 35px;
}

:local(.event_info_location) {
    background-color: #ffffff;
}

:local(.event_title) {
    margin-left: 20px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: initial;

    @include media ('<xs') {
        font-size: 18px;
        line-height: 23px;
    }
}

:local(.event_location) {
    margin-left: 20px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: initial;

    @include media ('<xs') {
        font-size: 14px;
        line-height: 18px;
    }
}

:local(.event_type) {
    background-color: #ffffff;
    text-align: initial;
    margin-left: 20px;
    margin-top: 31px;
}

:local(.event_type-general) {
    background-color: blue;
    font-size: 100px;
}

:local(.event_type-lecture) {
    background-color: red;
}

:local(.event_type-workshop) {
    background-color: yellow;
}
