@import "../../media";

:local(.headshotContainer) {
    min-height: 216px;
    height: 21vw;
    border: 4px solid $purpleblack;
    box-sizing: border-box;
    border-radius: 5px;

    @include media ('>sm') {
        max-height: 285px;
    }
}

:local(.speakerCard_text__spacing) {
  padding-top: 16px;
  padding-bottom: 8px;
}