<div class="speakers__keynote">
	<h2 class="speakers__keynote__header">keynote</h2>
	{% for speaker in keynoteSpeakers %}
	<div class="card speaker speakers-card--keynote">
		<img src="{{speaker.headshot}}" class="speakers-card__headshot">
		<span class="card__header speakers-card__name">{{speaker.firstName}}<br>{{speaker.lastName}}</span>
		<span class="card__subhead speakers-card__position">{{speaker.position}} at {{speaker.company}}</span>
		<div class="speakers-card__backing-img">
			<img src="../assets/graphics/TAW-Vis-Dev-6-Edit.jpg">
		</div>
	</div>
	{% endfor %}
</div>
