<script src="js/register.js"></script>

<a href="register">
    <div id="flag"></div>
</a>

<div id="register" class="text-card-default">
    <h4>Registration</h4>
    <br><br>
    <p class="">Thank you for completing the first step in your registration. To make your secure credit card payment, click the button below.</p>
    <br>
    <p>Immediately after the payment transaction is processed, you will receive an email verifying the information you provided.</p>
    <br><br>
    <?php


    //print '<pre>';print_r($_POST);print '</pre>';
    echo $content;

      ?>

</div>
