{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">

    $(".schedFilter").click(function(){
        $(".schedFilter").toggleClass(".schedFilter--selected");
    });
</script> #}
<div class="filters">
    <h2 class="speakers__grid__header">speakers</h2>
    <div data-filter="*" class="card filter speakFilter">
        <p class="card__header filter__header">
            All
        </p>
    </div>
    {% for field in speakersFilters %}
        <div class="card filter speakFilter">
            <p class="card__header filter__header">
                {{field}}
            </p>
        </div>

        <!-- Add Data Filter Attr to Filters -->
        <script type="text/javascript">
            var fieldFilter = "{{field}}";
            fieldFilter = "." + fieldFilter.replace(/\s/g, '').toLowerCase();
            $(".speakFilter:last").attr("data-filter", fieldFilter);
        </script>

    {% endfor %}
</div>

{# <div class="filters"> <div class="speakFilter"> <p class="filter__header"> Speaker </p> </div> <div class="speakFilter"> <p class="filter__header"> Speaker </p> </div> <div class="speakFilter"> <p class="filter__header"> Speaker </p> </div> </div> #}

