@import "../../media";

:local(.container) {
    @include media ('>sm') {
        margin: 32px 6.3%;
    }

    margin: 32px 16px;
}

:local(.headshotContainer) {
    // width: 100%;
    border: 4px solid $purpleblack;
    box-sizing: border-box;
    width: 50%;
    height: 260px;
    border-radius: 5px;
    max-height: 260px;
    max-width: 260px;
}
