@import "../../media";

:local(.speaker_lineup__Carousel) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    @include media ('>944px') {
        padding-left: calc((100vw - 864px)/2);
    }
}