@import "../../media";

:local(.cardSize) {
    min-width: 216px;
    width: 16.5vw;

    @include media ('>sm') {
        max-width: 244px;
    }

    @include media ('<557px') {
        min-width: unset;
        width: 39.5vw;
    }
}

:local(.headshotContainer) {
    width: 100%;
    border: 4px solid $purpleblack;
    box-sizing: border-box;
    border-radius: 5px;
}

:local(.speakerCard_text) {
    max-width: 216px;

    // width: 16.5vw;
    @include media ('<557') {
        min-width: unset;
        width: 39.5vw;
    }
}

:local(.speakerCard_text__spacing) {
    padding-top: 16px;
    padding-bottom: 8px;
}