@import "../../media";

:local(.grid_cardContainer) {
    min-height: 240px;
    height: 31.25vw;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    @include media ('>sm') {
        max-height: 285px;
    }
}

:local(.speakerCard_text__spacing) {
    padding-top: 16px;
    padding-bottom: 8px;
}