@import "../../media";

:local(.speakerSizing) {
    padding-right: 0;

    @include media ('<761px') {
        padding: 0% 2%;
    }

    margin-bottom: 56px;

    @include media ('>sm') {
        padding-right: 1%;
        margin-bottom: 72px;
    }
    @include media ('>md') {
        margin-bottom: 96px;
    }
}

:local(.flexibleGrid) {
    @include media ('>sm') {
        justify-content: space-between;
    }

    justify-content: space-around;
}
