@charset "UTF-8";
/* CSS Document */

/* HIDE ALL THE DESKTOP VERSIONS AND WHATEVER ELSE */

#desktopIndex{
	display:none;
}

#mobileIndex{
	display:block;
	position:static;
	top:60px;
	height:100%;
}

.bio{
	margin-top:0px;
	max-width:100%;
}

#flag{
	display:none;
	}

.content{
	padding:0 20px;
	}
	
#video {
	display:none;
}

/* EVERYTHING */

a{
	text-decoration:none;
	color:#181b1b;
}

/* HEADER */

#nav_btn{
	display:none;
	}

#logo{
	margin:10px 47%;
	width:40px;
	height:40px;
	}	

#headerTAW{
	display:none;
	}

/* INDEX */
#mobileTop{
	height:30%;
	top:0;
	background:url('../images/graphics/schedule.png') no-repeat center center;
	background-size:40%;
	clear:both;
	margin:0 auto 10px auto;


	text-align:center;
}

#mobileMiddle{
	height:30%;
	background:url('../images/graphics/map.png') no-repeat center center;
	background-size:40%;
	margin:0 auto 10px auto;
	clear:both;

	text-align:center;
}

#mobileBottom{
	height:30%;
	background:url('../images/graphics/speaker.png') no-repeat center center;
	background-size:40%;
	clear:both;
	margin:0 auto;

	text-align:center;
}

h1.mobileLabel{
	padding-top:25%;
}


.bio{
	margin-top:0px;
	max-width:100%;
}

.content{
	padding:0 20px;
}
	
/*---------------------
HEADER
-----------------------*/

#logo{
	margin-top:15px;
	width:30px;
	height:30px;
	}	

#header h1{
	font-size:1em;
	}
	
#nav_bar{
	height:50px;
	background:#517680;
	border-top:1px solid #2C525B;
	border-bottom:1px solid #2C525B;
	}
	
#nav_bar .content{
	height:50px;
	overflow:hidden;
	padding:0 10px;
	}
	
/*---------------------
ABOUT
-----------------------*/

#icons{
	height:40px;
	width:80px;
	top:13px;
	}
	
#face, #tweet{
	height:38px;
	width:40px;
	background:url('../images/social.png');
	background-color:#f5f5f5;
	background-size:225%;
	}
	
#face{
	background-position:-5px 40px;
	left:10px;
	}
	
#tweet{
	background-position:-45px 40px;
	}

/*---------------------
TITLE SECTIONS
-----------------------*/

#work h2{
	font-size:3.4em;
	}
	
#work h3{
	font-size:.9em;
	}
	
.pic img{
	display:block;
	}

.center img{
	width: 58%;	
	margin:0 auto 30px auto;
}
	

/*---------------------
GALLERY
-----------------------*/

.arrow{
	top:40%;
	}

/*---------------------
ABOUT
-----------------------*/

#caption h2{
	font-size:1.4em;
	line-height:1.2em;
	}
	
#caption h3{
	font-size:1.1em;
	}
	
#about .block{
	width:100%;
	margin:20px 0 30px 0;
	float:none;
	}
	
.about_text{
	float:left;
	width:54%;
	margin-top:30px;
	}
	
.about_text p{
	text-align:left;
	}
	
.graphic{
	width:100px;
	height:100px;
	margin-left:10px;
	background:url('../images/graphics/about.png');
	background-size:300%;
	float:left;
	}
	
/*---------------------
EVENT
-----------------------*/

#event .blocks h2 {
	margin-top:0px;
	}
	
#team .blocks h2 {
	margin-top:60px;
	}
	
.blocks h2, .blocks h3, .blocks p {
	text-align:left;
	}
	
#event .block{
	width:100%;
	margin:2%;
	height:auto;
	min-height:50px;
	}
	
#team .block{
	width:100%;
	margin:2%;
	}
	
#event .block .pic, .coordpic {
	float:left !important;
	width:50% !important;
	margin-right:4% !important;
	}
	
.bio_dwn{
	width:100% !important;
}
	
/*---------------------
TEAM
-----------------------*/

#team .block .pic {
	float:left !important;
	width:46% !important;
	margin-right: 8% !important;
	}

#team.page .pic{
	width:160px !important;
}

#team.page .blocks{
	padding:0 20px;
}
	
/*---------------------
SPONSORS
-----------------------*/

.sponsors{
	width:33.333333333333%;
	}

.page h2 {
	margin-top:20px !important;
	}
	
/*---------------------
HISTORY
-----------------------*/	
span.comma
{
	display:none;
}

/*---------------------
SCHEDULE
-----------------------*/

#schedule_time h3{
	width:6%;
	padding-left:5px;
}

li.schedule_list
{
	font-size:10px !important;
}

#schedule_window{
	width:96%;
	margin-left:4%;
}

.s_event h1{
	font-size:.7em !important;
}

.s_event h3{
	font-size:.6em !important;
}

#schedule_time h3{
	line-height:1.2em;
	font-size:.7em !important;
}

section.infoBox{
	width:90% !important;
	margin-top:20px;
	max-height:100%;
}

.infoBox h1{
	font-size:.7em !important;
}

.infoBox h2{
	font-weight:500;
	font-size:.65em !important;
}

.infoBox h3{
	font-size:.5em !important;
}

/*.day_btn h2{
	line-height:3em;
	font-size:.8em;
}*/


p.history_coordinators{
	text-align:center;
}

span{
	display:none;
	}


#map_canvas {
	display:none; 
	}
	
/*---------------------
TRAVEL
-----------------------*/

#map_link
{
	color:#B7D250 !important;
	display:block;
}

#map_word
{
	display:none;
}

.hotels{
	padding-bottom: 80px;
}





/*---------------------
FOOTER
-----------------------*/

#footer {
	display: none;
}











