html {
  font-size: 16px; }

body {
  margin: 0; }

.gridish-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  overflow-x: hidden;
  width: 100vw; }

.gridish-container--left {
  margin-left: 0; }

.gridish-container--right {
  margin-right: 0; }

.gridish-grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: grid;
  flex-wrap: wrap;
  position: relative; }
  .gridish-grid > * {
    box-sizing: border-box; }
    .gridish-grid > * :last-child,
    .gridish-grid > * :last-child > :last-child,
    .gridish-grid > * :last-child > :last-child > :last-child {
      margin-bottom: 0; }

[class*="gridish-padding"] {
  box-sizing: border-box; }

@supports (display: grid) {
  .gridish-grid > * {
    height: 100%; } }

:root {
  --gridish-height-1: get-fixed-size($i);
  --gridish-height-2: get-fixed-size($i);
  --gridish-height-3: get-fixed-size($i);
  --gridish-height-4: get-fixed-size($i);
  --gridish-height-5: get-fixed-size($i);
  --gridish-height-6: get-fixed-size($i);
  --gridish-height-7: get-fixed-size($i);
  --gridish-height-8: get-fixed-size($i);
  --gridish-height-9: get-fixed-size($i);
  --gridish-height-10: get-fixed-size($i);
  --gridish-height-11: get-fixed-size($i);
  --gridish-height-12: get-fixed-size($i);
  --gridish-height-13: get-fixed-size($i);
  --gridish-height-14: get-fixed-size($i);
  --gridish-height-15: get-fixed-size($i);
  --gridish-height-16: get-fixed-size($i);
  --gridish-height-17: get-fixed-size($i);
  --gridish-height-18: get-fixed-size($i);
  --gridish-height-19: get-fixed-size($i);
  --gridish-height-20: get-fixed-size($i);
  --gridish-height-21: get-fixed-size($i);
  --gridish-height-22: get-fixed-size($i);
  --gridish-height-23: get-fixed-size($i);
  --gridish-height-24: get-fixed-size($i);
  --gridish-height-25: get-fixed-size($i);
  --gridish-height-26: get-fixed-size($i);
  --gridish-height-27: get-fixed-size($i);
  --gridish-height-28: get-fixed-size($i);
  --gridish-height-29: get-fixed-size($i); }

.gridish-grid__height--xsmall--0 {
  height: 0;
  min-height: 0; }

.gridish-grid__height--xsmall--1 {
  grid-row: span 1; }

.gridish-grid__height--xsmall--2 {
  grid-row: span 2; }

.gridish-grid__height--xsmall--3 {
  grid-row: span 3; }

.gridish-grid__height--xsmall--4 {
  grid-row: span 4; }

.gridish-grid__height--xsmall--5 {
  grid-row: span 5; }

.gridish-grid__height--xsmall--6 {
  grid-row: span 6; }

.gridish-grid__height--xsmall--7 {
  grid-row: span 7; }

.gridish-grid__height--xsmall--8 {
  grid-row: span 8; }

.gridish-grid__height--xsmall--9 {
  grid-row: span 9; }

.gridish-grid__height--xsmall--10 {
  grid-row: span 10; }

.gridish-grid__height--xsmall--11 {
  grid-row: span 11; }

.gridish-grid__height--xsmall--12 {
  grid-row: span 12; }

.gridish-grid__height--xsmall--13 {
  grid-row: span 13; }

.gridish-grid__height--xsmall--14 {
  grid-row: span 14; }

.gridish-grid__height--xsmall--15 {
  grid-row: span 15; }

.gridish-grid__height--xsmall--16 {
  grid-row: span 16; }

.gridish-grid__height--xsmall--17 {
  grid-row: span 17; }

.gridish-grid__height--xsmall--18 {
  grid-row: span 18; }

.gridish-grid__height--xsmall--19 {
  grid-row: span 19; }

.gridish-grid__height--xsmall--20 {
  grid-row: span 20; }

.gridish-grid__height--xsmall--21 {
  grid-row: span 21; }

.gridish-grid__height--xsmall--22 {
  grid-row: span 22; }

.gridish-grid__height--xsmall--23 {
  grid-row: span 23; }

.gridish-grid__height--xsmall--24 {
  grid-row: span 24; }

.gridish-grid__height--xsmall--25 {
  grid-row: span 25; }

.gridish-grid__height--xsmall--26 {
  grid-row: span 26; }

.gridish-grid__height--xsmall--27 {
  grid-row: span 27; }

.gridish-grid__height--xsmall--28 {
  grid-row: span 28; }

.gridish-grid__height--xsmall--29 {
  grid-row: span 29; }

[class*="gridish-grid__col--xsmall--"] {
  display: block; }

.gridish-grid__col--xsmall--0,
.gridish-grid__col--xsmall--0--only {
  display: none; }

.gridish-padding {
  padding: 0.75rem; }

.gridish-padding--bottom {
  padding-bottom: 0.75rem; }

.gridish-padding--left {
  padding-left: 0.75rem; }

.gridish-padding--right {
  padding-right: 0.75rem; }

.gridish-padding--top {
  padding-top: 0.75rem; }

.gridish-padding--horizontal {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.gridish-padding--vertical {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem; }

.gridish-grid {
  grid-auto-rows: minmax(0.5rem, min-content);
  grid-template-columns: repeat(auto-fill, calc((100vw - 1.5rem) * 0.25)); }
  .gridish-grid.gridish-grid--fixed-columns {
    grid-template-columns: repeat(auto-fill, 5.875rem); }
  .gridish-grid.gridish-grid--fluid-rows {
    grid-auto-rows: calc((100vw - 1.5rem) * 0.25); }
  .gridish-grid > * {
    grid-column: span 4; }

.gridish-grid__col--xsmall--1 {
  grid-column: span 1; }
  .gridish-grid__col--xsmall--1.gridish-grid > *:not([class*="gridish-grid__col"]) {
    grid-column: span 1; }

.gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--1 {
  grid-row: span 1; }

.gridish-grid__col--xsmall--2 {
  grid-column: span 2; }
  .gridish-grid__col--xsmall--2.gridish-grid > *:not([class*="gridish-grid__col"]) {
    grid-column: span 2; }

.gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--2 {
  grid-row: span 2; }

.gridish-grid__col--xsmall--3 {
  grid-column: span 3; }
  .gridish-grid__col--xsmall--3.gridish-grid > *:not([class*="gridish-grid__col"]) {
    grid-column: span 3; }

.gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--3 {
  grid-row: span 3; }

.gridish-grid__col--xsmall--4 {
  grid-column: span 4; }
  .gridish-grid__col--xsmall--4.gridish-grid > *:not([class*="gridish-grid__col"]) {
    grid-column: span 4; }

.gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--4 {
  grid-row: span 4; }

.gridish-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.gridish-container--left {
  margin-left: 0; }

.gridish-container--right {
  margin-right: 0; }

.gridish-container__bleed--xsmall,
.gridish-container__bleed--xsmall--left,
.gridish-container__break--xsmall,
.gridish-container__break--xsmall--left {
  margin-left: -0.75rem; }

.gridish-container__bleed--xsmall,
.gridish-container__bleed--xsmall--right,
.gridish-container__break--xsmall,
.gridish-container__break--xsmall--right {
  margin-right: -0.75rem; }

.gridish-container__bleed--xsmall,
.gridish-container__bleed--xsmall--left {
  padding-left: 0.75rem; }
  .gridish-container__bleed--xsmall.gridish-padding, .gridish-container__bleed--xsmall.gridish-padding--horizontal, .gridish-container__bleed--xsmall.gridish-padding--left,
  .gridish-container__bleed--xsmall--left.gridish-padding,
  .gridish-container__bleed--xsmall--left.gridish-padding--horizontal,
  .gridish-container__bleed--xsmall--left.gridish-padding--left {
    padding-left: calc(0.75rem + 0.75rem); }

.gridish-container__bleed--xsmall,
.gridish-container__bleed--xsmall--right {
  padding-right: 0.75rem; }
  .gridish-container__bleed--xsmall.gridish-padding, .gridish-container__bleed--xsmall.gridish-padding--horizontal, .gridish-container__bleed--xsmall.gridish-padding--right,
  .gridish-container__bleed--xsmall--right.gridish-padding,
  .gridish-container__bleed--xsmall--right.gridish-padding--horizontal,
  .gridish-container__bleed--xsmall--right.gridish-padding--right {
    padding-right: calc(0.75rem + 0.75rem); }

@media screen and (min-width: 48rem) {
  .gridish-grid__height--small--0 {
    height: 0;
    min-height: 0; }
  .gridish-grid__height--small--1 {
    grid-row: span 1; }
  .gridish-grid__height--small--2 {
    grid-row: span 2; }
  .gridish-grid__height--small--3 {
    grid-row: span 3; }
  .gridish-grid__height--small--4 {
    grid-row: span 4; }
  .gridish-grid__height--small--5 {
    grid-row: span 5; }
  .gridish-grid__height--small--6 {
    grid-row: span 6; }
  .gridish-grid__height--small--7 {
    grid-row: span 7; }
  .gridish-grid__height--small--8 {
    grid-row: span 8; }
  .gridish-grid__height--small--9 {
    grid-row: span 9; }
  .gridish-grid__height--small--10 {
    grid-row: span 10; }
  .gridish-grid__height--small--11 {
    grid-row: span 11; }
  .gridish-grid__height--small--12 {
    grid-row: span 12; }
  .gridish-grid__height--small--13 {
    grid-row: span 13; }
  .gridish-grid__height--small--14 {
    grid-row: span 14; }
  .gridish-grid__height--small--15 {
    grid-row: span 15; }
  .gridish-grid__height--small--16 {
    grid-row: span 16; }
  .gridish-grid__height--small--17 {
    grid-row: span 17; }
  .gridish-grid__height--small--18 {
    grid-row: span 18; }
  .gridish-grid__height--small--19 {
    grid-row: span 19; }
  .gridish-grid__height--small--20 {
    grid-row: span 20; }
  .gridish-grid__height--small--21 {
    grid-row: span 21; }
  .gridish-grid__height--small--22 {
    grid-row: span 22; }
  .gridish-grid__height--small--23 {
    grid-row: span 23; }
  .gridish-grid__height--small--24 {
    grid-row: span 24; }
  .gridish-grid__height--small--25 {
    grid-row: span 25; }
  .gridish-grid__height--small--26 {
    grid-row: span 26; }
  .gridish-grid__height--small--27 {
    grid-row: span 27; }
  .gridish-grid__height--small--28 {
    grid-row: span 28; }
  .gridish-grid__height--small--29 {
    grid-row: span 29; }
  .gridish-grid__col--xsmall--0--only {
    display: block; }
  [class*="gridish-grid__col--small--"] {
    display: block; }
  .gridish-grid__col--small--0,
  .gridish-grid__col--small--0--only {
    display: none; }
  .gridish-padding {
    padding: 0.75rem; }
  .gridish-padding--bottom {
    padding-bottom: 0.75rem; }
  .gridish-padding--left {
    padding-left: 0.75rem; }
  .gridish-padding--right {
    padding-right: 0.75rem; }
  .gridish-padding--top {
    padding-top: 0.75rem; }
  .gridish-padding--horizontal {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
  .gridish-padding--vertical {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
  .gridish-grid {
    grid-template-columns: repeat(auto-fill, calc((100vw - 3.5rem) * 0.125)); }
    .gridish-grid.gridish-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 6rem); }
    .gridish-grid.gridish-grid--fluid-rows {
      grid-auto-rows: calc((100vw - 3.5rem) * 0.125); }
    .gridish-grid > * {
      grid-column: span 8; }
  .gridish-grid__col--xsmall--1 {
    grid-column: span 2; }
    .gridish-grid__col--xsmall--1.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 1; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--1 {
    grid-row: span 1; }
  .gridish-grid__col--xsmall--2 {
    grid-column: span 4; }
    .gridish-grid__col--xsmall--2.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 2; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--2 {
    grid-row: span 2; }
  .gridish-grid__col--xsmall--3 {
    grid-column: span 6; }
    .gridish-grid__col--xsmall--3.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 3; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--3 {
    grid-row: span 3; }
  .gridish-grid__col--xsmall--4 {
    grid-column: span 8; }
    .gridish-grid__col--xsmall--4.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 4; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--4 {
    grid-row: span 4; }
  .gridish-grid__col--small--1 {
    grid-column: span 1; }
    .gridish-grid__col--small--1.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 1; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--1 {
    grid-row: span 1; }
  .gridish-grid__col--small--2 {
    grid-column: span 2; }
    .gridish-grid__col--small--2.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 2; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--2 {
    grid-row: span 2; }
  .gridish-grid__col--small--3 {
    grid-column: span 3; }
    .gridish-grid__col--small--3.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 3; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--3 {
    grid-row: span 3; }
  .gridish-grid__col--small--4 {
    grid-column: span 4; }
    .gridish-grid__col--small--4.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 4; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--4 {
    grid-row: span 4; }
  .gridish-grid__col--small--5 {
    grid-column: span 5; }
    .gridish-grid__col--small--5.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 5; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--5 {
    grid-row: span 5; }
  .gridish-grid__col--small--6 {
    grid-column: span 6; }
    .gridish-grid__col--small--6.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 6; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--6 {
    grid-row: span 6; }
  .gridish-grid__col--small--7 {
    grid-column: span 7; }
    .gridish-grid__col--small--7.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 7; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--7 {
    grid-row: span 7; }
  .gridish-grid__col--small--8 {
    grid-column: span 8; }
    .gridish-grid__col--small--8.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 8; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--8 {
    grid-row: span 8; }
  [class^="gridish-container__bleed--xsmall"],
  [class^="gridish-container__break--xsmall"] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
    [class^="gridish-container__bleed--xsmall"][class^="gridish-padding"],
    [class^="gridish-container__break--xsmall"][class^="gridish-padding"] {
      padding-left: 0.75rem;
      padding-right: 0.75rem; }
  .gridish-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.75rem;
    padding-right: 1.75rem; }
  .gridish-container--left {
    margin-left: 0; }
  .gridish-container--right {
    margin-right: 0; }
  .gridish-container__bleed--small,
  .gridish-container__bleed--small--left,
  .gridish-container__break--small,
  .gridish-container__break--small--left {
    margin-left: -1.75rem; }
  .gridish-container__bleed--small,
  .gridish-container__bleed--small--right,
  .gridish-container__break--small,
  .gridish-container__break--small--right {
    margin-right: -1.75rem; }
  .gridish-container__bleed--small,
  .gridish-container__bleed--small--left {
    padding-left: 1.75rem; }
    .gridish-container__bleed--small.gridish-padding, .gridish-container__bleed--small.gridish-padding--horizontal, .gridish-container__bleed--small.gridish-padding--left,
    .gridish-container__bleed--small--left.gridish-padding,
    .gridish-container__bleed--small--left.gridish-padding--horizontal,
    .gridish-container__bleed--small--left.gridish-padding--left {
      padding-left: calc(1.75rem + 0.75rem); }
  .gridish-container__bleed--small,
  .gridish-container__bleed--small--right {
    padding-right: 1.75rem; }
    .gridish-container__bleed--small.gridish-padding, .gridish-container__bleed--small.gridish-padding--horizontal, .gridish-container__bleed--small.gridish-padding--right,
    .gridish-container__bleed--small--right.gridish-padding,
    .gridish-container__bleed--small--right.gridish-padding--horizontal,
    .gridish-container__bleed--small--right.gridish-padding--right {
      padding-right: calc(1.75rem + 0.75rem); } }

@media screen and (min-width: 64rem) {
  .gridish-grid__height--medium--0 {
    height: 0;
    min-height: 0; }
  .gridish-grid__height--medium--1 {
    grid-row: span 1; }
  .gridish-grid__height--medium--2 {
    grid-row: span 2; }
  .gridish-grid__height--medium--3 {
    grid-row: span 3; }
  .gridish-grid__height--medium--4 {
    grid-row: span 4; }
  .gridish-grid__height--medium--5 {
    grid-row: span 5; }
  .gridish-grid__height--medium--6 {
    grid-row: span 6; }
  .gridish-grid__height--medium--7 {
    grid-row: span 7; }
  .gridish-grid__height--medium--8 {
    grid-row: span 8; }
  .gridish-grid__height--medium--9 {
    grid-row: span 9; }
  .gridish-grid__height--medium--10 {
    grid-row: span 10; }
  .gridish-grid__height--medium--11 {
    grid-row: span 11; }
  .gridish-grid__height--medium--12 {
    grid-row: span 12; }
  .gridish-grid__height--medium--13 {
    grid-row: span 13; }
  .gridish-grid__height--medium--14 {
    grid-row: span 14; }
  .gridish-grid__height--medium--15 {
    grid-row: span 15; }
  .gridish-grid__height--medium--16 {
    grid-row: span 16; }
  .gridish-grid__height--medium--17 {
    grid-row: span 17; }
  .gridish-grid__height--medium--18 {
    grid-row: span 18; }
  .gridish-grid__height--medium--19 {
    grid-row: span 19; }
  .gridish-grid__height--medium--20 {
    grid-row: span 20; }
  .gridish-grid__height--medium--21 {
    grid-row: span 21; }
  .gridish-grid__height--medium--22 {
    grid-row: span 22; }
  .gridish-grid__height--medium--23 {
    grid-row: span 23; }
  .gridish-grid__height--medium--24 {
    grid-row: span 24; }
  .gridish-grid__height--medium--25 {
    grid-row: span 25; }
  .gridish-grid__height--medium--26 {
    grid-row: span 26; }
  .gridish-grid__height--medium--27 {
    grid-row: span 27; }
  .gridish-grid__height--medium--28 {
    grid-row: span 28; }
  .gridish-grid__height--medium--29 {
    grid-row: span 29; }
  .gridish-grid__col--xsmall--0--only {
    display: block; }
  .gridish-grid__col--small--0--only {
    display: block; }
  [class*="gridish-grid__col--medium--"] {
    display: block; }
  .gridish-grid__col--medium--0,
  .gridish-grid__col--medium--0--only {
    display: none; }
  .gridish-padding {
    padding: 0.75rem; }
  .gridish-padding--bottom {
    padding-bottom: 0.75rem; }
  .gridish-padding--left {
    padding-left: 0.75rem; }
  .gridish-padding--right {
    padding-right: 0.75rem; }
  .gridish-padding--top {
    padding-top: 0.75rem; }
  .gridish-padding--horizontal {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
  .gridish-padding--vertical {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
  .gridish-grid {
    grid-template-columns: repeat(auto-fill, calc((100vw - 3.5rem) * 0.0833)); }
    .gridish-grid.gridish-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 5.33333rem); }
    .gridish-grid.gridish-grid--fluid-rows {
      grid-auto-rows: calc((100vw - 3.5rem) * 0.0833); }
    .gridish-grid > * {
      grid-column: span 12; }
  .gridish-grid__col--xsmall--1 {
    grid-column: span 3; }
    .gridish-grid__col--xsmall--1.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 1; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--1 {
    grid-row: span 1; }
  .gridish-grid__col--xsmall--2 {
    grid-column: span 6; }
    .gridish-grid__col--xsmall--2.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 2; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--2 {
    grid-row: span 2; }
  .gridish-grid__col--xsmall--3 {
    grid-column: span 9; }
    .gridish-grid__col--xsmall--3.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 3; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--3 {
    grid-row: span 3; }
  .gridish-grid__col--xsmall--4 {
    grid-column: span 12; }
    .gridish-grid__col--xsmall--4.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 4; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--xsmall--4 {
    grid-row: span 4; }
  .gridish-grid__col--small--1 {
    grid-column: span 1.5; }
    .gridish-grid__col--small--1.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 1; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--1 {
    grid-row: span 1; }
  .gridish-grid__col--small--2 {
    grid-column: span 3; }
    .gridish-grid__col--small--2.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 2; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--2 {
    grid-row: span 2; }
  .gridish-grid__col--small--3 {
    grid-column: span 4.5; }
    .gridish-grid__col--small--3.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 3; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--3 {
    grid-row: span 3; }
  .gridish-grid__col--small--4 {
    grid-column: span 6; }
    .gridish-grid__col--small--4.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 4; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--4 {
    grid-row: span 4; }
  .gridish-grid__col--small--5 {
    grid-column: span 7.5; }
    .gridish-grid__col--small--5.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 5; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--5 {
    grid-row: span 5; }
  .gridish-grid__col--small--6 {
    grid-column: span 9; }
    .gridish-grid__col--small--6.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 6; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--6 {
    grid-row: span 6; }
  .gridish-grid__col--small--7 {
    grid-column: span 10.5; }
    .gridish-grid__col--small--7.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 7; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--7 {
    grid-row: span 7; }
  .gridish-grid__col--small--8 {
    grid-column: span 12; }
    .gridish-grid__col--small--8.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 8; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--small--8 {
    grid-row: span 8; }
  .gridish-grid__col--medium--1 {
    grid-column: span 1; }
    .gridish-grid__col--medium--1.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 1; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--1 {
    grid-row: span 1; }
  .gridish-grid__col--medium--2 {
    grid-column: span 2; }
    .gridish-grid__col--medium--2.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 2; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--2 {
    grid-row: span 2; }
  .gridish-grid__col--medium--3 {
    grid-column: span 3; }
    .gridish-grid__col--medium--3.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 3; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--3 {
    grid-row: span 3; }
  .gridish-grid__col--medium--4 {
    grid-column: span 4; }
    .gridish-grid__col--medium--4.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 4; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--4 {
    grid-row: span 4; }
  .gridish-grid__col--medium--5 {
    grid-column: span 5; }
    .gridish-grid__col--medium--5.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 5; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--5 {
    grid-row: span 5; }
  .gridish-grid__col--medium--6 {
    grid-column: span 6; }
    .gridish-grid__col--medium--6.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 6; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--6 {
    grid-row: span 6; }
  .gridish-grid__col--medium--7 {
    grid-column: span 7; }
    .gridish-grid__col--medium--7.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 7; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--7 {
    grid-row: span 7; }
  .gridish-grid__col--medium--8 {
    grid-column: span 8; }
    .gridish-grid__col--medium--8.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 8; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--8 {
    grid-row: span 8; }
  .gridish-grid__col--medium--9 {
    grid-column: span 9; }
    .gridish-grid__col--medium--9.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 9; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--9 {
    grid-row: span 9; }
  .gridish-grid__col--medium--10 {
    grid-column: span 10; }
    .gridish-grid__col--medium--10.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 10; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--10 {
    grid-row: span 10; }
  .gridish-grid__col--medium--11 {
    grid-column: span 11; }
    .gridish-grid__col--medium--11.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 11; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--11 {
    grid-row: span 11; }
  .gridish-grid__col--medium--12 {
    grid-column: span 12; }
    .gridish-grid__col--medium--12.gridish-grid > *:not([class*="gridish-grid__col"]) {
      grid-column: span 12; }
  .gridish-grid--fluid-rows
> .gridish-grid__height--medium--12 {
    grid-row: span 12; }
  [class^="gridish-container__bleed--small"],
  [class^="gridish-container__break--small"] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
    [class^="gridish-container__bleed--small"][class^="gridish-padding"],
    [class^="gridish-container__break--small"][class^="gridish-padding"] {
      padding-left: 0.75rem;
      padding-right: 0.75rem; }
  .gridish-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.75rem;
    padding-right: 1.75rem; }
  .gridish-container--left {
    margin-left: 0; }
  .gridish-container--right {
    margin-right: 0; }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--left,
  .gridish-container__break--medium,
  .gridish-container__break--medium--left {
    margin-left: -1.75rem; }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--right,
  .gridish-container__break--medium,
  .gridish-container__break--medium--right {
    margin-right: -1.75rem; }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--left {
    padding-left: 1.75rem; }
    .gridish-container__bleed--medium.gridish-padding, .gridish-container__bleed--medium.gridish-padding--horizontal, .gridish-container__bleed--medium.gridish-padding--left,
    .gridish-container__bleed--medium--left.gridish-padding,
    .gridish-container__bleed--medium--left.gridish-padding--horizontal,
    .gridish-container__bleed--medium--left.gridish-padding--left {
      padding-left: calc(1.75rem + 0.75rem); }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--right {
    padding-right: 1.75rem; }
    .gridish-container__bleed--medium.gridish-padding, .gridish-container__bleed--medium.gridish-padding--horizontal, .gridish-container__bleed--medium.gridish-padding--right,
    .gridish-container__bleed--medium--right.gridish-padding,
    .gridish-container__bleed--medium--right.gridish-padding--horizontal,
    .gridish-container__bleed--medium--right.gridish-padding--right {
      padding-right: calc(1.75rem + 0.75rem); } }

@media screen and (min-width: 90rem) {
  .gridish-grid__col--xsmall--0--only {
    display: block; }
  .gridish-grid__col--small--0--only {
    display: block; }
  .gridish-grid__col--medium--0--only {
    display: block; }
  [class*="gridish-grid__col--large--"] {
    display: block; }
  .gridish-grid__col--large--0,
  .gridish-grid__col--large--0--only {
    display: none; }
  .gridish-padding {
    padding: 0.75rem; }
  .gridish-padding--bottom {
    padding-bottom: 0.75rem; }
  .gridish-padding--left {
    padding-left: 0.75rem; }
  .gridish-padding--right {
    padding-right: 0.75rem; }
  .gridish-padding--top {
    padding-top: 0.75rem; }
  .gridish-padding--horizontal {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
  .gridish-padding--vertical {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }
  .gridish-grid {
    grid-template-columns: repeat(auto-fill, calc((90rem - 3.5rem) * 0.0833)); }
    .gridish-grid.gridish-grid--fixed-columns {
      grid-template-columns: repeat(auto-fill, 7.5rem); }
    .gridish-grid.gridish-grid--fluid-rows {
      grid-auto-rows: calc((90rem - 3.5rem) * 0.0833); }
  .gridish-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.75rem;
    padding-right: 1.75rem; }
  .gridish-container--left {
    margin-left: 0; }
  .gridish-container--right {
    margin-right: 0; }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--left,
  .gridish-container__break--medium,
  .gridish-container__break--medium--left {
    margin-left: -1.75rem; }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--right,
  .gridish-container__break--medium,
  .gridish-container__break--medium--right {
    margin-right: -1.75rem; }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--left {
    padding-left: 1.75rem; }
    .gridish-container__bleed--medium.gridish-padding, .gridish-container__bleed--medium.gridish-padding--horizontal, .gridish-container__bleed--medium.gridish-padding--left,
    .gridish-container__bleed--medium--left.gridish-padding,
    .gridish-container__bleed--medium--left.gridish-padding--horizontal,
    .gridish-container__bleed--medium--left.gridish-padding--left {
      padding-left: calc(1.75rem + 0.75rem); }
  .gridish-container__bleed--medium,
  .gridish-container__bleed--medium--right {
    padding-right: 1.75rem; }
    .gridish-container__bleed--medium.gridish-padding, .gridish-container__bleed--medium.gridish-padding--horizontal, .gridish-container__bleed--medium.gridish-padding--right,
    .gridish-container__bleed--medium--right.gridish-padding,
    .gridish-container__bleed--medium--right.gridish-padding--horizontal,
    .gridish-container__bleed--medium--right.gridish-padding--right {
      padding-right: calc(1.75rem + 0.75rem); } }
